= simple_form_for([@extraction_forms_projects_section, @question], html: { data: { 'abide': '', 'live-validate': true }, "@submit.prevent": "updateQuestion(edit_question_id, $event.target)" }) do |f|
  = f.error_notification

  .alert.callout data-abide-error='' style='display: none;'
    p
      i.fi-alert>
      ' Please correct the errors below.

  .form-inputs
    - kqps = @question.project.key_questions_projects || []
    label.field-label for="kq-container" = 'Associated Key Questions'
    #kq-container
      = f.association :key_questions_projects, collection: kqps, label: false, as: :check_boxes, label_method: :kq_name
    label.field-label for="name-container" = 'Question Text'
    #name-container
      = f.input :name, required: true, label: false, autofocus: true
    label.field-label for="description-container" = 'Extractor Instructions'
    #description-container
      = f.input :description, label: false

    label.field-label for="structure-container" = 'Question Structure'
    #structure
      - if !params[:partial]
        div id='add_column_link' class='float-right button secondary tiny'
          i.fi-arrow-right>
          | Add Column

      div id='add_column_button' class='float-right button secondary tiny' @click="addRowOrColumn('add_column');"
        i.fi-arrow-right>
        | Add Column

      == render 'questions/table', f: f

      - if !params[:partial]
        div id='add_row_link' class='button secondary tiny'
          i.fi-arrow-down>
          | Add Row

      div id='add_row_button' class='button secondary tiny' @click="addRowOrColumn('add_row');"
        i.fi-arrow-down>
        | Add Row

  div class="form-actions flex justify-between mt-2"
    div @click='destroyResource("/questions/#{@question.id}", true)' class='delete-question button alert' Delete
    = f.button :submit, 'Save and Exit', class: 'create-button'
    / = link_to @question, method: :delete, class: 'delete-question button alert', data: { confirm: t('confirm') } do
    /   i.fi-trash>
    /   = 'Delete'
