blockquote
  ' Define the details of the question structure and type. For example, you may choose to add
    additional rows and columns to this question if you wish to structure the question in a
    matrix format. The builder is WYSIWYG (What You See Is What You Get) in terms of the layout.
    You may also choose the field type for each cell, as well as define the answer choices to
    pick from if you select radio, checkbox or dropdown type fields. Numeric fields may only
    contain numbers and text fields can be restricted to a certain maximum length. Please note
    that you are not restricted to the same type for each matrix cell but are free to mix them
    to suit your needs.

  cite Friendly Helper
