blockquote
  ' Define general question information, such as the selection of key questions this question
    addresses, the question text (required) and instructions for the extractor
    (optional).

  cite Friendly Helper
