.column.row#project-list
  h3 Create New Link
  h6 style="font-weight: bold; margin-top: 10px;" SRDR+ Project
  select id="project-create"
    - @projects.each do |project|
      option
      option value="#{ project.id }" ID #{ project.id }: #{ project.name }
  h6 style="font-weight: bold; margin-top: 10px;" Systematic Review Report
  input[type="radio" id="report-radio-file" name="report-radio" checked="checked"]
  label[for="report-radio-file" style="margin-right: 0;"] = "Upload PDF"
  span.import-tooltip-icon style="margin: 0 6px 0 3px;" data-open="import-tooltip-content"
    i.fi-info style="color:#28b0f3;font-size:20px;"
  .reveal#import-tooltip-content data-reveal="" style="font-size:large;line-height:25px;"
    | You can upload the following file formats:
    ul style="padding-top:15px;font-size:large;line-height:25px;"
      li
        a href="https://acrobat.adobe.com/us/en/acrobat/about-adobe-pdf.html" target="_blank"
          | Adobe PDF File Format Information (external site)
  input[type="radio" id="report-radio-select" name="report-radio"]
  label[for="report-radio-select"] = "Select from existing reports"
  #report-select-div.hide
    select id="report-create"
      - @reports.each do |report|
        option
        option value="#{ report.accession_id }" #{ report.accession_id }: #{ report.title }
  #report-upload-div
    input#report-upload[type="file" accept="application/pdf"]

  a.button.medium#create-new-sd-meta-datum style="margin-top: 10px;" Create
hr style="border: 0.5px solid; margin: 20px 55px;"
.column.row#sdMetaData-list
  h3 My SRDR 2.0 Dashboard
  table.hover
    thead
      tr
        th width="150" SRDR+ Project
        th width="150" Systematic Review Report
        th width="50" Progress
        th width="50" Last Updated
        th width="25"
        th width="25"
    tbody
      - if @sd_meta_data.empty?
        tr
          td
          td
          td
          td
          td
          td
      - else
        - @sd_meta_data.each do |sd_meta_datum|
          tr
            td ID #{ sd_meta_datum.try(:project).id }: #{ sd_meta_datum.try(:project).try(:name) }
            td = (sd_meta_datum.report_title.present? ? sd_meta_datum.report_title : sd_meta_datum.report.try(:title)) || '_____'
            - if sd_meta_datum.incomplete_sections.empty?
              td style="font-weight: bold;"
                | Completed
            - else
              - tooltip_text = "<span style='font-weight: bold;'>Incomplete Sections:</span><br>" + (sd_meta_datum.incomplete_sections.join('<br>'))
              td
                .success.progress data-allow-html="true" data-tooltip="" title="#{ tooltip_text }"
                  .progress-meter style="width: #{ sd_meta_datum.progress_meter_width }%;"
              /td
                p style="margin: 10px 0px;font-weight: bold;"
                  | Incomplete Sections:
                - sd_meta_datum.incomplete_sections.each do |section|
                  p style="margin: 10px 0px;" #{section}
            /td style="font-weight: #{sd_meta_datum.state == 'DRAFT' ? 'normal' : 'bold' };" = sd_meta_datum.state
            /td
              = simple_form_for(sd_meta_datum, url: sd_meta_datum_path(sd_meta_datum)) do |f|
                = f.input :state, :as => :hidden, input_html: { value: sd_meta_datum.state == 'DRAFT' ? 'COMPLETED' : 'DRAFT' }
                = f.button :submit, 'Toggle State', class: 'state-toggler', state: sd_meta_datum.state, data_sections_complete: sd_meta_datum.all_sections_complete?
            td = distance_of_time_in_words_to_now(sd_meta_datum.updated_at) + ' ago'
            td = link_to "Edit", edit_sd_meta_datum_path(sd_meta_datum.id)
            td = link_to 'Destroy', sd_meta_datum_path(sd_meta_datum), data: { confirm: 'Are you sure? This will destroy the link you have created between a report and a project in SRDR. It will also destroy everything you have entered for this project in SRDR 2.0.' }, method: :delete

javascript:
  $('.state-toggler').on('click', function(e) {
    if (this.attributes.state.value == 'DRAFT' && this.attributes.data_sections_complete.value === 'false') {
      alert('There are still incomplete sections.  Please mark any incomplete sections complete first.')
      e.preventDefault();
    }
  })

  $('#project-create').select2({
    placeholder: "Select a Project",
    allowClear: true
  })

  $('#report-create').select2({
    placeholder: "Select a Report",
    allowClear: true
  })

  $( document ).on( 'turbolinks:before-cache', function(){
    $('#report-create').select2('destroy')
    $('#project-create').select2('destroy')
  })

  $( '#report-radio-select' ).on('click', function(){
    $( '#report-select-div' ).removeClass('hide');
    $( '#report-upload-div' ).addClass('hide');
  });

  $( '#report-radio-file' ).on('click', function(){
    $( '#report-upload-div' ).removeClass('hide');
    $( '#report-select-div' ).addClass('hide');
  });

  $('#create-new-sd-meta-datum').on('click', function(e) {
    // back button fix
    Turbolinks.visit("#{project_report_links_url}")

    if ($('#report-select-div.hide').length == 0) {
      var project_id = $('#project-create').val();
      var report_accession_id = $('#report-create').val();

      if ( project_id && report_accession_id ) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/sd_meta_data",
          data: {
            sd_meta_datum: {
              project_id,
              report_accession_id
            }
          }
        });
      } else {
        if (!project_id) {
          toastr.warning("You must select an SRDR+ project")
        }
        if (!report_accession_id) {
          toastr.warning("You must select a Systematic Review report")
        }
      }
    } else {
      var form_data = new FormData();
      var project_id = $('#project-create').val();
      var report_file = $('#report-upload')[0].files[0];
      form_data.append('sd_meta_datum[report_file]', report_file);
      form_data.append('sd_meta_datum[project_id]', project_id);

      if ( project_id && report_file ) {
        e.preventDefault();
        $.ajax({
          type: "POST",
          url: "/sd_meta_data",
          processData: false,
          contentType: false,
          data: form_data
        });
      } else {
        if (!project_id) {
          toastr.warning("You must select an SRDR+ project")
        }
        if (!report_file) {
          toastr.warning("You must upload a PDF file")
        }
      }
    }
  })
