.announcement-container
  .announcement-label.label tabindex="0"
    | New Announcement
  .announcement-content
    span <b>NEW!</b>
    span Click <a href='https://evsynthacademy.org/index.php/course/data-extraction-tools-for-systematic-reviews-a-focus-on-srdr/'>here</a> for a free, online course on various data extraction tools, with a focus on <b>SRDR+</b>.
    span The course is offered through the <a href='https://evsynthacademy.org/'>Evidence Synthesis Academy</a>.

javascript:
  $('.announcement-label').on('click', function() { 
    $('.announcement-label').fadeOut('fast');
    $('.announcement-content').fadeIn('fast');
  });

  $('body').on('click', function(e) {
    container = $('.announcement-container') 
    if (!container.is(e.target) && container.has(e.target).length === 0) {
      $('.announcement-content').fadeOut('fast');
      $('.announcement-label').fadeIn('fast');
    }
  });

scss:
  .announcement-container {
    display: block; 
    position: relative; 
    left: 30px; 
    top: auto;
    .announcement-content {
      position: absolute; 
      width: 60vw; 
      background: transparent; 
      display: none;
      a {
        color: #58b3e8 !important;
        font-weight: bold;
      }
      span {
        display: block;
        color: white;
        font-size: 15px;
      }  
    }

    .announcement-label {
      cursor: pointer;
      opacity: 0.8;
      position: absolute; 
      background: #1986c7; 
      font-size: 15px; 
      font-weight: bold; 
      border-radius: 15px;
    }
  }

  .announcement-label:hover {
    opacity: 1.0;
  }
