<div class="reveal large" id="maintenance-announcement-modal" data-reveal>
  <h1>Maintenance: Saturday and Sunday, February 26-27, 2022 </h1>
  <p class="lead">Please note that servers will be undergoing maintenance starting at 11am Eastern Standard Time .</p>
  <p class="lead">Expected duration: 2 hours.</p>
  <p>If this poses a significant inconvenience, please contact our staff at SRDR@ahrq.hhs.gov or jens_jap@brown.edu to arrange for special accomodations.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
  ( function() {
    let el = new Foundation.Reveal( $( '#maintenance-announcement-modal' ), {} );
    el.open();
  } )();
</script>
