<div class="reveal large" id="maintenance-announcement-modal" data-reveal>
  <h1>Announcement:</h1>
  <p class="lead">Maintenance: February 13, 2023, 1:00am GMT until 5:00am GMT</p>
  <p>Please note that the website will be unavailable during this time.</p>
  <p>You may contact us by email via the following email address: <%=mail_to('srdr@ahrq.hhs.gov')%></p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
  ( function() {
    let el = new Foundation.Reveal( $( '#maintenance-announcement-modal' ), {} );
    el.open();
  } )();
</script>
