<div class="reveal large" id="maintenance-announcement-modal" data-reveal>
  <h1>Maintenance: Thursday, December 9, 2021 </h1>
  <p class="lead">Please note that servers will be unavailable starting at 6pm Eastern Standard Time (23:00 GMT - UTC +0).</p>
  <p class="lead">Expected duration: 1 HR.</p>
  <p>If this poses a significant inconvenience, please contact our staff at SRDR@ahrq.hhs.gov or jens_jap@brown.edu to arrange for special accomodations.</p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
  ( function() {
    let el = new Foundation.Reveal( $( '#maintenance-announcement-modal' ), {} );
    el.open();
  } )();
</script>
