<div class="reveal large" id="maintenance-announcement-modal" data-reveal>
  <h1>Announcement:</h1>
  <p class="lead">Please note that we will be updating the Citation Screening Tool.</p>
  <p>The current citation screening tool will be replaced by an updated version on December 19th, 2022</p>
  <p>Please finalize your current screening tasks or contact us if you wish to migrate your screening results to the new screening tool.</p>
  <p>You may contact us by email via the following email address: <%=mail_to('srdr@ahrq.hhs.gov')%></p>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<script type="text/javascript">
  ( function() {
    let el = new Foundation.Reveal( $( '#maintenance-announcement-modal' ), {} );
    el.open();
  } )();
</script>
