<% provide(:title, 'About') %>

<div id='left-navigation-div' tabindex=100>
</div>
<div id='content' tabindex=200>
  <h1>About the Systematic Review Data Repository</h1>
  <br />
  <p>
  In an effort to reduce the burden of conducting systematic reviews, researchers and developers at the Brown University Evidence-based Practice Center (EPC) (previously at Tufts Medical Center), with support from the <%= link_to "Agency for Healthcare Research and Quality (AHRQ)", "https://www.ahrq.gov" %>, have developed a collaborative, Web-based repository of systematic review data. This resource serves as both an archive and data extraction tool and is shared among organizations and individuals producing systematic reviews worldwide, enabling the creation of a central database of systematic review data which may be critiqued, updated, and augmented on an ongoing basis. This database is freely accessible to facilitate evidence reviews and thus improve and speed up policy-making with regards to healthcare.
  </p>
  <br />
  <p>
  The benefits of an open systematic review data repository include: improved access to data by consumers of review evidence, a promotion of transparency and reliability in the systematic review process via communal review, enhanced cooperation and utilization across related resources (such as <%= link_to "ClinicalTrials.gov", "https://www.clincialtrials.gov" %>), and a more efficient means of producing and updating systematic reviews. Such an archive would also facilitate other novel avenues of inquiry, such as those investigating research methodology (e.g., comparing different types of outcomes across disciplines, or comparing methodological quality of studies based on funding sources) by concentrating relevant data into one readily available resource. 
  <br /><br /><br />
  <h2>SRDR Annual Reports</h2>
  <br />
  The Systematic Review Data Repository has experienced significant growth since it was released to the public in June 2012. The following reports, released on an annual basis, proceed to record the growth of SRDR. We invite you to download  these reports in a PDF format using the links below.  
  <br /><br />
  <u>2015</u>: "SRDR Annual Report: December 2014 - November 2015"
  <br />
  <a href="https://s3.amazonaws.com/srdr/SRDR+2015+Annual+Report.pdf" target="_blank">PDF Format (4.2 MB)</a> [<a href="https://get.adobe.com/reader/" target="_blank">Free PDF Reader</a>]
  <br /><br /><br />
  <h2>Project Team</h2>
  <br /><br />
  <strong>Principal Investigator:</strong> Joseph Lau<br /><br />
  <strong>Interim Project Manager:</strong> Joseph Lau<br /><br />
  <strong>Active Development Team:</strong><br />
  Ethan Balk<br />
  Bryant Smith<br />
  Jens Jap<br />
  <br />
  <strong>Past Contributors:</strong><br />
  Christopher Parkin<br />
  Nira Hadar<br />
  Manlik Kwong<br />
  Sarah Keefe<br />
  Amy Earley<br />
  Ramon Iovin<br />
  Stanley Ip<br />
  <br />
  <br />
  <h2>The SRDR Governance Board</h2>
  <br />
  <br />
  <strong>Current Members:</strong>
  <br />
  <br />

  Kay Dickersin, PhD<br />
  <p style="padding-left: 40px;">
  Professor of Epidemiology<br />
  Director, Center for Clinical Trials and Evidence Synthesis<br />
  Director, US Cochrane Center<br />
  Johns Hopkins University Bloomberg School of Public Health<br />
  Baltimore, MD<br />
  </p><br />

  Christine Laine, MD, MPH<br />
  <p style="padding-left: 40px;">
  Editor in Chief, Annals of Internal Medicine<br />
  Senior Vice President, American College of Physicians<br />
  Philadelphia, PA<br />
  </p><br />

  Robert McDonough, MD, JD, MPP<br />
  <p style="padding-left: 40px;">
  Senior Director, Clinical Policy Research & Development<br />
  Aetna<br />
  Hartford, CT<br />
  </p><br />

  David Moher, PhD  <br />
  <p style="padding-left: 40px;">
  Senior Scientist, Clinical Epidemiology Program<br />
  Ottawa Hospital Research Institute<br />
  Associate Professor, School of Epidemiology, Public Health and Preventive Medicine<br />
  Faculty of Medicine, University of Ottawa<br />
  Ottawa, Canada<br />
  </p><br />

  Karen A. Robinson, PhD <br />
  <p style="padding-left: 40px;">
  Associate Professor of Medicine <br />
  Director, Johns Hopkins University EPC<br />
  Johns Hopkins University Bloomberg School of Public Health<br />
  Baltimore, MD<br />
  </p><br />

  Ida Sim, MD, PhD <br />
  <p style="padding-left: 40px;">
  Professor of Medicine<br />
  Co-Director of Biomedical Informatics of the Clinical and Translational Science Institute<br />
  UCSF School of Medicine<br />
  San Francisco, CA<br />
  </p><br />

  Joanne M. Spahn, MS, RD, FADA  <br />
  <p style="padding-left: 40px;">
  Nutrition Evidence Analysis Library, Lead Nutritionist <br />
  US Department of Agriculture<br />
  Center for Nutrition Policy and Promotion<br />
  Alexandria, VA<br />
  </p><br />

  Lesley A. Stewart, PhD<br />
  <p style="padding-left: 40px;">
  Professor and Director, Centre for Reviews and Dissemination<br />
  University of York<br />
  York, UK<br />
  </p><br />

  Dr David Tovey FRCGP <br />
  <p style="padding-left: 40px;">
  Editor in Chief, the Cochrane Library<br />
  Deputy Chief Executive Officer, Cochrane <br />
  London, UK<br />
  </p><br />

  Craig A. Umscheid, MD, MSCE  <br />
  <p style="padding-left: 40px;">
  Assistant Professor of Medicine and Epidemiology<br />
  Hospital of the University of Pennsylvania <br />
  Director, Center for Evidence-based Practice, Penn Medicine<br />
  Medical Director, Clinical Decision Support, Penn Medicine<br />
  Senior Associate Director, ECRI Institute – Penn Medicine EPC<br />
  Philadelphia, PA<br />
  </p><br />

  Evelyn P. Whitlock, MD, MPH  <br />
  <p style="padding-left: 40px;">
  Director, Kaiser Permanente Research Affiliates EPC <br />
  Senior Investigator, Senior Director for Evidence-based Medicine Research<br />
  Center for Health Research, Kaiser Permanente Northwest <br />
  Adjunct Associate Professor, Public Health and Preventive Medicine<br />
  Oregon Health Sciences University<br />
  Portland, OR<br />
  </p><br />

  Craig Whittington, PhD <br />
  <p style="padding-left: 40px;">
  Global Head of Quality, Methodology & Innovation<br />
  Doctor Evidence, LLC<br />
  Santa Monica, CA <br />
  Honorary Senior Lecturer<br />
  Centre for Outcomes Research and Effectiveness, Research Department of Clinical, Educational & Health Psychology<br />
  University College London<br />
  London, UK<br />
  </p><br />

  Deborah A. Zarin, MD  <br />
  <p style="padding-left: 40px;">
  Director, ClinicalTrials.gov<br />
  National Library of Medicine, NIH<br />
  Bethesda, MD<br />
  </p>
  <br /><br />
  <br /><br />For more information, please contact us at <a href="mailto:SRDR@ahrq.hhs.gov">SRDR@ahrq.hhs.gov</a>.
  <br /><br />
  <!-- <a href="/">Home</a> -->
</div>
