- provide(:title, 'About Us')

.about
  .hero
    .grid-x.align-center
      .cell.small-6
        h1.About-the-Systematic About the Systematic Review Data Repository Plus (SRDR+)

  .grid-x.align-center
    .cell.small-6.In-an-effort-to-redu
      p In an effort to reduce the burden of conducting systematic reviews,
        researchers and developers at the Brown University Evidence-based
        Practice Center (EPC) (previously at Tufts Medical Center), with
        support from the <a href='https://www.ahrq.gov' target='_blank'
        data-confirm="#{ @exit_disclaimer }">Agency for Healthcare
        Research and Quality (AHRQ) <span class='i fas fa-external-link-alt fa-sm'></span></a> developed a collaborative, Web-based
        repository of systematic review data. This resource serves as both
        an archive and data extraction tool and is shared among organizations
        and individuals producing systematic reviews worldwide, enabling the
        creation of a central database of systematic review data which may be
        critiqued, updated, and augmented on an ongoing basis. This database
        is freely accessible to facilitate evidence reviews and thus improve
        and speed up policy-making with regards to healthcare.
      p SRDR+ is an updated version of SRDR with a range of new features and
        improvements to the system. For a period of time, both SRDR and SRDR+
        will run in parallel. We will send out notifications so that you are
        prepared for the eventual migration of all projects from SRDR to SRDR+.

    .cell.small-6.Rectangle style="padding-top: 4em; margin-top: 2em;"
      h2.Why-have-an-open-sys Why have an open systematic review data repository?
      .Such-a-repository-he
        p Such a repository helps the world in various ways, such as through:
        ul
          li Improved access to data by consumers of systematic review evidence;
          li Promotion of transparency and reliability in the systematic review
            process via communal review;
          li Enhanced cooperation and utilization across related resources
            (such as <a href='https://clinicaltrials.gov' target='_blank'
            data-confirm="#{ @exit_disclaimer }">
            ClinicalTrials.gov <span class='i fas fa-external-link-alt fa-sm'></span></a>);
          li More efficient means of producing and updating systematic reviews; and
          li Facilitation of other novel avenues of inquiry, such as those
            investigating research methodology (e.g., comparing different types of
            outcomes across disciplines, or comparing methodological quality of
            studies based on funding sources) by concentrating relevant data into
            one readily available resource.

    .cell.small-6 style="margin-top: 4em;"
      h2.SRDR-Annual-Reports SRDR Annual Reports

    .cell.small-8
      p The Systematic Review Data Repository has experienced significant growth
        since it was released to the public in June 2012. The following reports, released on an annual basis, proceed to record the growth of SRDR. We invite you to download  these reports in a PDF format using the links below.

      table.unstriped.annual-reports
        tr
          td: strong 2013:
          td SRDR Annual Report: February 2013 - November 2013
          td = link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2013.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (1.0MB)

        tr
          td: strong 2014:
          td SRDR Annual Report: December 2013 - November 2014
          td = link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2014.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (1.0MB)

        tr
          td: strong 2015:
          td SRDR Annual Report: December 2014 - November 2015
          td = link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2015.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (1.0MB)

        tr
          td: strong 2016:
          td SRDR Annual Report: December 2015 - November 2016
          td = link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2016.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (1.0MB)

        tr
          td: strong 2017:
          td SRDR Annual Report: December 2016 - November 2017
          td = link_to 'https://s3.amazonaws.com/srdr/SRDR+Annual+Report/SRDR+Annual+Report+-+2017.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (1.0MB)

        tr
          td: strong 2019:
          td SRDR Annual Report: December 2017 - May 2019
          td = link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+Annual+Report+-+2018-19.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (1.6MB)

        tr
          td: strong 2020:
          td SRDR Annual Report: June 2019 - May 2020
          td = link_to 'https://srdr.s3.amazonaws.com/SRDR+2019-20_Annual+Report.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (2.2MB)

        tr
          td: strong 2021:
          td SRDR Annual Report: January 2020 - December 2020
          td = link_to 'https://srdr.s3.amazonaws.com/SRDR+Annual+Report/SRDR+2021_Annual+Report.pdf', target: '_blank' do
            i.fi-page-pdf  PDF (2.3MB)

    .cell.small-9 style="margin-top: 4em;"
      h2.SRDR-Project-Team SRDR Project Team

      .White-box style="padding-top: 3em;"
        .grid-x
          .cell.medium-4
            div = image_tag "photo-team-ian@2x.png", alt: 'Image of Ian Saldanha'
            div = link_to "https://vivo.brown.edu/display/isaldanh", class: "project-team-links", target: "_blank", data: { confirm: @exit_disclaimer } do
              |Ian Saldanha, MBBS, MPH, PhD
              i.fas.fa-external-link-alt.fa-sm<
            span Director and Principal Investigator:
            .subheader Brown University

          .cell.medium-4
            div = image_tag "photo-team-joseph@2x.png", alt: 'Image of Joseph Lau'
            div = link_to "https://vivo.brown.edu/display/jl122", class: "project-team-links", target: "_blank", data: { confirm: @exit_disclaimer } do
              |Joseph Lau, MD
              i.fas.fa-external-link-alt.fa-sm<
            span Founder and former Director:
            .subheader Brown University

          .cell.medium-4
            div = image_tag "photo-team-ethan@2x.png", alt: 'Image of Ethan Balk'
            div = link_to "https://vivo.brown.edu/display/ebalk", class: "project-team-links", target: "_blank", data: { confirm: @exit_disclaimer } do
              |Ethan Balk, MD, MPH
              i.fas.fa-external-link-alt.fa-sm<
            span Co-Investigator:
            .subheader Brown University

        br

        .grid-x
          .cell.medium-4
            div = image_tag "photo-team-bryant@2x.png", alt: 'Image of Bryant Smith'
            div = link_to "https://www.linkedin.com/in/bryant-smith-mph-cph-b65a3b21/", class: "project-team-links", target: "_blank", data: { confirm: @exit_disclaimer } do
              |Bryant Smith, MPH, CPH
              i.fas.fa-external-link-alt.fa-sm<
            span Administrator:
            .subheader Brown University

          .cell.medium-4
            div = image_tag "photo-team-gaelen@2x.png", alt: 'Image of Gaelen Adam'
            div = link_to "https://www.brown.edu/academics/public-health/hspp/people/gaelen-adam", class: "project-team-links", target: "_blank", data: { confirm: @exit_disclaimer } do
              |Gaelen Adam, MPH, PhD
              i.fas.fa-external-link-alt.fa-sm<
            span Program Manager:
            .subheader Brown University

          .cell.medium-4
            div = image_tag "photo-team-jens@2x.png", alt: 'Image of Jens Jap'
            div = link_to "https://www.linkedin.com/in/jens-jap-2a7b555a/", class: "project-team-links", target: "_blank", data: { confirm: @exit_disclaimer } do
              |Jens Jap, BS
              i.fas.fa-external-link-alt.fa-sm<
            span Lead Programmer:
            .subheader Brown University

    .cell.small-8 style="margin-top: 8em;"
      .grid-x
        .cell.medium-4.subsection-headers
          div CONSULTANTS
          br
          .grid-x
            .cell
              div = link_to "https://vivo.brown.edu/display/jl122", class: "project-team-links", target:"_blank", data: { confirm: @exit_disclaimer } do
                |Joseph Lau, MD
                i.fas.fa-external-link-alt.fa-sm<
              .subheader Brown University

            .cell
              div = link_to "https://www.ccis.northeastern.edu/people/byron-wallace/", class: "project-team-links", target:"_blank", data: { confirm: @exit_disclaimer } do
                |Byron Wallace, PhD
                i.fas.fa-external-link-alt.fa-sm<
              .subheader Northeastern University

            .cell
              div = link_to "https://kclpure.kcl.ac.uk/portal/iain.marshall.html", class: "project-team-links", target:"_blank", data: { confirm: @exit_disclaimer } do
                |Iain Marshall, MRCGP, PhD
                i.fas.fa-external-link-alt.fa-sm<
              .subheader King’s College London

            .cell
              div = link_to "https://www.linkedin.com/in/randyjap/", class: "project-team-links", target:"_blank", data: { confirm: @exit_disclaimer } do
                |Randy Jap, MSc
                i.fas.fa-external-link-alt.fa-sm<

        .cell.medium-6.subsection-headers.small-offset-2
          div PAST CONTRIBUTORS
          br
          .grid-x
            .cell.small-6
              strong Christopher Parkin
            .cell.small-4
              strong Amy Earley
          br
          .grid-x
            .cell.small-6
              strong Nira Hadar
            .cell.small-4
              strong Ramon Iovin
          br
          .grid-x
            .cell.small-6
              strong Manlik Kwong
            .cell.small-4
              strong Stanley Ip
          br
          .grid-x
            .cell.small-6
              strong Sarah Keefe
            .cell.small-6
              strong Birol Senturk

    .cell.small-8 style="margin-top: 8em;"
      h2.SRDR-Governance-Boar SRDR Governance Board

      br
      br
      br
      br
      div CURRENT MEMBERS
      br
      br

      table.governance-board.unstriped
        tr
          td
            div = link_to "https://apps.shp.rutgers.edu/projects/facultyLocator/profile1.cfm?RUID=parrotja", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |James Scott Parrott, PhD (Chair)
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Professor, Rutgers University School of Health Professions, Newark, NJ, USA

          td
            div = link_to "http://magicproject.org/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Linn Brandt, MD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Member, MAGIC Board, University of Oslo, Oslo, Norway

        tr
          td
            div = link_to "http://annals.org/aim/pages/biography", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Christine Laine, MD, MPH
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Editor-in-Chief, Annals of Internal Medicine, American College of Physicians, Philadelphia, PA, USA

          td
            div = link_to "https://www.linkedin.com/in/mcdonough-robert-2317a29/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Robert McDonough, MD, JD, MPP
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Senior Director, Clinical Policy Research & Development, Aetna, Hartford, CT, USA

        tr
          td
            div = link_to "https://www.linkedin.com/in/maria-michaels-mba-pmp-b793689", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Maria Michaels, MBA, PMP
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Public Health Advisor, Centers for Disease Control and Prevention (CDC), Atlanta, GA, USA

          td
            div = link_to "https://www.hopkinsmedicine.org/profiles/results/directory/profile/4592359/karen-robinson", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Karen Robinson, MSc, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Associate Professor and Director, Johns Hopkins Evidence-based Practice Center, Johns Hopkins University, Baltimore, MD, USA

        tr
          td
            div = link_to "https://www.linkedin.com/in/joanne-spahn-26005414/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Joanne M. Spahn, MS, RD, FADA
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Lead Nutritionist, US Department of Agriculture Center for Nutrition Policy and Promotion, Alexandria, VA, USA

          td
            div = link_to "https://iris.ucl.ac.uk/iris/browse/profile?upi=JTHOA32&openTabNum=2", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |James Thomas, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Associate Director, Evidence for Policy and Practice Information and Co-ordinating Centre (EPPI-Centre), University College London, London, UK

        tr
          td
            div = link_to "http://iristl.org/faculty/howard-white/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Howard White, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Chief Executive Officer, Campbell Collaboration, Washington University in St. Louis, St. Louis, MO, USA

          td
            div = link_to "https://www.linkedin.com/in/craig-whittington-71472697/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Craig Whittington, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Global Head of Quality, Methodology & Innovation, Doctor Evidence, LLC., Santa Monica, CA, USA

      br
      br
      div FORMER MEMBERS (WITH CURRENT AFFILIATIONS):
      br
      br

      table.governance-board.unstriped
        tr
          td
            div = link_to "https://www.jhsph.edu/faculty/directory/profile/1695/kay-dickersin", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Kay Dickersin, MA, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Professor Emeritus and Former Director, Cochrane Eyes and Vision, Johns Hopkins University, Baltimore, MD, USA
          td
            div = link_to "http://www.ohri.ca/profile/dmoher", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |David Moher, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Editor-in-Chief, Systematic Reviews, Associate Professor, University of Ottawa, Ottawa, ON, Canada
        tr
          td
            div = link_to "https://vivli.org/team/ida-sim/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Ida Sim, MD, PhD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Technical Lead, Vivli, Professor, University of California San Francisco, San Francisco, CA, USA

          td
            div = link_to "https://www.york.ac.uk/crd/staff/lesley-stewart/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Lesley A. Stewart
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Professor and Director, Centre for Reviews and Dissemination, University of York, York, UK

        tr
          td
            div = link_to "https://community.cochrane.org/editorial-and-publishing-policy-resource/overview-cochrane-library-and-related-content/editorial-team", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |David Tovey, MBBS
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Editor-in-Chief, Cochrane Library, London, UK

          td
            div = link_to "https://hdsi.uchicago.edu/center-staff/", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Craig A. Umscheid, MD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Director, Center for Healthcare Delivery and Service and Innovation, University of Chicago, Chicago, IL, USA

        tr
          td
            div = link_to "https://www.pcori.org/people/evelyn-p-whitlock-md-mph", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Evelyn P. Whitlock, MD, MPH
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Senior Scientific Officer, Patient-Centered Outcomes Research Institute, Washington, DC, USA

          td
            div = link_to "https://en.wikipedia.org/wiki/Deborah_Zarin", target: "_blank", class: "governance-board-links", data: { confirm: @exit_disclaimer } do
              |Deborah A. Zarin, MD
              i.fas.fa-external-link-alt.fa-sm<
            .subheader Former Director, ClinicalTrials.gov, National Library of Medicine, Bethesda, MD, USA


    .cell.small-12 style="margin-top: 8em; margin-bottom: 4em;"
      div style='font-style: italic; text-align: center;' For more information, please contact us at <a href='mailto:SRDR@ahrq.hhs.gov?Subject=srdrPLUS'>SRDR@ahrq.hhs.gov</a>.
