<% content_for :title, content='Citing' %>

<div class="grid-container">
  <div id='content' tabindex=200>
    <a name='top'></a>
    <h1>How to Cite SRDR+</h1>
    <h2>Citing SRDR+</h2>
    <br/>
    If you would like to cite SRDR, please use the templates below. If you are not using American Medical Association (AMA) or American Psychological Association (APA) style, you will have to convert the citation to fit your style.<br/><br/>

    <span style='text-decoration:underline;font-weight:bold;'>If used to retrieve data:</span><br/>

    Systematic Review Data Repository.  Retrieved from https://srdr.ahrq.gov/ ([insert date received]).<br/><br/>

    <span style='text-decoration:underline;font-weight:bold;'>If used as an extraction tool:</span>
    <br/>
    Systematic Review Data Repository.  Accessed at https://srdr.ahrq.gov/ ([insert date retrieved]).<br/><br/>

    <h2>Citing Project Data</h2><br/>
    To cite a specific data set or review, please use the templates below. If you are not using American Medical Association (AMA), American Psychological Association (APA), or Chicago style, you will have to convert the citation to fit your style.
    <br/><br>
    <span style='font-weight:bold;font-size:15px;'>American Medical Association (AMA):</span><br/>
    Author. Title of data set or SR. Date of publication. [cited date of retrieval]. In: Systematic Review Data Repository. Available from: direct url of the SR project.<br/><br/>
    <span style='font-style:italic;text-decoration:underline;'>Example:</span><br/>
    Mei Chung, PhD, MPH Jiantao Ma, MD, MS Kamal Patel, MPH, MBA Samantha Berger, BS Joseph Lau, MD Alice H. Lichtenstein, ScD. Fructose Consumption and Non-alcoholic Fatty Liver Disease (NAFLD). July 2013 [cited August 8, 2013]. In: Systematic Review Data Repository. Available from: https://srdr.ahrq.gov/projects/64*<br/><br/>

    <span style='font-weight:bold;font-size:15px;'>American Psychological Association (APA):</span>
    <br/>
    Author, A. (date). Title of review. Retrieved date from direct url.<br/><br/>
    <span style='font-style:italic;text-decoration:underline;'>Example of SR Project in the SRDR Site:</span>
    Chung, M., Ma, J., Patel k., Berger, B., Lau, l., Lichtenstein, AH. Fructose Consumption and Non-alcoholic Fatty Liver Disease (NAFLD). (July 2013). Retrieved August 8, 2013, from https://srdr.ahrq.gov/projects/64*
    <br/><br/>
    <span style='font-weight:bold;font-size:15px;'>Chicago Manual of Style</span><br/>
    Title, author, Systematic Review Data Repository, last modified date, accessed date, direct url.
    <br/><br/>
    <span style='font-style:italic;text-decoration:underline;'>Example</span><br/>
    "Fructose Consumption and Non-alcoholic Fatty Liver Disease (NAFLD)," Mei Chung, PhD, MPH Jiantao Ma, MD, MS Kamal Patel, MPH, MBA Samantha Berger, BS Joseph Lau, MD Alice H. Lichtenstein, ScD, Systematic Review Data Repository, last modified July 2013, accessed August 8, 2013, https://srdr.ahrq.gov/projects/64*<br/><br/>
    * To get the specific project citation, copy and paste the url from the "preview" of the specific project, which can be found under the “published projects” tab.
  </div>
</div>
