<div class="grid-container">
  <div id="help-4"><br/><br/>
    <div style='padding-top:10px; float:left;'>
      <h2>For questions and concerns please contact:</h2><br/><br/>
      <p/>&nbsp;
      <p/>

      <strong>The SRDR Team</strong><br/>
      Brown University Evidence-based Practice Center<br/>
      Center for Evidence-based Medicine (CEBM)<br/>
      School of Public Health<br/>
      Brown University<br/>
      121 South Main Street, 8th Floor<br/>
      Providence, RI 02912<br/>
      <p/>&nbsp;
      <p/>
      <span style='text-decoration:underline;'>Telephone:</span> 401.863.5791<br/>
      <span style='text-decoration:underline;'>Fax:</span> 401.863.6456<br/>
      <span style='text-decoration:underline;'>Email:</span> SRDR@ahrq.hhs.gov<br/><br/>
      <span style='text-decoration:underline;'><strong>Normal Hours of Operation</strong> (contact us via phone or email)</span><br/>9:00 AM - 5:00 PM(EST), Monday to Friday<br/><br/>
      <span style='text-decoration:underline;color:green;font-weight:bold;'>Holiday Schedule: (December 24th - January 5th)</span>
      <br/>For assistance over the holidays please contact Jens Jap directly at <a href='mailto:jens_jap@brown.edu'>jens_jap@brown.edu</a>.
      <br/><br/>
      <span style='text-decoration:underline;'>Note:</span> <br/>See Brown University holiday schedule (<a href='https://brown.edu/about/administration/human-resources/policies/holidays' target='_blank'>https://brown.edu/about/administration/human-resources/policies/holidays</a>)
    </div>
  </div>
</div>
