<div class="lead" id="help-4">
  <div style='padding-top:10px; float:left;'>
    <h2 style="margin: 2rem;">For questions and concerns:</h2>
    <div style="margin: 2rem;">
      <strong>
        The SRDR Team
      </strong>
    </div>
    <div style="margin-left: 2rem;">
      Brown University Evidence-based Practice Center
    </div>
    <div style="margin-left: 2rem;">
      Center for Evidence Synthesis in Health (CESH)
    </div>
    <div style="margin-left: 2rem;">
      School of Public Health
    </div>
    <div style="margin-left: 2rem;">
      Brown University
    </div>
    <div style="margin-left: 2rem;">
      121 South Main Street, 8th Floor
    </div>
    <div style="margin-left: 2rem; margin-bottom: 2rem;">
      Providence, RI 02912
    </div>
    <div style="margin-left: 2rem;">
      SRDR@ahrq.hhs.gov
    </div>
    <div style="margin-left: 2rem; margin-bottom: 2rem;">
    (401) 863-5791
    </div>
    <div style="margin-left: 2rem;">
      <strong>Normal Hours of Operation</strong> (contact us via phone or email)
    </div>
    <div style="margin-left: 2rem; margin-bottom: 2rem;">
      9:00 AM - 5:00 PM(EST), Monday to Friday
    </div>
    <div style="margin-left: 2rem;">
      <strong>
        Holiday Schedule
      </strong>
    </div>
    <div style="margin-left: 2rem;"> For assistance over the <a style='font-weight:bold;' href='https://brown.edu/about/administration/human-resources/policies/holidays' target='_blank' data-confirm="<%= @exit_disclaimer %>">holidays</a> please contact: </div>
    <div style='margin-left: 2rem; margin-top: 1rem;'>
      <div style='margin-left: 1rem;'>
        Jens Jap
      </div>
      <div style='margin-left: 1rem;'>
        <a href='mailto:jens_jap@brown.edu'>jens_jap@brown.edu</a>
      </div>
      <div style='margin-left: 1rem; margin-top: 1rem;'>
        Birol Senturk
      </div>
      <div style='margin-left: 1rem; margin-bottom: 2rem;'>
        <a href='mailto:birol_senturk@brown.edu'>birol_senturk@brown.edu</a>
      </div>
    </div>
  </div>
</div>
