<div class="m-2 lg:m-8">
  <div class="space-y-8">
    <div>
      <h1 class="text-xl font-bold">Contact Information</h1>
      <p>For questions and concerns:</p>
      <div><a href="mailto:SRDR@ahrq.hhs.gov">SRDR@ahrq.hhs.gov</a></div>
    </div>
  </div>
</div>
