<div class="m-2 lg:m-8">
  <div class="space-y-8">
    <div>
      <h1 class="text-xl font-bold">Contact Information</h1>
      <p>For questions and concerns:</p>
    </div>
    <div>
      <div>
        <strong> The SRDR Team </strong>
      </div>
      <div>Brown University Evidence-based Practice Center</div>
      <div>Center for Evidence Synthesis in Health (CESH)</div>
      <div>School of Public Health</div>
      <div>Brown University</div>
      <div>121 South Main Street, 8th Floor</div>
      <div>Providence, RI 02912</div>
      <div>SRDR@ahrq.hhs.gov</div>
      <div>(401) 863-5791</div>
    </div>
    <div>
      <div>
        <strong>Normal Hours of Operation</strong> (contact us via phone or
        email)
      </div>
      <div>9:00 AM - 5:00 PM(EST), Monday to Friday</div>
    </div>
    <div>
      <div>
        <strong> Holiday Schedule </strong>
      </div>
      <div>
        For assistance over the
        <a
          href="https://www.brown.edu/about/administration/human-resources/benefits/absence/leave-absence/holiday-schedule"
          target="_blank"
          data-confirm="<%= @exit_disclaimer %>"
          >holidays</a
        >
        please contact Jens Jap (<a href="mailto:jens@mycenaean.org"
          >jens@mycenaean.org</a
        >)
      </div>
    </div>
  </div>
</div>
