<% provide(:title, 'Help & Training') %>

<h1 style="margin: 2rem;">Getting Help</h1>
<div class="lead">
  <div style="margin: 2rem;">
    Below you will find a variety of documents that will help you familiarize yourself with SRDR+ features. We recommend that you read through them to get the most out of your SRDR+ experience. 
  </div>
  <div style="margin: 2rem;">
    <a href='https://srdrplus.s3.amazonaws.com/SRDR%2BPLUS%2BTraining%2B-%2B12-16-2018.pdf' target='_blank'>
      2018 SRDR PLUS Training Manual
    </a>
    <div class="small">
      <small>
        (Right-click, or control-click on a Mac, the link and choose “Save Link As” to save the document to your computer)
      </small>
    </div>
    <div>
      File size: 9.1 MB
    </div>
    <div>
      MD5 checksum: 66ed426085beeff2c7173fe0792bbf1e
    </div>
  </div>
  <div style="margin: 2rem;">
    <a href='https://srdrplus.s3.amazonaws.com/Appendix+D_Instructions+for+importing+structured+data+from+DistillerSR+to+SRDR.docx' target='_blank'>
      Instructions for Importing Structured Data from DistillerSR into SRDR+
    </a>
    <div>
      File size: 6 MB
    </div>
    <div>
      MD5 checksum: 3d2f796f825606199c4ce3109894b052
    </div>
  </div>
  <div style="margin: 2rem;">
    Or you may contact us. Our information can be found <a style="font-weight:bold" href='./contact'>here</a>.
  </div>
</div>
