<% content_for :title, content='Policies' %>

<div class="p-4 lg:p-8">
  <div id="content" tabindex="200">
    <a name="top"></a>
    <h1 class="text-xl font-bold">SRDR Usage Policies</h1>
    <br /><br />
    <a href="#data_sharing" title="Jump to SRDR Data Sharing Guidelines"
      >Data Sharing</a
    >
    |
    <a href="#commenting" title="Jump to SRDR Commenting Policy Guidelines"
      >Commenting</a
    >
    |
    <a href="#medical_disclaimer" title="Jump to SRDR Medical Disclaimer"
      >Medical Disclaimer</a
    ><br />

    <div class="hr"></div>
    <br />
    <a name="data_sharing"></a>
    <h2 class="text-lg font-bold">SRDR Data Sharing Policy</h2>

    <br />
    SRDR is committed to keeping all systematic review projects open access
    (using a Creative Commons License:
    <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank"
      >https://creativecommons.org/licenses/by-nc/3.0/</a
    >).
    <br />
    <br />
    The full text of all systematic review projects, including study abstraction
    templates and data, is accessible at srdr.ahrq.gov as soon as they are made
    public (i.e., when the project's status is updated from "private report
    incomplete to "public report complete"). All projects published in SRDR will
    be published under a Creative Commons license (Creative Commons,
    attribution, non-commercial:
    <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank"
      >https://creativecommons.org/licenses/by-nc/3.0/</a
    >), which allows full reuse for non-commercial purposes with attribution.
    <br />
    <br />
    Open access projects can be identified by the following Creative Commons
    copyright notice appearing at the top of all project-associated Web pages:
    <br />
    <br />
    "This is an open-access article distributed under the terms of the Creative
    Commons Attribution Non-commercial License, which permits use, distribution,
    and reproduction in any medium, provided the original work is properly
    cited, the use is non-commercial and is otherwise in compliance with the
    license. <br /><br />See:
    <a href="https://creativecommons.org/licenses/by-nc/3.0/" target="_blank"
      >https://creativecommons.org/licenses/by-nc/3.0/</a
    >
    and
    <a
      href="https://creativecommons.org/licenses/by-nc/3.0/legalcode"
      target="_blank"
      >https://creativecommons.org/licenses/by-nc/3.0/legalcode</a
    >. <br /><br />
    <div style="float: right"><a href="#top">Back to the Top</a></div>
    <br />
    <div class="hr"></div>
    <br />
    <a name="commenting"></a>
    <h2 class="text-lg font-bold">SRDR Comment Policy</h2>
    <br />
    Where commenting is supported on the SRDR Web site, we encourage you to
    share your thoughts as they relate to the topic being discussed. We review
    and post comments according to the policy specified below. We reserve the
    right to disclose any information necessary to satisfy any law or regulation
    and to edit, refuse to post, or remove any information or link, in whole or
    in part, that is in violation of these terms and conditions or of any
    applicable laws. For more information, see the Agency for Healthcare
    Research and Quality (AHRQ) Privacy Policy (<a
      href="https://www.ahrq.gov/policy/electronic/privacy/index.html"
      target="_blank"
      >https://www.ahrq.gov/policy/electronic/privacy/index.html</a
    >). <br /><br />
    To participate in the discussion, you will need to provide your name and
    email address. Your email address will not be shared. The SRDR support team,
    however, may contact you to follow-up on critical issues in the discussion.
    <br />
    <br />
    This SRDR digital forum adheres to the U.S. Department of Health and Human
    Services (HHS) Comment, Privacy, and Link Policies (<a
      href="https://www.hhs.gov/web/socialmedia/policies/comment-policy.html"
      target="_blank"
      >https://www.hhs.gov/web/socialmedia/policies/comment-policy.html</a
    >). Comments from viewers will not be immediately made viewable by the
    public. The SRDR Support Team will review all posted comments during regular
    business hours Monday through Friday. Comments submitted at other times will
    be reviewed and posted as soon as possible. Messages that do not adhere to
    commenting guidelines will not be posted on the Web site.
    <br />
    <br />
    The views expressed in comments reflect those of the comment author and do
    not necessarily reflect the official views of the SRDR team, AHRQ, the
    National Institutes of Health (NIH), HHS, or the federal government.
    <br />
    <br />
    The SRDR support team is not required to respond to any comment,
    particularly ones that deal with individual medical cases and issues (see
    the Medical Disclaimer at the bottom of this page).
    <br />
    <br />
    <strong
      >To maintain a respectful dialogue, users agree to the following:
    </strong>
    <br />
    <br />
    <ul class="normal_list">
      <li>
        Stay focused. All viewpoints are welcome, but comments should remain
        relevant to the topics presented on the digital forum pages
      </li>
      <li>
        Be respectful. Personal attacks, profanity, and aggressive behavior are
        prohibited Instigating arguments in a disrespectful way is also
        prohibited.
      </li>
      <li>
        Tell the truth. Spreading misleading or false information is prohibited.
      </li>
      <li>
        Do not post spam. Repeated posting of identical or very similar content
        in a counterproductive manner is prohibited. This includes posts
        aggressively promoting services or products.
      </li>
      <li>
        Do not falsely present yourself as a representative, employee, or
        official of a governmental entity by accidental or deliberate means,
        including misleading or confusing statements in your posts.
      </li>
      <li>
        Refrain from adding or posting any copyrighted material to the site if
        you cannot document written permission of the copyright owner.
      </li>
    </ul>
    <br />
    Please consider carefully what you choose to post about yourself. You
    participate at your own risk, taking personal responsibility for your
    comments.
    <br /><br />Thank you for taking the time to review our comment policy. We
    encourage your participation in our discussion and look forward to an active
    exchange of ideas.
    <br />
    <br />
    <div style="float: right"><a href="#top">Back to the Top</a></div>
    <br />
    <div class="hr"></div>
    <br />
    <a name="medical_disclaimer"></a>
    <h2 class="text-lg font-bold">Medical Disclaimer</h2>
    <br />
    It is not the intention of SRDR to provide specific medical advice, but
    rather to provide users with information to better understand their health
    and their diagnosed disorders. Specific medical advice will not be provided,
    and SRDR urges you to consult with a qualified physician for diagnosis and
    answers to your personal medical questions.
    <br />
    <div style="float: right"><a href="#top">Back to the Top</a></div>
    <br />
    <div class="hr"></div>
    <br />

    <br /><br />
    <a href="/">Home</a>
  </div>
  <br /><br />
</div>
