<div
  class="flex w-full bg-gray-50"
  x-show="tab_type == 'assignments' || tab_type == 'assignments_archived'"
>
  <div
    class="flex flex-col w-full my-4 h-auto overflow-y-scroll space-y-1 bg-white"
  >
    <template
      x-for="(assignment, assignment_index) in assignments"
      :key="assignment.id"
    >
      <div
        class="bg-white shadow rounded-md p-2 flex"
        x-show="tab_type === 'assignments_archived' && assignment.archived || tab_type === 'assignments' && !assignment.archived"
      >
        <div class="flex-1">
          <div class="px-1">
            <div
              class="text-md bg-srdrpurple text-white rounded-t-md p-1 cursor-pointer"
              x-text="`Assignment ID ${assignment.id}`"
            ></div>
          </div>
          <div class="flex justify-between">
            <div class="px-1 flex-1">
              <div class="text-xs text-gray-900">Type</div>
              <div
                class="text-xs text-gray-500"
                x-text="assignment.assignable_type"
              ></div>
            </div>
            <div class="px-1 flex-1">
              <div class="text-xs font-medium text-gray-900">ID</div>
              <div
                class="text-xs text-gray-500"
                x-text="assignment.assignable_id"
              ></div>
            </div>
          </div>
          <div class="flex justify-between">
            <div class="px-1 flex-1">
              <div class="text-xs text-gray-900">Created On</div>
              <div
                class="text-xs text-gray-500"
                x-text="assignment.created_at"
              ></div>
            </div>
            <div class="px-1 flex-1">
              <div class="text-xs font-medium text-gray-900">Deadline</div>
              <input
                class="!w-auto !text-xs"
                type="date"
                :value="assignment.formatted_deadline"
                @change="updateAssignment(assignment.id, assignment_index, $event.target.value, 'deadline')"
              />
            </div>
          </div>
          <div class="border-t border-gray-100">
            <div class="divide-y divide-gray-100">
              <div class="flex">
                <div class="px-1 flex-1">
                  <div class="text-xs font-medium text-gray-900">Assignor</div>
                  <div
                    class="text-xs text-gray-700"
                    x-text="assignment.handles.assignor.handle"
                  ></div>
                </div>
                <div class="px-1 flex-1">
                  <div class="text-xs font-medium text-gray-900">Assignee</div>
                  <select
                    class="text-xs"
                    @change="updateAssignment(assignment.id, assignment_index, $event.target.value, 'assignee_id')"
                  >
                    <template x-for="member in members" :key="member.id">
                      <option
                        :value="member.id"
                        :selected="member.id === assignment.handles.assignee.id"
                        x-text="member.handle"
                      ></option>
                    </template>
                  </select>
                </div>
              </div>
              <div class="px-1">
                <div class="text-xs font-medium text-gray-900">
                  Assignor Status
                </div>
                <select
                  class="text-xs w-auto"
                  :value="assignment.status"
                  @change="updateAssignment(assignment.id, assignment_index, $event.target.value, 'status')"
                >
                  <option value="awaiting_work">awaiting_work</option>
                  <option value="awaiting_review">awaiting_review</option>
                  <option value="work_approved">work_approved</option>
                  <option value="work_rejected">work_rejected</option>
                </select>
              </div>
              <div class="px-1">
                <div class="text-xs font-medium text-gray-900">Link</div>
                <div class="text-xs text-gray-700 underline">
                  <a
                    :href="assignment.link"
                    x-text="assignment.link"
                    target="_blank"
                  ></a>
                </div>
              </div>
              <div class="px-1">
                <div class="text-xs font-medium text-gray-900">Audit Log</div>
                <div class="text-xs text-gray-900 border border-gray-100">
                  <div class="flow-root h-16 overflow-y-scroll">
                    <ul role="list" class="p-0 m-0 list-none">
                      <template
                        x-for="log in assignment.logs.reverse()"
                        :key="log.id"
                      >
                        <li>
                          <div class="relative">
                            <div class="relative flex">
                              <div class="flex min-w-0 flex-1 justify-between">
                                <div>
                                  <p
                                    class="text-xs text-gray-500 m-0"
                                    x-text="log.description"
                                  ></p>
                                </div>
                                <div
                                  class="whitespace-nowrap text-right text-xs text-gray-500"
                                  x-text="log.created_at"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </template>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="px-1">
                <div class="text-xs font-medium text-gray-900">
                  Tagged Messages
                </div>
                <div class="text-xs text-gray-900 border border-gray-100">
                  <div class="flow-root h-16 overflow-y-scroll">
                    <template x-if="assignment.messages.length === 0">
                      <div class="text-gray-500">No tagged messages</div>
                    </template>
                    <ul role="list" class="p-0 m-0 list-none">
                      <template
                        x-for="message in assignment.messages.reverse()"
                        :key="message.id"
                      >
                        <li
                          :class="{
                        'bg-srdrpurple': message_selection_index === message.id,
                        '!text-white': message_selection_index === message.id,
                      }"
                          @click="message_selection_index = message.id"
                        >
                          <div class="relative">
                            <div class="relative flex">
                              <div
                                class="flex min-w-0 flex-1 justify-between underline cursor-pointer"
                                @click="openRoom(chat_rooms.find(room => room.id == message.room_id))"
                              >
                                <div>
                                  <p
                                    class="text-xs m-0"
                                    x-text="message.text"
                                  ></p>
                                </div>
                                <div
                                  class="whitespace-nowrap text-right text-xs"
                                  x-text="message.created_at"
                                ></div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </template>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="w-8 pl-2 flex flex-col justify-around border-l border-gray-400"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            class="size-6 cursor-pointer border border-gray-500 rounded-md p-1"
            @click="updateAssignment(assignment.id, assignment_index, !assignment.archived, 'archived')"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z"
            />
          </svg>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1"
            stroke="currentColor"
            class="size-6 cursor-pointer border border-gray-500 rounded-md p-1"
            @click="destroyAssignment(assignment.id)"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
            />
          </svg>
        </div>
      </div>
    </template>
  </div>
  <div
    class="flex flex-col w-full h-auto pl-4 pr-4 py-4 -mr-4 overflow-y-scroll space-y-1 bg-white"
  >
    <div
      class="flex flex-1 overflow-hidden"
      x-cloak
      x-show="(selected_messages && selected_messages.length > 0) && !pinnedMenu"
    >
      <div
        x-cloak
        x-show="(selected_messages && selected_messages.length > 0) && !pinnedMenu"
        class="overflow-y-scroll flex flex-col-reverse flex-1 w-full gap-y-2 --50 border border-gray-100"
      >
        <template
          x-for="message in selected_messages.filter(m => m.message_id === null)"
          :key="message.id"
        >
          <div
            class="p-3 rounded-lg"
            :class="{
              'col-start-1': message.user_id !== current_user_id,
              'col-end-8': message.user_id !== current_user_id,
              'col-start-6': message.user_id === current_user_id,
              'col-end-13': message.user_id === current_user_id,
            }"
          >
            <div
              class="flex"
              :class="{
                'flex-row': message.user_id !== current_user_id,
                'items-center': message.user_id !== current_user_id,
                'items-center': message.user_id === current_user_id,
                'justify-start': message.user_id === current_user_id,
                'flex-row-reverse': message.user_id === current_user_id,
              }"
            >
              <div
                class="relative ml-3 text-sm py-2 px-4 shadow rounded-xl"
                :class="{
                  'bg-white': message.user_id !== current_user_id,
                  'bg-indigo-100': message.user_id === current_user_id,
                }"
              >
                <div
                  x-text="message.text"
                  class="whitespace-pre-wrap"
                  @click="destroyMessageUnread(message)"
                ></div>
                <div class="flex space-x-1">
                  <div
                    class="text-xs text-gray-500 text-nowrap text-right"
                    x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                  ></div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    :fill="message.pinned ? 'gray' : 'none'"
                    viewBox="0 0 24 24"
                    stroke-width="0.5"
                    stroke="currentColor"
                    class="w-4 h-4 cursor-pointer"
                    @click="togglePin(message)"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                    />
                  </svg>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="0.5"
                    stroke="currentColor"
                    class="w-4 h-4 cursor-pointer"
                    @click="destroyMessage(message, selected_messages)"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                    />
                  </svg>
                  <div
                    class="flex cursor-pointer"
                    @click="if (threadMessageId === message.id) {
                      threadMessages = [];
                      threadMessageId = null;
                    } else {
                      threadMessages = message.messages;
                      threadMessageId = message.id;
                      message.messages.forEach((message) => {
                        destroyMessageUnread(message);
                      });
                    }"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      :fill="threadMessageId === message.id ? 'purple' : 'none'"
                      viewBox="0 0 24 24"
                      stroke-width="0.5"
                      stroke="currentColor"
                      class="w-4 h-4"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                      />
                    </svg>
                    <span
                      class="text-xs text-gray-500"
                      x-text="message.messages.length === 0 ? '' : `+${message.messages.length}`"
                    ></span>
                    <span
                      class="absolute flex items-center justify-center h-4 w-4 bg-red-500 text-white text-xs rounded-full right-1 top-1"
                      x-cloak
                      x-show="message.messages.filter(message => !message.read)?.length > 0"
                      x-text="message.messages.filter(message => !message.read)?.length"
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
      <div
        x-cloak
        x-show="(selected_messages && selected_messages.length > 0) && !pinnedMenu && threadMessageId !== null"
        class="overflow-y-scroll flex flex-col-reverse flex-1 w-full gap-y-2 --50 border border-gray-100"
      >
        <template x-for="message in threadMessages" :key="message.id">
          <div
            class="p-3 rounded-lg"
            :class="{
              'col-start-1': message.user_id !== current_user_id,
              'col-end-8': message.user_id !== current_user_id,
              'col-start-6': message.user_id === current_user_id,
              'col-end-13': message.user_id === current_user_id,
            }"
          >
            <div
              class="flex"
              :class="{
                'flex-row': message.user_id !== current_user_id,
                'items-center': message.user_id !== current_user_id,
                'items-center': message.user_id === current_user_id,
                'justify-start': message.user_id === current_user_id,
                'flex-row-reverse': message.user_id === current_user_id,
              }"
            >
              <div
                class="relative ml-3 text-sm py-2 px-4 shadow rounded-xl"
                :class="{
                  'bg-white': message.user_id !== current_user_id,
                  'bg-indigo-100': message.user_id === current_user_id,
                }"
              >
                <div
                  x-text="message.text"
                  class="whitespace-pre-wrap"
                  @click="destroyMessageUnread(message)"
                ></div>
                <div class="flex space-x-1">
                  <div
                    class="text-xs text-gray-500 text-nowrap text-right"
                    x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                  ></div>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="0.5"
                    stroke="currentColor"
                    class="w-4 h-4 cursor-pointer"
                    @click="destroyMessage(message, selected_messages)"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                    />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>
</div>
