<div
  x-show="tab_type == 'chats'"
  class="flex flex-col h-auto w-56 bg-white px-4 py-6 flex-grow"
>
  <div class="h-6 flex justify-between mb-1">
    <h1
      class="flex-1 text-base font-bold overflow-hidden"
      x-text="selected_room?.name"
    ></h1>
    <div class="flex">
      <div
        class="flex justify-center items-center cursor-pointer w-auto"
        @click="pinnedMenu = !pinnedMenu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          :fill="pinnedMenu ? 'black' : 'none'"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
          />
        </svg>
        <div class="px-1 text-sm">
          Pinned (<span
            x-text="selected_messages.filter(m => m.pinned).length"
          ></span
          >)
        </div>
      </div>
      <div
        class="flex justify-center items-center cursor-pointer w-auto"
        @click="userMenu = !userMenu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          :fill="userMenu ? 'black' : 'none'"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z"
          />
        </svg>
        <div class="px-1 text-sm">
          Users (<span x-text="roomUsers.length"></span>)
        </div>
      </div>
    </div>
  </div>
  <div
    class="flex flex-1 overflow-hidden"
    x-cloak
    x-show="(selected_messages && selected_messages.length > 0) && pinnedMenu"
  >
    <div
      class="overflow-y-scroll flex flex-col-reverse flex-1 w-full gap-y-2 border border-gray-100"
    >
      <template
        x-for="message in selected_messages.filter(message => message.pinned)"
        :key="message.id"
      >
        <div
          class="p-3 rounded-lg"
          :class="{
          'col-start-1': message.user_id !== current_user_id,
          'col-end-8': message.user_id !== current_user_id,
          'col-start-6': message.user_id === current_user_id,
          'col-end-13': message.user_id === current_user_id,
        }"
        >
          <div
            class="flex"
            :class="{
            'flex-row': message.user_id !== current_user_id,
            'items-center': message.user_id !== current_user_id,
            'items-center': message.user_id === current_user_id,
            'justify-start': message.user_id === current_user_id,
            'flex-row-reverse': message.user_id === current_user_id,
          }"
          >
            <div
              class="relative ml-3 text-sm py-2 px-4 shadow rounded-xl"
              :class="{
              'bg-white': message.user_id !== current_user_id,
              'bg-indigo-100': message.user_id === current_user_id,
            }"
            >
              <div
                x-html="renderMessageWithExtractionLinks(message.text)"
                class="whitespace-pre-wrap"
                @click="destroyMessageUnread(message)"
              ></div>
              <div class="flex space-x-1">
                <div
                  class="text-xs text-gray-500 text-nowrap text-right"
                  x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                ></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :fill="message.pinned ? 'gray' : 'none'"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="togglePin(message)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="destroyMessage(message, selected_messages)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
                <div
                  class="flex cursor-pointer"
                  @click="if (threadMessageId === message.id) {
                      threadMessages = [];
                      threadMessageId = null;
                    } else {
                      threadMessages = message.messages;
                      threadMessageId = message.id
                      message.messages.forEach((message) => {
                        destroyMessageUnread(message);
                      });
                    }"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    :fill="threadMessageId === message.id ? 'purple' : 'none'"
                    viewBox="0 0 24 24"
                    stroke-width="0.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                    />
                  </svg>
                  <span
                    class="text-xs text-gray-500"
                    x-text="message.messages.length === 0 ? '' : `+${message.messages.length}`"
                  ></span>
                  <span
                    class="absolute flex items-center justify-center h-4 w-4 bg-red-500 text-white text-xs rounded-full right-1 top-1"
                    x-cloak
                    x-show="message.messages.filter(message => !message.read)?.length > 0"
                    x-text="message.messages.filter(message => !message.read)?.length"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div
      x-cloak
      x-show="threadMessageId !== null"
      class="overflow-y-scroll flex flex-col-reverse flex-1 w-full gap-y-2 border border-gray-100"
    >
      <template x-for="message in threadMessages" :key="message.id">
        <div
          class="p-3 rounded-lg"
          :class="{
          'col-start-1': message.user_id !== current_user_id,
          'col-end-8': message.user_id !== current_user_id,
          'col-start-6': message.user_id === current_user_id,
          'col-end-13': message.user_id === current_user_id,
        }"
        >
          <div
            class="flex"
            :class="{
            'flex-row': message.user_id !== current_user_id,
            'items-center': message.user_id !== current_user_id,
            'items-center': message.user_id === current_user_id,
            'justify-start': message.user_id === current_user_id,
            'flex-row-reverse': message.user_id === current_user_id,
          }"
          >
            <div
              class="relative ml-3 text-sm py-2 px-4 shadow rounded-xl"
              :class="{
              'bg-white': message.user_id !== current_user_id,
              'bg-indigo-100': message.user_id === current_user_id,
            }"
            >
              <div
                x-html="renderMessageWithExtractionLinks(message.text)"
                class="whitespace-pre-wrap"
                @click="destroyMessageUnread(message)"
              ></div>
              <div class="flex space-x-1">
                <div
                  class="text-xs text-gray-500 text-nowrap text-right"
                  x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                ></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="destroyMessage(message, selected_messages)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
  <div
    class="flex flex-1 overflow-hidden"
    x-cloak
    x-show="(selected_messages && selected_messages.length > 0) && !pinnedMenu"
  >
    <div
      x-cloak
      x-show="(selected_messages && selected_messages.length > 0) && !pinnedMenu"
      class="overflow-y-scroll flex flex-col-reverse flex-1 w-full gap-y-2 border border-gray-100"
    >
      <template
        x-for="message in selected_messages.filter(m => m.message_id === null)"
        :key="message.id"
      >
        <div
          class="p-3 rounded-lg"
          :class="{
            'col-start-1': message.user_id !== current_user_id,
            'col-end-8': message.user_id !== current_user_id,
            'col-start-6': message.user_id === current_user_id,
            'col-end-13': message.user_id === current_user_id,
          }"
        >
          <div
            class="flex"
            :class="{
              'flex-row': message.user_id !== current_user_id,
              'items-center': message.user_id !== current_user_id,
              'items-center': message.user_id === current_user_id,
              'justify-start': message.user_id === current_user_id,
              'flex-row-reverse': message.user_id === current_user_id,
            }"
          >
            <div
              class="relative ml-3 text-sm py-2 px-4 shadow rounded-xl"
              :class="{
                'bg-white': message.user_id !== current_user_id,
                'bg-indigo-100': message.user_id === current_user_id,
              }"
            >
              <div
                x-html="renderMessageWithExtractionLinks(message.text)"
                class="whitespace-pre-wrap"
                @click="destroyMessageUnread(message)"
              ></div>
              <div class="flex space-x-1">
                <div
                  class="text-xs text-gray-500 text-nowrap text-right"
                  x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                ></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  :fill="message.pinned ? 'gray' : 'none'"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="togglePin(message)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0 1 11.186 0Z"
                  />
                </svg>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="destroyMessage(message, selected_messages)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
                <div
                  class="flex cursor-pointer"
                  @click="if (threadMessageId === message.id) {
                    threadMessages = [];
                    threadMessageId = null;
                  } else {
                    threadMessages = message.messages;
                    threadMessageId = message.id
                    message.messages.forEach((message) => {
                      destroyMessageUnread(message);
                    });
                  }"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    :fill="threadMessageId === message.id ? 'purple' : 'none'"
                    viewBox="0 0 24 24"
                    stroke-width="0.5"
                    stroke="currentColor"
                    class="w-4 h-4"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
                    />
                  </svg>
                  <span
                    class="text-xs text-gray-500"
                    x-text="message.messages.length === 0 ? '' : `+${message.messages.length}`"
                  ></span>
                  <span
                    class="absolute flex items-center justify-center h-4 w-4 bg-red-500 text-white text-xs rounded-full right-1 top-1"
                    x-cloak
                    x-show="message.messages.filter(message => !message.read)?.length > 0"
                    x-text="message.messages.filter(message => !message.read)?.length"
                  ></span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
    <div
      x-cloak
      x-show="(selected_messages && selected_messages.length > 0) && !pinnedMenu && threadMessageId !== null"
      class="overflow-y-scroll flex flex-col-reverse flex-1 w-full gap-y-2 border border-gray-100"
    >
      <template x-for="message in threadMessages" :key="message.id">
        <div
          class="p-3 rounded-lg"
          :class="{
            'col-start-1': message.user_id !== current_user_id,
            'col-end-8': message.user_id !== current_user_id,
            'col-start-6': message.user_id === current_user_id,
            'col-end-13': message.user_id === current_user_id,
          }"
        >
          <div
            class="flex"
            :class="{
              'flex-row': message.user_id !== current_user_id,
              'items-center': message.user_id !== current_user_id,
              'items-center': message.user_id === current_user_id,
              'justify-start': message.user_id === current_user_id,
              'flex-row-reverse': message.user_id === current_user_id,
            }"
          >
            <div
              class="relative ml-3 text-sm py-2 px-4 shadow rounded-xl"
              :class="{
                'bg-white': message.user_id !== current_user_id,
                'bg-indigo-100': message.user_id === current_user_id,
              }"
            >
              <div
                x-html="renderMessageWithExtractionLinks(message.text)"
                class="whitespace-pre-wrap"
                @click="destroyMessageUnread(message)"
              ></div>
              <div class="flex space-x-1">
                <div
                  class="text-xs text-gray-500 text-nowrap text-right"
                  x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                ></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="destroyMessage(message, selected_messages)"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
  <template x-if="selected_messages.length === 0">
    <div class="flex-1 w-full flex justify-center items-center">
      <div>No Messages</div>
    </div>
  </template>

  <div class="flex flex-row items-center w-full h-32">
    <div class="w-full flex relative">
      <div class="relative w-full">
        <textarea
          :disabled="!selected_room"
          maxlength="65000"
          rows="5"
          type="text"
          class="w-full !text-sm !p-2 !resize-none font-mono"
          placeholder="Type message... (Use # for extractions, @ for users)"
          x-ref="chattextarea"
          x-model="chat_text[selected_room?.id]"
          @keydown.shift="shiftPressed = true"
          @keyup.shift="shiftPressed = false"
          @keydown="handleTextareaKeydown($event)"
          @input="handleTextareaInput($event)"
        ></textarea>

        <!-- Extraction autocomplete dropdown -->
        <div
          x-show="showExtractionDropdown && extractionOptions.length > 0"
          x-transition
          x-ref="extractionDropdown"
          class="absolute bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-y-auto z-50"
          :style="`top: ${dropdownPosition.top}px; left: ${dropdownPosition.left}px; min-width: 300px;`"
        >
          <template x-for="(option, index) in extractionOptions" :key="option.id">
            <div
              x-ref="extractionOption"
              class="px-3 py-2 cursor-pointer hover:bg-blue-100 text-sm border-b border-gray-100 last:border-b-0"
              :class="{ 'bg-blue-100': index === selectedOptionIndex }"
              @click="selectExtraction(option)"
              x-text="option.display_text"
            ></div>
          </template>
          <div
            x-show="extractionOptions.length === 0 && extractionSearchQuery.length > 0"
            class="px-3 py-2 text-sm text-gray-500"
          >
            No extractions found
          </div>
        </div>

        <!-- User autocomplete dropdown -->
        <div
          x-show="showUserDropdown && userOptions.length > 0"
          x-transition
          x-ref="userDropdown"
          class="absolute bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-y-auto z-50"
          :style="`top: ${userDropdownPosition.top}px; left: ${userDropdownPosition.left}px; min-width: 300px;`"
        >
          <template x-for="(option, index) in userOptions" :key="option.id">
            <div
              x-ref="userOption"
              class="px-3 py-2 cursor-pointer hover:bg-green-100 text-sm border-b border-gray-100 last:border-b-0"
              :class="{ 'bg-green-100': index === selectedUserOptionIndex }"
              @click="selectUser(option)"
              x-text="option.display_text"
            ></div>
          </template>
          <div
            x-show="userOptions.length === 0 && userSearchQuery.length > 0"
            class="px-3 py-2 text-sm text-gray-500"
          >
            No users found
          </div>
        </div>
      </div>

      <div class="relative w-full" x-cloak x-show="threadMessageId">
        <textarea
          :disabled="!selected_room"
          maxlength="65000"
          rows="5"
          type="text"
          class="w-full !text-sm !p-2 !resize-none font-mono"
          placeholder="Type message... (Use # for extractions, @ for users)"
          x-model="thread_chat_text[selected_room?.id]"
          @keydown.shift="shiftPressed = true"
          @keyup.shift="shiftPressed = false"
          @keydown="handleThreadTextareaKeydown($event)"
          @input="handleThreadTextareaInput($event)"
        ></textarea>

        <!-- Extraction autocomplete dropdown for thread textarea -->
        <div
          x-show="showThreadExtractionDropdown && threadExtractionOptions.length > 0"
          x-transition
          x-ref="threadExtractionDropdown"
          class="absolute bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-y-auto z-50"
          :style="`top: ${threadDropdownPosition.top}px; left: ${threadDropdownPosition.left}px; min-width: 300px;`"
        >
          <template x-for="(option, index) in threadExtractionOptions" :key="option.id">
            <div
              x-ref="threadExtractionOption"
              class="px-3 py-2 cursor-pointer hover:bg-blue-100 text-sm border-b border-gray-100 last:border-b-0"
              :class="{ 'bg-blue-100': index === selectedThreadOptionIndex }"
              @click="selectThreadExtraction(option)"
              x-text="option.display_text"
            ></div>
          </template>
          <div
            x-show="threadExtractionOptions.length === 0 && threadExtractionSearchQuery.length > 0"
            class="px-3 py-2 text-sm text-gray-500"
          >
            No extractions found
          </div>
        </div>

        <!-- User autocomplete dropdown for thread textarea -->
        <div
          x-show="showThreadUserDropdown && threadUserOptions.length > 0"
          x-transition
          x-ref="threadUserDropdown"
          class="absolute bg-white border border-gray-300 rounded-md shadow-lg max-h-60 overflow-y-auto z-50"
          :style="`top: ${threadUserDropdownPosition.top}px; left: ${threadUserDropdownPosition.left}px; min-width: 300px;`"
        >
          <template x-for="(option, index) in threadUserOptions" :key="option.id">
            <div
              x-ref="threadUserOption"
              class="px-3 py-2 cursor-pointer hover:bg-green-100 text-sm border-b border-gray-100 last:border-b-0"
              :class="{ 'bg-green-100': index === selectedThreadUserOptionIndex }"
              @click="selectThreadUser(option)"
              x-text="option.display_text"
            ></div>
          </template>
          <div
            x-show="threadUserOptions.length === 0 && threadUserSearchQuery.length > 0"
            class="px-3 py-2 text-sm text-gray-500"
          >
            No users found
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
