<div class="w-full">
  <div
    x-combobox
    x-model="selectedAssignments"
    multiple
    by="id"
    class="bg-transparent border-none flex"
  >
    <div>
      <div
        class="mt-1 relative rounded-md focus-within:ring-2 focus-within:ring-blue-500 w-80 float-right"
      >
        <div
          class="flex items-center justify-between gap-2 w-full bg-white pl-5 pr-3 py-2.5 rounded-md shadow"
        >
          <input
            x-combobox:input
            @change="comboBoxQuery = $event.target.value;"
            class="border-none p-0 focus:outline-none focus:ring-0"
            placeholder="Tag assignment(s)..."
            x-ref="assignmentsComboBox"
          />
          <button
            x-combobox:button
            class="absolute inset-y-0 right-0 flex items-center pr-2"
          >
            <!-- Heroicons up/down -->
            <svg
              class="shrink-0 w-5 h-5 text-gray-500"
              viewBox="0 0 20 20"
              fill="none"
              stroke="currentColor"
            >
              <path
                d="M7 7l3-3 3 3m0 6l-3 3-3-3"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>

        <div
          x-combobox:options
          x-cloak
          class="absolute left-0 w-80 max-h-32 mt-2 z-10 origin-top-right overflow-auto bg-white border border-gray-200 rounded-md shadow-md outline-none"
          x-transition.out.opacity
        >
          <ul class="divide-y divide-gray-100">
            <template
              x-for="assignment in filteredItems"
              :key="assignment.id"
              hidden
            >
              <li
                x-combobox:option
                :value="assignment"
                :disabled="assignment.disabled"
                :class="{
                                'bg-cyan-500/10 text-gray-900': $comboboxOption.isActive,
                                'text-gray-600': ! $comboboxOption.isActive,
                                'opacity-50 cursor-not-allowed': $comboboxOption.isDisabled,
                            }"
                class="flex items-center cursor-default justify-between gap-2 w-full px-4 py-2 text-sm"
              >
                <span x-text="assignment.name"></span>

                <span
                  x-show="$comboboxOption.isSelected"
                  class="text-cyan-600 font-bold"
                  >&check;</span
                >
              </li>
            </template>
          </ul>

          <p
            x-show="filteredItems.length == 0"
            class="px-4 py-2 text-sm text-gray-600"
          >
            No items match your comboBoxQuery.
          </p>
        </div>
      </div>
    </div>
    <div
      x-show="selectedAssignments.length"
      class="mt-1 mb-4 flex flex-wrap items-center gap-1.5"
    >
      <template
        x-for="selectedAssignment in selectedAssignments"
        :key="selectedAssignment.id"
      >
        <button
          x-on:click.prevent="remove(selectedAssignment)"
          class="inline-flex items-center gap-1 p-1 px-2 text-xs rounded bg-[#60ddf939] text-gray-800 hover:text-gray-800"
        >
          <span x-text="selectedAssignment.name"></span>
          <!-- Heroicons mini x-mark -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            class="w-4 h-4"
          >
            <path
              d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z"
            />
          </svg>
        </button>
      </template>
    </div>
  </div>
</div>
