<div class="flex flex-row flex-shrink-0 --100 py-4 pl-4">
  <div
    class="flex flex-col items-center py-4 flex-shrink-0 w-12 bg-srdrpurple rounded-tl-2xl rounded-bl-2xl"
  >
    <ul class="flex flex-col space-y-8 mt-12 list-none m-0">
      <li>
        <div class="flex items-center">
          <span
            class="flex items-center justify-center text-indigo-100 hover:bg-srdrpurple-light h-8 w-8 rounded-md"
            :class="{
              'bg-srdrpurple-light': tab_type === 'assignments'
            }"
            @click="selected_room = null; selected_messages = []; message_selection_index = null; tab_type = 'assignments'; getAssignments();"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20.25 14.15v4.25c0 1.094-.787 2.036-1.872 2.18-2.087.277-4.216.42-6.378.42s-4.291-.143-6.378-.42c-1.085-.144-1.872-1.086-1.872-2.18v-4.25m16.5 0a2.18 2.18 0 0 0 .75-1.661V8.706c0-1.081-.768-2.015-1.837-2.175a48.114 48.114 0 0 0-3.413-.387m4.5 8.006c-.194.165-.42.295-.673.38A23.978 23.978 0 0 1 12 15.75c-2.648 0-5.195-.429-7.577-1.22a2.016 2.016 0 0 1-.673-.38m0 0A2.18 2.18 0 0 1 3 12.489V8.706c0-1.081.768-2.015 1.837-2.175a48.111 48.111 0 0 1 3.413-.387m7.5 0V5.25A2.25 2.25 0 0 0 13.5 3h-3a2.25 2.25 0 0 0-2.25 2.25v.894m7.5 0a48.667 48.667 0 0 0-7.5 0M12 12.75h.008v.008H12v-.008Z"
              />
            </svg>
            <span
              class="absolute flex items-center justify-center h-4 w-4 --500 text-white text-xs rounded-full -right-1 -bottom-1"
              x-cloak
              x-show="assignments?.length > 0"
              x-text="assignments.filter(assignment => !assignment.archived)?.length"
            ></span>
          </span>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <span
            class="flex items-center justify-center text-indigo-100 hover:bg-srdrpurple-light h-8 w-8 rounded-md"
            :class="{
              'bg-srdrpurple-light': tab_type === 'new_assignment'
            }"
            @click="tab_type = 'new_assignment';"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m3.75 9v6m3-3H9m1.5-12H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z"
              />
            </svg>
          </span>
        </div>
      </li>
      <li>
        <div class="flex items-center">
          <span
            class="flex items-center justify-center text-indigo-100 hover:bg-srdrpurple-light h-8 w-8 rounded-md"
            :class="{
              'bg-srdrpurple-light': tab_type === 'assignments_archived'
            }"
            @click="tab_type = 'assignments_archived'; getAssignments();"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="m20.25 7.5-.625 10.632a2.25 2.25 0 0 1-2.247 2.118H6.622a2.25 2.25 0 0 1-2.247-2.118L3.75 7.5M10 11.25h4M3.375 7.5h17.25c.621 0 1.125-.504 1.125-1.125v-1.5c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v1.5c0 .621.504 1.125 1.125 1.125Z"
              />
            </svg>
            <span
              class="absolute flex items-center justify-center h-4 w-4 --500 text-white text-xs rounded-full -right-1 -bottom-1"
              x-cloak
              x-show="assignments?.length > 0"
              x-text="assignments.filter(assignment => assignment.archived)?.length"
            ></span>
          </span>
        </div>
      </li>
      <hr />
      <li>
        <div class="flex items-center">
          <span
            class="flex items-center justify-center text-indigo-100 hover:bg-srdrpurple-light h-8 w-8 rounded-md"
            :class="{
              'bg-srdrpurple-light': tab_type === 'chats'
            }"
            @click="tab_type = 'chats'; selected_rooms = chat_rooms; openRoom(chat_rooms[0]); threadMessageId = null;"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M20.25 8.511c.884.284 1.5 1.128 1.5 2.097v4.286c0 1.136-.847 2.1-1.98 2.193-.34.027-.68.052-1.02.072v3.091l-3-3c-1.354 0-2.694-.055-4.02-.163a2.115 2.115 0 0 1-.825-.242m9.345-8.334a2.126 2.126 0 0 0-.476-.095 48.64 48.64 0 0 0-8.048 0c-1.131.094-1.976 1.057-1.976 2.192v4.286c0 .837.46 1.58 1.155 1.951m9.345-8.334V6.637c0-1.621-1.152-3.026-2.76-3.235A48.455 48.455 0 0 0 11.25 3c-2.115 0-4.198.137-6.24.402-1.608.209-2.76 1.614-2.76 3.235v6.226c0 1.621 1.152 3.026 2.76 3.235.577.075 1.157.14 1.74.194V21l4.155-4.155"
              />
            </svg>
            <span
              class="absolute flex items-center justify-center h-4 w-4 bg-red-500 text-white text-xs rounded-full -right-1 -bottom-1"
              x-cloak
              x-show="chat_rooms.filter(room => messages[room.id]?.some(message => !message.read))?.length > 0"
              x-text="chat_rooms.filter(room => messages[room.id]?.some(message => !message.read))?.length"
            ></span>
          </span>
        </div>
      </li>
    </ul>
  </div>
</div>
