a#toggle-sections-link.button.tiny style='margin-left: 31px;'
  .toggle-hide
    i.fi-arrow-left>
    |Hide Menu
  .toggle-hide.hide
    i.fi-arrow-right

- if action_name.eql? 'consolidate'
  a#toggle-consolidated-extraction-link.button.tiny.float-right
    .toggle-hide
      |Hide Consolidated Extraction Form
      i.fi-arrow-right<
    .toggle-hide.hide
      i.fi-arrow-left

.tabs-content data-tabs-content='extraction-forms-projects-tabs'
  - @extraction_forms_projects.each_with_index do |efp, idx|
    div id="panel-extraction-forms-project-#{ efp.id.to_s }" class="tabs-panel #{idx == 0 ? 'is-active' : ''}"
      .row.expanded
        .toggle-sections-link-medium-2-0-hide.column.medium-2
          = render 'extractions/shared/extraction_forms_projects_section_tab_links',
            efp: efp
        .toggle-sections-link-medium-10-12.column.medium-10.ajax-section @click="if (extraction.status !== 'awaiting_work') { alert('Please set extraction status to \'awaiting_work\' to make changes.') }" :class="{ 'cursor-not-allowed': extraction.status !== 'awaiting_work', 'opacity-80': extraction.status !== 'awaiting_work' }"
          div :class="{ 'pointer-events-none': extraction.status !== 'awaiting_work' }"
            = render "extractions/shared/extraction_forms_projects_section_tab_content", efp: efp
