.nested-fields
  = f.simple_fields_for :author_attributes do |a_f|
    = a_f.input :name, label: false, required: false, input_html: { class: 'author-name' }
  = link_to_remove_association 'Remove', f
