<template x-if="qrc.type_name == 'checkbox'">
  <div>
    <template x-for="selection_option in qrc.selection_options">
      <div>
        <input
          type="checkbox"
          :name="selection_option.name"
          class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
          checked
          disabled
        />
        <input
          type="checkbox"
          :name="selection_option.name"
          class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
          checked
          disabled
        />
        <input
          type="checkbox"
          :name="selection_option.name"
          class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
          checked
          disabled
        />
        <input
          type="checkbox"
          :name="selection_option.name"
          class="cursor-pointer !m-0"
        />
        <label x-text="selection_option.name"></label>
      </div>
    </template>
  </div>
</template>
