<template x-if="qrc.type_name == 'checkbox'">
  <div>
    <template x-for="selection_option in qrc.selection_options">
      <div class="whitespace-nowrap">
        <template
          x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
        >
          <input
            type="checkbox"
            :name="selection_option.name"
            class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
            :checked="
              ''; let a
              if (typeof section_eefpst1 === 'undefined') {
                a = `${qrc.qrcf.id}-${eefps.id}--${selection_option.id}`
              } else {
                a = `${qrc.qrcf.id}-${eefps.id}-${section_eefpst1.extractions_extraction_forms_projects_sections_type1_id}-${selection_option.id}`
              }
              const b = mh?.current_citations_project?.cell_lookups[a]
              return b ? true : false
            "
            disabled
            :title="`Extraction ID: ${eefps.extraction_id} by ${mh?.current_citations_project?.extractions_lookup[eefps.extraction_id]}`"
        /></template>
        <input
          type="checkbox"
          :name="selection_option.name"
          class="cursor-pointer !m-0"
        />
        <label x-text="selection_option.name"></label>
      </div>
    </template>
  </div>
</template>
