<template x-if="qrc.type_name == 'radio'">
  <div>
    <template x-for="selection_option in qrc.selection_options">
      <div>
        <template
          x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
        >
          <input
            type="radio"
            class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
            :checked="
              ''; let a
              if (typeof section_eefpst1 === 'undefined') {
                a = `${qrc.qrcf.id}-${eefps.id}--${selection_option.id}`
              } else {
                a = `${qrc.qrcf.id}-${eefps.id}-${section_eefpst1.extractions_extraction_forms_projects_sections_type1_id}-${selection_option.id}`
              }
              const b = mh?.current_citations_project?.cell_lookups[a]
              return b ? true : false
            "
            disabled
        /></template>
        <input
          :name="selection_option.question_row_column_id"
          type="radio"
          class="cursor-pointer !m-0"
          :class="`${qrc.question_row_column_id}-consolidated`"
        />
        <label x-text="selection_option.name"></label>
      </div>
    </template>
    <div
      class="cursor-pointer text-center text-white text-xs rounded-md bg-gray-400"
      @click="Array.from(document.getElementsByClassName(`${qrc.question_row_column_id}-consolidated`)).forEach((el) => { el.checked = false })"
    >
      Clear
    </div>
  </div>
</template>
