<template x-if="qrc.type_name == 'select2_single'">
  <div class="flex">
    <template
      x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
    >
      <select class="w-32 mr-2" disabled>
        <option value=""></option>
        <template x-for="selection_option in qrc.selection_options">
          <option
            x-text="selection_option.name"
            type="radio"
            class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
            :selected="
              ''; let a
              if (typeof section_eefpst1 === 'undefined') {
                a = `${qrc.qrcf.id}-${eefps.id}--${selection_option.id}`
              } else {
                a = `${qrc.qrcf.id}-${eefps.id}-${section_eefpst1.extractions_extraction_forms_projects_sections_type1_id}-${selection_option.id}`
              }
              const b = mh?.current_citations_project?.cell_lookups[a]
              return b ? true : false
            "
          ></option>
        </template>
      </select>
    </template>
    <select name="" id="" class="w-32">
      <option value=""></option>
      <template x-for="selection_option in qrc.selection_options">
        <option
          x-text="selection_option.name"
          type="radio"
          class="!m-0 hover:!bg-slate-200 checked:bg-slate-200"
        ></option>
      </template>
    </select>
  </div>
</template>
