<template x-if="qrc.type_name == 'select2_single'">
  <div class="flex">
    <template
      x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
    >
      <div class="w-64">
        <template
          x-if="typeof section_eefpst1 === 'undefined' || section_eefpst1?.eefpst1_lookups[eefps.id]"
        >
          <select
            :disabled="!eefps.consolidated"
            x-effect="$nextTick(() => {
              ''; let a
              if (typeof section_eefpst1 === 'undefined') {
                a = `record_id-${qrc.qrcf.id}-${eefps.id}-`
              } else {
                a = `record_id-${qrc.qrcf.id}-${eefps.id}-${section_eefpst1?.eefpst1_lookups[eefps.id]}`
              }
              bootSelect2($el, mh?.current_citations_project?.cell_lookups[a], false, true)
            })"
          >
            <option></option>
            <template x-for="selection_option in qrc.selection_options">
              <option
                :value="selection_option.id"
                :selected="
                  ''; let a
                  if (typeof section_eefpst1 === 'undefined') {
                    a = `${qrc.qrcf.id}-${eefps.id}-`
                  } else {
                    a = `${qrc.qrcf.id}-${eefps.id}-${section_eefpst1?.eefpst1_lookups[eefps.id]}`
                  }
                  const b = mh?.current_citations_project?.cell_lookups[a]?.value
                  return selection_option.id == b
                "
                x-text="selection_option.name"
              ></option>
            </template>
          </select>
        </template>
        <template
          x-if="typeof section_eefpst1 !== 'undefined' && section_eefpst1?.eefpst1_lookups[eefps.id] === undefined"
        >
          <div
            :title="`Extraction ID: ${eefps.extraction_id} by ${mh?.current_citations_project?.extractions_lookup[eefps.extraction_id]}`"
            class="mx-1 text-xs text-gray-400"
          >
            - No Arm -
          </div>
        </template>
      </div>
    </template>
  </div>
</template>
