<div
  class="fixed top-1/2 left-1/2 h-[40rem] -mt-[20rem] w-96 -ml-48 md:w-[80%] md:-ml-[40%] z-10 transform overflow-hidden rounded-lg bg-white px-4 pt-5 pb-4 text-left shadow-xl transition-all sm:p-6 border border-slate-200"
  x-show="suggestions_modal"
  x-cloak
  x-transition:enter="ease-out duration-300"
  x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
  x-transition:leave="ease-in duration-200"
  x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
  x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
  @click.outside="suggestions_modal = !suggestions_modal"
  @keyup.window.esc="suggestions_modal = false"
>
  <div class="mb-2">
    <h2
      class="text-lg font-bold"
      x-text="`Suggested ${mh?.current_citations_project?.section_name}`"
    ></h2>
  </div>
  <div class="h-[34rem] overflow-y-scroll border-2 p-2 rounded-md">
    <div>
      <div class="absolute top-0 right-0 pt-4 pr-4 block">
        <button
          type="button"
          class="cursor-pointer rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
          @click="suggestions_modal = false"
        >
          <span class="sr-only">Close</span>
          <!-- Heroicon name: outline/x-mark -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>
      </div>
    </div>
    <template x-if="mh?.current_citations_project?.section_name !== 'Outcomes'">
      <table>
        <thead>
          <tr>
            <th class="text-left">Name</th>
            <th class="text-left">Description</th>
            <th class="text-left">Suggested by</th>
            <th class="text-left"></th>
          </tr>
        </thead>
        <tbody>
          <template x-for="suggestion in suggestions">
            <tr>
              <td x-text="suggestion.name"></td>
              <td x-text="suggestion.description"></td>
              <td x-text="suggestion.suggested_by"></td>
              <td>
                <button
                  class="cursor-pointer p-1 m-2 bg-srdrpurple text-xs text-white"
                  @click="createArm(mh?.current_citations_project?.consolidated_extraction_eefps_id, suggestion.name, suggestion.description)"
                >
                  Add
                </button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </template>
    <template x-if="mh?.current_citations_project?.section_name === 'Outcomes'">
      <table>
        <thead>
          <tr>
            <th class="text-left">Type of Outcome</th>
            <th class="text-left">Domain</th>
            <th class="text-left">
              Specific measurement (i.e., tool/definition/specific outcome)
            </th>
            <th class="text-left">Timepoint(s)</th>
            <th class="text-left">Suggested by</th>
            <th></th>
          </tr>
        </thead>
        <tbody class="cursor-pointer">
          <template x-for="suggestion in suggestions">
            <tr>
              <td x-text="suggestion.type.name"></td>
              <td x-text="suggestion.name"></td>
              <td x-text="suggestion.description"></td>
              <td>
                <ul>
                  <template x-for="timepoint in suggestion.timepoints">
                    <li x-text="timepoint.name"></li>
                  </template>
                </ul>
              </td>
              <td x-text="suggestion.suggested_by"></td>
              <td>
                <button
                  class="cursor-pointer p-1 m-2 bg-srdrpurple text-xs text-white"
                  @click="$refs.new_eefpst1_units.value = '';
                  $refs.new_eefpst1_type.value = suggestion.type.id;
                  populations = [
                    {
                      name: 'All Participants',
                      description: 'All patients enrolled in this study.',
                    },
                  ];
                  timepoints = [];
                  if (suggestion.timepoints.length === 0) {
                    timepoints.push({
                      name: 'Baseline',
                      description: ''
                    })
                  } else {
                    for (let i = 0; i < suggestion.timepoints.length; i++) {
                      timepoints.push({
                        name: suggestion.timepoints[i].name,
                        description: suggestion.timepoints[i].unit
                      })
                    }
                  }
                  createArm(mh?.current_citations_project?.consolidated_extraction_eefps_id, suggestion.name, suggestion.description)
                  "
                >
                  Add
                </button>
              </td>
            </tr>
          </template>
        </tbody>
      </table>
    </template>
  </div>
</div>
