<template x-if="qrc.type_name == 'text'">
  <div>
    <div class="flex">
      <template
        x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
      >
        <div>
          <template
            x-if="typeof section_eefpst1 === 'undefined' || section_eefpst1?.eefpst1_lookups[eefps.id]"
          >
            <textarea
              class="!resize-none"
              name=""
              id=""
              cols="20"
              rows="5"
              :disabled="!eefps.consolidated"
              :minlength="qrc.selection_options[0].name"
              :maxlength="qrc.selection_options[1].name"
              x-text="
                ''; let a
                if (typeof section_eefpst1 === 'undefined') {
                  a = `${qrc.qrcf.id}-${eefps.id}-`
                } else {
                  a = `${qrc.qrcf.id}-${eefps.id}-${section_eefpst1.extractions_extraction_forms_projects_sections_type1_id}`
                }
                const b = mh?.current_citations_project?.cell_lookups[a]?.value
                return b
              "
              :title="`Extraction ID: ${eefps.extraction_id} by ${mh?.current_citations_project?.extractions_lookup[eefps.extraction_id]}`"
            ></textarea>
          </template>
          <template
            x-if="typeof section_eefpst1 !== 'undefined' && section_eefpst1?.eefpst1_lookups[eefps.id] === undefined"
          >
            <div>No Arm Available</div>
          </template>
        </div>
      </template>
    </div>
  </div>
</template>
