<template x-if="qrc.type_name == 'text'">
  <div>
    <div class="flex">
      <textarea
        class="!resize-none"
        name=""
        id=""
        cols="20"
        rows="3"
        disabled
      ></textarea>
      <textarea
        class="!resize-none"
        name=""
        id=""
        cols="20"
        rows="3"
        disabled
      ></textarea>
      <textarea
        class="!resize-none"
        name=""
        id=""
        cols="20"
        rows="3"
        disabled
      ></textarea>
      <textarea
        class="!resize-none"
        name=""
        id=""
        cols="20"
        rows="3"
      ></textarea>
    </div>
  </div>
</template>
