<div class="px-4 lg:px-8 space-y-2">
  <table class="table-auto">
    <thead>
      <tr>
        <th class="text-left">Arm Name</th>
        <template
          x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
          :key="eefps.id"
        >
          <th
            class="text-center"
            x-text="`ID: ${eefps.extraction_id} by ${mh?.current_citations_project?.extractions_lookup[eefps.extraction_id]}`"
          ></th>
        </template>
      </tr>
    </thead>
    <tbody>
      <template
        x-for="(section_eefpst1, section_eefpst1_index) in mh?.current_citations_project?.current_section_eefpst1s"
        :key="section_eefpst1.type1_id"
      >
        <tr>
          <td
            class="text-left"
            x-text="`${section_eefpst1.name} (${section_eefpst1.description})`"
          ></td>
          <template
            x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
            :key="eefps.id"
          >
            <td class="text-center">
              <span
                :class="section_eefpst1?.eefpst1_lookups[eefps.id] === undefined ? 'text-red-500' : 'text-green-500'"
                x-text="section_eefpst1?.eefpst1_lookups[eefps.id] === undefined ? 'Does NOT Exist' : 'Exists'"
              ></span>
              <template
                x-if="eefps?.consolidated && section_eefpst1?.eefpst1_lookups[eefps.id] === undefined"
              >
                <span
                  class="ml-2 bg-srdr-primary text-xs text-white p-1 rounded-md cursor-pointer"
                  @click="createArm(section_eefpst1.eefpst1_lookups, eefps.id, section_eefpst1.name, section_eefpst1.description)"
                >
                  Create
                </span>
              </template>
              <template
                x-if="eefps?.consolidated && section_eefpst1?.eefpst1_lookups[eefps.id] !== undefined"
              >
                <span
                  class="ml-2 bg-red-700 text-xs text-white p-1 rounded-md cursor-pointer"
                  @click="
                    if (confirm(`Are you sure you want to delete '${section_eefpst1.name}'`)) {
                      deleteArm(section_eefpst1.eefpst1_lookups, eefps.id);
                    }"
                >
                  Delete
                </span>
              </template>
            </td>
          </template>
        </tr>
      </template>
    </tbody>
  </table>
</div>
