<div class="px-4 lg:px-8">
  <div class="mt-6">
    <h3 class="text-base font-bold">
      Extraction
      <span x-text="mh?.current_citations_project?.section_name"></span>
    </h3>
    <table>
      <thead>
        <tr>
          <th class="w-20"></th>
          <th class="text-left">Name</th>
          <th class="text-left">Description</th>
        </tr>
      </thead>
      <tbody
        class="orderable-list"
        orderable-url="http://localhost:3000/api/v1/orderings/update_positions"
        x-effect="$nextTick(() => initializeOrderings())"
      >
        <template
          x-for="extraction_eefpst1 in mh?.current_citations_project?.consolidated_extraction_eefpst1s"
        >
          <tr
            class="orderable-item"
            :ordering-id="extraction_eefpst1.ordering_id"
            :position="extraction_eefpst1.position"
          >
            <td class="flex justify-center items-center">
              <i
                class="sort-handle cursor-move fa fa-arrows"
                aria-hidden="true"
              ></i>
            </td>
            <td x-text="extraction_eefpst1.name"></td>
            <td x-text="extraction_eefpst1.description"></td>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
  <div class="mt-6">
    <h3 class="text-base font-bold">
      Add
      <span x-text="mh?.current_citations_project?.section_name"></span>
      to Consolidated Extraction
    </h3>
    <div class="space-y-1">
      <input x-ref="new_eefpst1_name" type="text" placeholder="Name" />
      <input
        x-ref="new_eefpst1_description"
        type="text"
        placeholder="Description"
      />
    </div>
    <div
      class="rounded-md bg-srdrpurple text-white text-center p-2 my-4 cursor-pointer"
      @click="createArm(mh?.current_citations_project?.consolidated_extraction_eefps_id, $refs.new_eefpst1_name.value, $refs.new_eefpst1_description.value)
        $refs.new_eefpst1_name.value = ''
        $refs.new_eefpst1_description.value = ''
      "
    >
      Add to <span x-text="mh?.current_citations_project?.section_name"></span>
    </div>
  </div>
  <div class="mt-6 overflow-auto">
    <h3 class="text-base font-bold">
      All <span x-text="mh?.current_citations_project?.section_name"></span>
    </h3>
    <table class="table-auto">
      <thead>
        <tr>
          <th class="text-left">Name</th>
          <template
            x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
            :key="eefps.id"
          >
            <th
              class="text-center"
              x-text="`ID: ${eefps.extraction_id} by ${mh?.current_citations_project?.extractions_lookup[eefps.extraction_id]}`"
            ></th>
          </template>
        </tr>
      </thead>
      <tbody>
        <template
          x-for="(section_eefpst1, section_eefpst1_index) in mh?.current_citations_project?.current_section_eefpst1s"
          :key="section_eefpst1.type1_id"
        >
          <tr>
            <td
              class="text-left"
              x-text="`${section_eefpst1.name} (${section_eefpst1.description})`"
            ></td>
            <template
              x-for="(eefps, eefps_index) in mh?.current_citations_project?.current_section_eefpss"
              :key="eefps.id"
            >
              <td class="text-center">
                <span
                  :class="section_eefpst1?.eefpst1_lookups[eefps.id] === undefined ? 'text-red-500' : 'text-green-500'"
                  x-text="section_eefpst1?.eefpst1_lookups[eefps.id] === undefined ? 'Does NOT Exist' : 'Exists'"
                ></span>
                <template
                  x-if="eefps?.consolidated && section_eefpst1?.eefpst1_lookups[eefps.id] === undefined"
                >
                  <span
                    class="ml-2 bg-srdr-primary text-xs text-white p-1 rounded-md cursor-pointer"
                    @click="createArm(eefps.id, section_eefpst1.name, section_eefpst1.description)"
                  >
                    Create
                  </span>
                </template>
                <template
                  x-if="eefps?.consolidated && section_eefpst1?.eefpst1_lookups[eefps.id] !== undefined"
                >
                  <span
                    class="ml-2 bg-red-700 text-xs text-white p-1 rounded-md cursor-pointer"
                    @click="
                    if (confirm(`Are you sure you want to delete '${section_eefpst1.name}'`)) {
                      deleteArm(section_eefpst1.eefpst1_lookups[eefps.id]);
                    }"
                  >
                    Delete
                  </span>
                </template>
                <template
                  x-if="section_eefpst1?.eefpst1_lookups[eefps.id] !== undefined"
                >
                  <span
                    class="ml-2 bg-orange-500 text-xs text-white p-1 rounded-md cursor-pointer"
                    @click="type1_previews = {
                      loading: true,
                      false: [],
                      citations: [],
                      project: []
                    };
                    scopeOfChange = 'false';
                    type1_change_modal = true;
                    getArmData(section_eefpst1.type1_id, eefps.extraction_forms_projects_section_id, eefps.id);
                    oldType1.id = section_eefpst1?.eefpst1_lookups[eefps.id];
                    oldType1.name = section_eefpst1?.name;
                    oldType1.description = section_eefpst1?.description;
                    newType1.name = oldType1.name
                    newType1.description = oldType1.description
                  "
                  >
                    Change
                  </span>
                </template>
              </td>
            </template>
          </tr>
        </template>
      </tbody>
    </table>
  </div>
</div>
