services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - private.env
    environment:
      RAILS_ENV: production

  sidekiq:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - app
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    env_file:
      - private.env
    environment:
      RAILS_ENV: production
    entrypoint: ./entrypoints/sidekiq-entrypoint.sh

volumes:
  node_modules:
