<% provide(:title, 'About Us') %>

<div class="blog">
  <div class="hero">
    <div class="grid-x align-center">
      <div class="cell">
        <h1>Blog</h1>
        <h4>Here are our latest posts</h4>
      </div>
    </div>
  </div>
</div>
<div class="bg-white px-4 lg:px-8">
  <div
    class="relative mx-auto max-w-lg divide-y-2 divide-gray-200 lg:max-w-7xl"
  >
    <div class="grid gap-16 py-8 lg:grid-cols-2 lg:gap-x-5 lg:gap-y-12">
      <div>
        <p class="!text-sm !text-gray-500">
          <time datetime="2021-08-26">August 26, 2021</time>
        </p>
        <a href="/blog?date=2021_08_26" class="mt-2 block">
          <div
            class="!text-xl font-semibold !text-gray-900 flex justify-between items-center"
          >
            <div>
              SRDR+ as a Tool to Teach Evidence Synthesis Principles and Methods
              <span class="!text-sm !text-gray-500 !font-light"
                >by James Scott Parrott</span
              >
            </div>
            <!-- prettier-ignore -->
            <%= image_tag("testimonial-james-scott-parrott.png", size: "64x64", alt: 'Image of James Scott Parrott') %>
          </div>
          <p class="mt-3 !text-base !text-gray-500">
            When I first began teaching the principles and methods of evidence
            synthesis (i.e., how to conduct a systematic review) over a decade
            ago, I cast around to find an online platform learners could use to
            extract information from an article for their systematic review. At
            the time, I was not particularly mindful of the andragogical utility
            of any of the tools I...
          </p>
        </a>
        <div class="mt-3">
          <a
            href="/blog?date=2021_08_26"
            class="!text-base font-semibold !text-indigo-600 hover:!text-indigo-500"
            >Read full story</a
          >
        </div>
      </div>

      <div>
        <p class="!text-sm !text-gray-500">
          <time datetime="2021-04-14">April 14, 2021</time>
        </p>
        <a href="/blog?date=2021_04_14" class="mt-2 block">
          <div
            class="!text-xl font-semibold !text-gray-900 flex justify-between items-center"
          >
            <div>
              Enhancements to SRDR+, the Next-Level Replacement For SRDR
              <span class="!text-sm !text-gray-500 !font-light"
                >by Bryant Smith</span
              >
            </div>
            <!-- prettier-ignore -->
            <%= image_tag("photo-team-bryant.png", size: "64x64", alt: 'Image of Bryant Smith') %>
          </div>
          <p class="mt-3 !text-base !text-gray-500">
            SRDR+ is a free, open source, online, collaborative platform for
            extracting systematic review data, archiving the data after the
            review is complete, and sharing the data with others (including
            other systematic reviewers, clinical guideline developers,
            healthcare professionals, patients and health policy makers). Over
            the last couple of years, we’ve made several improvements...
          </p>
        </a>
        <div class="mt-3">
          <a
            href="/blog?date=2021_04_14"
            class="!text-base font-semibold !text-indigo-600 hover:!text-indigo-500"
            >Read full story</a
          >
        </div>
      </div>

      <div>
        <p class="!text-sm !text-gray-500">
          <time datetime="2021-03-05">March 5, 2021</time>
        </p>
        <a href="/blog?date=2021_03_05" class="mt-2 block">
          <div
            class="!text-xl font-semibold !text-gray-900 flex justify-between items-center"
          >
            <div>
              SRDR+ Presents New Importing Capability for FHIR-formatted
              Citation Files for Systematic Reviews
              <span class="!text-sm !text-gray-500 !font-light"
                >by Ian Saldanha</span
              >
            </div>
            <!-- prettier-ignore -->
            <%= image_tag("photo-team-ian.png", size: "64x64", alt: 'Image of Ian Saldanha') %>
          </div>
          <p class="mt-3 !text-base !text-gray-500">
            Supported by AHRQ, the Systematic Review Data Repository Plus
            (SRDR+) is working towards eventually becoming the first
            FHIR-enabled platform for conducting and sharing the results of
            systematic reviews. As part of this work, handling citations of
            included studies in systematic reviews just got easier!
            Study-related citation information (author names...
          </p>
        </a>
        <div class="mt-3">
          <a
            href="/blog?date=2021_03_05"
            class="!text-base font-semibold !text-indigo-600 hover:!text-indigo-500"
            >Read full story</a
          >
        </div>
      </div>

      <div>
        <p class="!text-sm !text-gray-500">
          <time datetime="2019-03-07">March 7, 2019</time>
        </p>
        <a href="/blog?date=2019_03_07" class="mt-2 block">
          <div
            class="!text-xl font-semibold !text-gray-900 flex justify-between items-center"
          >
            <div>
              The newly updated Systematic Review Data Repository Plus (SRDR+)
              <span class="!text-sm !text-gray-500 !font-light"
                >by Ian Saldanha</span
              >
            </div>
            <!-- prettier-ignore -->
            <%= image_tag("photo-team-ian.png", size: "64x64", alt: 'Image of Ian Saldanha') %>
          </div>
          <p class="mt-3 !text-base !text-gray-500">
            A lot of human capital and monetary resources are spent conducting
            systematic reviews. At the same time, there has been strong momentum
            towards promoting open science and data sharing. Technology can help
            us realize these ideals and improve the efficiency of the systematic
            review enterprise. A particularly inefficient systematic review step
            is...
          </p>
        </a>
        <div class="mt-3">
          <a
            href="/blog?date=2019_03_07"
            class="!text-base font-semibold !text-indigo-600 hover:!text-indigo-500"
            >Read full story</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
