<div>
    Dear <%= @user.handle %>,
</div>

<div>
    The request to share your project with <%= @external_service_providers_projects_user.external_service_provider.name %> has finished.
</div>

<div>
    Below is the list of links to the resource(s) shared:<br />
    <% @lsof_fois.each do |foi| %>
        <% resource_foi_url = @resource_url + '/resources/' + foi.to_s %>
        <a ses:no-track href="<%= resource_foi_url %>"><%= resource_foi_url %></a>
        <br />
    <% end %>
</div>

<div>
    Respectfully,<br>
    The SRDR Team
</div>

<style>
    div {
        padding: 1em;
    }
</style>
