<div class="flex flex-col items-center pt-5">
  <div class="flex space-x-4">

    <% next_pilot_screening = FulltextScreeningService.find_next_pilot_screening(@project, current_user) %>
    <% next_non_pilot_screening = FulltextScreeningService.find_next_non_pilot_screening(@project, current_user) %>

    <% if next_pilot_screening %>
      <%= link_to("Screen Pilot Round",
          fulltext_screening_screen_path(next_pilot_screening),
          class: "w-full items-center justify-center rounded-md border border-transparent bg-srdrpurple px-4 py-2 my-1 text-center text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 hover:no-underline hover:text-white")
      %>
    <% else %>
      <button class="w-full cursor-not-allowed items-center justify-center rounded-md border border-transparent bg-purple-900 opacity-80 px-4 py-2 my-1 text-center text-sm font-medium text-white shadow-sm">
        Nothing Left to Screen (Pilot)
      </button>
    <% end %>

    <% if next_non_pilot_screening %>
      <%= link_to("Screen Next Task<br>(#{next_non_pilot_screening.screening_type.to_upper.capitalize})".html_safe,
          fulltext_screening_screen_path(next_non_pilot_screening),
          class: "w-full items-center justify-center rounded-md border border-transparent bg-srdrpurple px-4 py-2 my-1 text-center text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 hover:no-underline hover:text-white")
      %>
    <% else %>
      <button class="w-full cursor-not-allowed items-center justify-center rounded-md border border-transparent bg-purple-900 opacity-80 px-4 py-2 my-1 text-center text-sm font-medium text-white shadow-sm">
        Nothing Left to Screen (Non-Pilot)
      </button>
    <% end %>

  </div>
</div>
