li.tabs-title.new-section-tabs-title
  = f.simple_fields_for(:section, f.object.section || f.object.build_section) do |s_f|
    = s_f.input :name, label: false, required: true, placeholder: 'Enter new section name', hint: 'Name can\'t be blank'
