.tabs-content.vertical data-tabs-content='vertical-tabs'

  = f.simple_fields_for(:extraction_forms_projects_sections) do |efps_f|
    .tabs-panel id="panel-tab-#{ efps_f.object.id.to_s }"
      == render 'extraction_forms_projects_sections/form', f: efps_f
