= f.simple_fields_for(:section, f.object.build_section) do |s_f|

  = s_f.input :name, label: false, required: true, placeholder: 'Enter new section name', hint: 'Name can\'t be blank'


/= f.simple_fields_for(:extraction_forms_projects_section, f.object.extraction_forms_projects_sections.build) do |efps_f|
/
/  = efps_f.simple_fields_for(:section, efps_f.object.build_section) do |s_f|
/
/    = s_f.input :name, label: false, required: true, placeholder: 'Enter new section name', hint: 'Name can\'t be blank'

= f.button :submit, t('save')
