.nested-fields.citation-fields.added-item
  .citation-inputs
    = f.simple_fields_for :citation, Citation.new do |citation_fields|
      .accession-number
        |Accession Number (e.g. PubMed ID)
        span data-tooltip="" tabindex="1" title="e.g. Pubmed ID, Cochrane, MBASE, etc."
          | &nbsp;
          i class="fi-info"
        = citation_fields.input :accession_number, label: false, required: false, input_html: { class: 'accession-number-lookup-field' }
        .pmid-checkbox
          a.is-pmid style='display: inline-block;'
            | Fetch from Pubmed
      = citation_fields.input :authors, placeholder: 'Author name(s)', required: true, label: 'Authors', wrapper_html: { class: "citation-authors" }
      = citation_fields.input :name, placeholder: 'New Citation', label: 'Title', required: true, wrapper_html: { class: "citation-name" }
      = citation_fields.input :abstract, as: :text, placeholder: 'Abstract goes here', required: false, wrapper_html: { class: "citation-abstract" }
      = citation_fields.association :citation_type, label: 'Citation Type', selected: 1
      br
      .grid-x
        = citation_fields.simple_fields_for :journal_attributes do |j_f|
          .small-12
            h5 Journal
          .small-12
            = j_f.input :name, label: "Name", required: false, wrapper_html: { class: "journal-name" }
          .small-4
            = j_f.input :issue, label: "Issue", required: false, wrapper_html: { class: "journal-issue" }
          .small-4
            = j_f.input :volume, label: "Volume", required: false, wrapper_html: { class: "journal-volume" }
          .small-4
            = j_f.input :publication_date, label: "Pub Year", required: false, wrapper_html: { class: "journal-year" }
      .grid-x
        .small-12
          h6 Page Numbers
        .small-6
          = citation_fields.input :page_number_start, label: false, required: false, wrapper_html: { class: "page-number-start" }
        .small-6
          = citation_fields.input :page_number_end, label: false, required: false, wrapper_html: { class: "page-number-end" }
        .small-12 style="margin-top: 20px;"
          h5 System Numbers
        .small-12
          = citation_fields.input :pmid, label: 'Pubmed ID', input_html: { class: 'input-citation-pmid' }
        .small-12
          = f.input :refman, label: 'Reference Manager ID'
          = f.input :other_reference, label: 'Other Reference ID'
        .small-12
          = citation_fields.input :registry_number, label: 'Registry Number'
        .small-12
          = citation_fields.input :doi, label: 'DOI'

      br
      .buttons-row.m-10
        .save-citation.button.success.small
          | Save
        = link_to_remove_association 'Cancel', f, class: 'button alert small cancel-button'
        /= link_to_remove_association '✖', f, class: 'remove-button', style: 'position: relative; top: 0.2rem; right: 0.2rem;'
