<div class="tabs-content" data-tabs-content="project-tabs">
  <div id="panel-project-information" class="tabs-panel is-active">
    <%= render 'projects/edit/manage_information' %>
  </div>
  <div id="panel-key-questions" class="tabs-panel" style="margin-bottom: 3rem;">
    <%= render 'projects/edit/manage_key_questions' %>
  </div>
  <div id="panel-projects-users" class="tabs-panel">
    <%= render 'projects/edit/manage_projects_users' %>
  </div>
</div>
