.tabs-content data-tabs-content='project-tabs'

  #panel-project-information.tabs-panel.is-active
    == render 'projects/edit/manage_information'

  #panel-key-questions.tabs-panel style='margin-bottom: 3rem;'
    == render 'projects/edit/manage_key_questions'

  #panel-projects-users.tabs-panel
    == render 'projects/edit/manage_projects_users'

/  #panel-project-options.tabs-panel
    == render 'projects/edit/manage_project_options'

/  #panel-citation-screening-extraction-form.tabs-panel
    == render 'projects/edit/citation_screening_extraction_form'

/  #panel-citations.tabs-panel
    == render 'projects/edit/manage_citations'

/  #panel-tasks.tabs-panel
    == render 'projects/edit/manage_tasks'

/  #panel-extraction-form.tabs-panel
    == render 'projects/edit/manage_extraction_forms'
