ul#project-tabs.tabs data-deep-link='true' data-update-history='true' data-tabs=''

  li.tabs-title.is-active.hide
    = link_to t('.project_information'), '#panel-project-information', title: t('.project_information')

  li.tabs-title.hide
    = link_to t('.key_questions'), page: 'key_questions', title: t('.key_questions')

  li.tabs-title.hide
    = link_to t('.members_and_roles') , page: 'members_and_roles', title: t('.members_and_roles')
