<div class="px-4 py-5 bg-white shadow rounded-lg lg:p-6">
  <dt class="text-sm font-medium text-gray-500 truncate">
    II. Full-text Screening
    <span
      x-text="`(${$store.dashboard.getFullTextScreeningTotal()})`"
    ></span>
  </dt>
  <dd class="mt-1 font-semibold text-gray-900">
    <div>
      <span
        x-text="$store.dashboard.kpis.fsu"
        :class="$store.dashboard.show.fsu ? '' : 'invisible'"
        x-transition
      >
        ..
      </span>
      <span class="text-xs font-extralight text-gray-500">Unscreened </span
      ><span class="text-xs font-extralight border p-1"> fsu</span>
    </div>
    <div>
      <span
        x-text="$store.dashboard.kpis.fsps"
        :class="$store.dashboard.show.fsps ? '' : 'invisible'"
        x-transition
      >
        ..
      </span>
      <span class="text-xs font-extralight text-gray-500"
        >Partially screened
      </span>
      <span class="text-xs font-extralight bg-slate-200 p-1"> fsps</span>
    </div>
    <div>
      <span
        x-text="$store.dashboard.kpis.fsic"
        :class="$store.dashboard.show.fsic ? '' : 'invisible'"
        x-transition
      >
        ..
      </span>
      <span class="text-xs font-extralight text-gray-500">In conflict </span
      ><span class="text-xs font-extralight bg-orange-200 p-1"> fsic</span>
    </div>
    <div>
      <span
        x-text="$store.dashboard.kpis.fsa"
        :class="$store.dashboard.show.fsa ? '' : 'invisible'"
        x-transition
      >
        ..
      </span>
      <span class="text-xs font-extralight text-gray-500">Accepted </span>
    </div>
    <div>
      <span
        x-text="$store.dashboard.kpis.fsr"
        :class="$store.dashboard.show.fsr ? '' : 'invisible'"
        x-transition
      >
        ..
      </span>
      <span class="text-xs font-extralight text-gray-500">Rejected </span
      ><span class="text-xs font-extralight bg-red-200 p-1"> fsr</span>
    </div>
  </dd>
</div>
