.tabs-content.vertical data-tabs-content="extraction-forms-projects-#{ efp.id.to_s }-vertical-tabs"
  - efp.extraction_forms_projects_sections.includes(:extraction_forms_projects_section_type, :section, :type1s).each do |efps|
    - section_name = efps.section.name
    .tabs-panel id="panel-tab-#{ efps.id.to_s }"
      = render "extractions/#{ action_name }/#{ efps.extraction_forms_projects_section_type.name.parameterize.underscore }",
        section_name: section_name,
        efp: efp,
        efps: efps






  /- efp.extraction_forms_projects_sections.includes(:extraction_forms_projects_section_type, :section, :type1s).each do |efps|
    - section_name = efps.section.name
    .tabs-panel id="panel-tab-#{ efps.id.to_s }"
      .row
        - @extractions.each do |extraction|
          .columns class="medium-#{ 12/@extractions.length }"
            - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by(\
              extraction: extraction,
              extraction_forms_projects_section: efps,
              link_to_type1: efps.link_to_type1.nil?\
              ? nil\
              : ExtractionsExtractionFormsProjectsSection.find_by!(\
                extraction: extraction,
                extraction_forms_projects_section: efps.link_to_type1))
            = render "extractions/#{ action_name }/#{ efps.extraction_forms_projects_section_type.name.parameterize.underscore }",
              extraction: extraction,
              section_name: section_name,
              efp: efp,
              efps: efps,
              eefps: eefps
