- color_array = ['lightblue', 'lightseagreen', 'lightskyblue', 'lightgrey']

.row.column
  h5 = 'Extractions by users: ' + @extractions.map { |e| e.user.profile.username }.join(', ')

  .table-scroll.clean-table
    table
      thead
        tr
          - @extractions.each_with_index do |extraction, idx|
            th style='border: 4px solid #{ color_array[0] }' By #{ extraction.user.profile.username }

          th style='border: 4px solid #410093;' By #{ @consolidated_extraction.user.profile.username } (Consolidated Extraction)

        / This row represents the extraction information header. It is composed of the username of the extractors + the username
          of the consolidator.
        tr
          - @extractions.each_with_index do |extraction, idx|
            - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by( \
              extraction: extraction,
              extraction_forms_projects_section: efps,
              link_to_type1: efps.link_to_type1.nil? \
                ? nil \
                : ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by!( \
                  extraction: extraction,
                  extraction_forms_projects_section: efps.link_to_type1))

            - linked_section = eefps.link_to_type1

            - if linked_section && eefps.link_to_type1.type1s.blank?
              th
                h5 style='color: red;' You must add #{ linked_section.extraction_forms_projects_section.section.name } before extracting into this section.

            - else
              th

          - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by( \
            extraction: @consolidated_extraction,
            extraction_forms_projects_section: efps,
            link_to_type1: efps.link_to_type1.nil? \
              ? nil \
              : ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by!( \
                extraction: @consolidated_extraction,
                extraction_forms_projects_section: efps.link_to_type1))

          - linked_section = eefps.link_to_type1

          - if linked_section && eefps.link_to_type1.type1s.blank?
            th
              h5 style='color: red;' You must add #{ linked_section.extraction_forms_projects_section.section.name } before extracting into this section.

          - else
            th
      / END

      / Every row represents a question. However, we may print additional rows if the type2 is linked to a type1.
      - efps.questions.each_with_index do |q, idx|
        tr style='text-align: left;'
          / The first row in every question row iteration displays the name and the description of the question.
          th colspan='#{ @extractions.length + 1 }' style='background-color: lightgrey;'
            = (idx + 1).to_s + '. ' + q.name
            br
            = q.description

        tbody class='consolidation-data-row'
          - if efps.link_to_type1
            - @head_to_head.dig(efp.id, efps.link_to_type1.id, :all_type1s).each do |t1|
              tr
                - @extractions.each_with_index do |extraction, idx|
                  - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by( \
                    extraction: extraction,
                    extraction_forms_projects_section: efps,
                    link_to_type1: efps.link_to_type1.nil? \
                      ? nil \
                      : ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by!( \
                        extraction: extraction,
                        extraction_forms_projects_section: efps.link_to_type1))

                  - linked_section = eefps.link_to_type1

                  - unless linked_section && eefps.link_to_type1.type1s.blank?
                    - if eefps.link_to_type1.type1s.include?(t1)
                      td style='border: 2px solid #{ color_array[0] };'
                        h6 = linked_section.extraction_forms_projects_section.section.name.singularize + ': ' + t1.name_and_description
                        = render 'extractions/shared/type_2/question_fields',
                          q: q,
                          t1: t1,
                          eefps: eefps,
                          display_only: true

                    - else
                      td style='vertical-align: top;'
                        h6 style='text-decoration: line-through;' = linked_section.extraction_forms_projects_section.section.name.singularize + ': ' + t1.name_and_description

                - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by( \
                  extraction: @consolidated_extraction,
                  extraction_forms_projects_section: efps,
                  link_to_type1: efps.link_to_type1.nil? \
                    ? nil \
                    : ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by!( \
                      extraction: @consolidated_extraction,
                      extraction_forms_projects_section: efps.link_to_type1))

                - linked_section = eefps.link_to_type1

                - unless linked_section && eefps.link_to_type1.type1s.blank?
                  - if eefps.link_to_type1.type1s.include?(t1)
                    td style='border: 4px solid #410093;'
                      h6 = linked_section.extraction_forms_projects_section.section.name.singularize + ': ' + t1.name_and_description
                      = render 'extractions/shared/type_2/question_fields',
                        q: q,
                        t1: t1,
                        eefps: eefps,
                        display_only: false

                  - else
                    td style='vertical-align: top;'
                      h6 style='text-decoration: line-through;' = linked_section.extraction_forms_projects_section.section.name.singularize + ': ' + t1.name_and_description

          - else
            tr
              - @extractions.each_with_index do |extraction, idx|
                - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by( \
                  extraction: extraction,
                  extraction_forms_projects_section: efps,
                  link_to_type1: efps.link_to_type1.nil? \
                    ? nil \
                    : ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by!( \
                      extraction: extraction,
                      extraction_forms_projects_section: efps.link_to_type1))

                td style='border: 2px solid #{ color_array[0] };'
                  = render 'extractions/shared/type_2/question_fields',
                    q: q,
                    t1: nil,
                    eefps: eefps,
                    display_only: true

              - eefps = ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by( \
                extraction: @consolidated_extraction,
                extraction_forms_projects_section: efps,
                link_to_type1: efps.link_to_type1.nil? \
                  ? nil \
                  : ExtractionsExtractionFormsProjectsSection.includes(extraction_forms_projects_section: :section).find_by!( \
                    extraction: @consolidated_extraction,
                    extraction_forms_projects_section: efps.link_to_type1))

              td style='border: 4px solid #410093;'
                = render 'extractions/shared/type_2/question_fields',
                  q: q,
                  t1: nil,
                  eefps: eefps,
                  display_only: false
