<div x-data="$store.dashboard">
  <h1 class="text-xl font-bold">Citation Phase Management</h3>
    <p class="mt-2 text-sm text-gray-700" x-text="`(Number of Citations: ${$store.dashboard.kpis.count})`"></p>
  <dl class="mt-5 grid grid-cols-1 gap-3 lg:grid-cols-3">
    <div class="px-4 py-5 bg-white shadow rounded-lg lg:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        I. Citation
      </dt>
      <dd class="mt-1 font-semibold text-gray-900">
        <div>
          <span
            x-text="$store.dashboard.kpis.asu"
            :class="$store.dashboard.show.asu ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >unscreened</span
          >
        </div>
        <div>
          <span
            x-text="$store.dashboard.kpis.asps"
            :class="$store.dashboard.show.asps ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >partially screened</span
          >
        </div>
        <div>
          <span
            x-text="$store.dashboard.kpis.asic"
            :class="$store.dashboard.show.asic ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >in conflict</span
          >
        </div>
        <div>
          <span
            x-text="$store.dashboard.kpis.asr"
            :class="$store.dashboard.show.asr ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >rejected</span
          >
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg lg:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        II. Fulltext
      </dt>
      <dd class="mt-1 font-semibold text-gray-900">
        <div>
          <span
            x-text="$store.dashboard.kpis.ftu"
            :class="$store.dashboard.show.ftu ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >unscreened</span
          >
        </div>
        <div>
          <span
            x-text="$store.dashboard.kpis.ftps"
            :class="$store.dashboard.show.ftps ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >partially screened</span
          >
        </div>
        <div>
          <span
            x-text="$store.dashboard.kpis.ftic"
            :class="$store.dashboard.show.ftic ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >in conflict</span
          >
        </div>
        <div>
          <span
            x-text="$store.dashboard.kpis.ftr"
            :class="$store.dashboard.show.ftr ? '' : 'invisible'"
            x-transition
          >
            ..
          </span>
          <span class="text-xs font-extralight text-gray-500"
            >rejected</span
          >
        </div>
      </dd>
    </div>

    <div class="px-4 py-5 bg-white shadow rounded-lg lg:p-6">
      <dt class="text-sm font-medium text-gray-500 truncate">
        III. Extraction
      </dt>
      <dd class="mt-1 font-semibold text-gray-900">
        <div>
          <div>
            <span
              x-text="$store.dashboard.kpis.ene"
              :class="$store.dashboard.show.ene ? '' : 'invisible'"
              x-transition
            >
              ..
            </span>
            <span class="text-xs font-extralight text-gray-500"
              >need extraction</span
            >
          </div>
          <div>
            <span
              x-text="$store.dashboard.kpis.eip"
              :class="$store.dashboard.show.eip ? '' : 'invisible'"
              x-transition
            >
              ..
            </span>
            <span class="text-xs font-extralight text-gray-500"
              >in progress</span
            >
          </div>
          <div>
            <span
              x-text="$store.dashboard.kpis.ec"
              :class="$store.dashboard.show.ec ? '' : 'invisible'"
              x-transition
            >
              ..
            </span>
            <span class="text-xs font-extralight text-gray-500">complete</span>
          </div>
        </div>
      </dd>
    </div>
  </dl>
</div>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.store("dashboard", {
      kpis: {
        asu: "..",
        asps: "..",
        asic: "..",
        asr: "..",
        ftu: "..",
        ftps: "..",
        ftic: "..",
        ftr: "..",
        ene: "..",
        eip: "..",
        ec: "..",
      },

      show: {
        asu: true,
        asps: true,
        asic: true,
        asr: true,
        ftu: true,
        ftps: true,
        ftic: true,
        ftr: true,
        ene: true,
        eip: true,
        ec: true,
      },

      init() {
        this.fetch_kpis();
      },

      async fetch_kpis() {
        const response = await fetch("/projects/<%= @project.id %>/kpis", {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        });
        this.kpis = await response.json();
      },
    });
  });

  document.addEventListener("alpine:initialized", () => {
    Object.keys(Alpine.store("dashboard").kpis).forEach(function (key) {
      Alpine.store("dashboard").$watch("kpis." + key, (a, b) => {
        if (a != b) {
          Alpine.store("dashboard").show[key] = false;
          setTimeout(() => {
            Alpine.store("dashboard").show[key] = true;
          }, 300);
        }
      });
    });
  });
</script>
