<div class="pointer-events-none fixed inset-x-0 bottom-0 flex max-w-full z-10">
  <div
    class="pointer-events-auto w-screen backdrop-blur-sm"
    x-show="selected.length > 0"
    x-cloak
    x-transition:enter="transform transition ease-in-out duration-500 sm:duration-700"
    x-transition:enter-start="translate-y-full"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="transform transition ease-in-out duration-500 sm:duration-700"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="translate-y-full"
  >
    <!-- Replace with your content -->
    <div class="flex justify-center items-center">
      <div
        class="cursor-pointer p-2 m-2 text-xs bg-srdr-primary text-white rounded-md"
        @click="selected = results"
      >
        Select All
      </div>
      <div
        class="cursor-pointer p-2 m-2 text-xs bg-srdr-primary text-white rounded-md"
        @click="selected = []"
      >
        Deselect All
      </div>
      <div class="ml-8">
        <span x-text="`Selected: ${selected.length}`"></span>
      </div>
      <div
        class="cursor-pointer p-2 m-2 text-xs bg-srdr-primary text-white rounded-md"
      >
        AS Accept
      </div>
      <div
        class="cursor-pointer p-2 m-2 text-xs bg-srdr-primary text-white rounded-md"
      >
        AS Reject
      </div>
      <div
        class="cursor-pointer p-2 m-2 text-xs bg-srdr-primary text-white rounded-md"
      >
        FS Accept
      </div>
      <div
        class="cursor-pointer p-2 m-2 text-xs bg-srdr-primary text-white rounded-md"
      >
        FS Reject
      </div>
    </div>
    <!-- /End replace -->
  </div>
</div>
