<div class="pointer-events-none fixed inset-x-0 bottom-0 flex max-w-full z-10">
  <div
    class="pointer-events-auto w-screen backdrop-blur-sm bg-srdr-secondary/80"
    x-show="!showDetailView && selected.length > 0"
    x-cloak
    x-transition:enter="transform transition ease-in-out duration-350 sm:duration-350"
    x-transition:enter-start="translate-y-full"
    x-transition:enter-end="translate-y-0"
    x-transition:leave="transform transition ease-in-out duration-350 sm:duration-350"
    x-transition:leave-start="translate-y-0"
    x-transition:leave-end="translate-y-full"
  >
    <div class="flex justify-center items-center overflow-x-auto">
      <div class="h-full p-2 m-1 mr-6">
        <span
          class="text-white"
          x-text="`Toggle ${selected.length} Citation(s)`"
        ></span>
      </div>
      <div
        class="cursor-pointer text-center h-full p-2 m-1 text-xs bg-green-800 hover:bg-green-500 border-[1px] border-white text-white rounded-md drop-shadow-md"
        @click="createScreeningQualification('as-accepted')"
      >
        Abstract Screening Acceptance
      </div>
      <div
        class="cursor-pointer text-center h-full p-2 m-1 mr-6 text-xs bg-red-800 hover:bg-red-500 border-[1px] border-white text-white rounded-md drop-shadow-md"
        @click="createScreeningQualification('as-rejected')"
      >
        Abstract Screening Rejection
      </div>
      <div
        class="cursor-pointer text-center h-full p-2 m-1 text-xs bg-green-800 hover:bg-green-500 border-[1px] border-white text-white rounded-md drop-shadow-md"
        @click="createScreeningQualification('fs-accepted')"
      >
        Full-Text Screening Acceptance
      </div>
      <div
        class="cursor-pointer text-center h-full p-2 m-1 mr-6 text-xs bg-red-800 hover:bg-red-500 border-[1px] border-white text-white rounded-md drop-shadow-md"
        @click="createScreeningQualification('fs-rejected')"
      >
        Full-Text Screening Rejection
      </div>
      <div
        class="cursor-pointer text-center h-full p-2 m-1 mr-6 text-xs bg-red-800 hover:bg-red-500 border-[1px] border-white text-white rounded-md drop-shadow-md"
        @click="createScreeningQualification('e-rejected')"
      >
        Extract Rejection
      </div>
      <div
        class="cursor-pointer text-center h-full p-2 m-1 text-xs bg-srdr-secondary hover:bg-srdr-primary border-[1px] border-white text-white rounded-md drop-shadow-md select-none"
        :class="showCreateExtractions ? '!bg-srdr-primary' : ''"
        @click="showCreateExtractions = true"
      >
        Extraction Menu
      </div>
    </div>
  </div>
</div>
