<div class="p-4 lg:p-8" x-data="citation_lifecycle_management">
  <div>
    <%= render 'dashboard' %>
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-xl font-bold">
          Citation Lifecycle Management
        </h1>
        <p class="mt-2 text-sm text-gray-700">Promote or demote citations.</p>
        <div class="relative">
          <input
            x-model.debounce.500ms="query"
            @keyup.slash.window="$focus.focus($el)"
            class="!p-4 text-center"
            placeholder="To start searching, press '/'"
            onfocus="this.placeholder = ''"
            onblur="this.placeholder = 'To start searching, press \'/\''"
            type="search"
          />
          <div
            x-show="query != ''"
            x-cloak
            @click="query = ''"
            class="cursor-pointer absolute top-2 right-2"
          >
            Clear Results (X)
          </div>
        </div>
      </div>
    </div>
    <div class="my-4 flex flex-col">
      <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
          <div
            class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg mb-8"
          >
            <table class="w-full divide-y divide-gray-300">
              <thead class="bg-gray-50">
                <tr>
                  <th
                    scope="col"
                    class="cursor-pointer py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6"
                    @click="changeOrderBy('accession_number_alts')"
                  >
                    <div class="flex justify-between">
                      Accession No.
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'accession_number_alts'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'accession_number_alts'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('author_map_string')"
                  >
                    <div class="flex justify-between">
                      Authors
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'author_map_string'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'author_map_string'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('name')"
                  >
                    <div class="flex justify-between">
                      Title
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'name'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'name'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('year')"
                  >
                    <div class="flex justify-between">
                      Publication Date
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'year'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'year'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('users')"
                  >
                    <div class="flex justify-between">
                      Participants
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'users'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'users'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('as_labels')"
                  >
                    <div class="flex justify-between">
                      AS Labels
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'as_labels'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'as_labels'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('fs_labels')"
                  >
                    <div class="flex justify-between">
                      FS Labels
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'fs_labels'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'fs_labels'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('reasons')"
                  >
                    <div class="flex justify-between">
                      Reason(s)
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'reasons'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'reasons'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('tags')"
                  >
                    <div class="flex justify-between">
                      Tag(s)
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'tags'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'tags'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('note')"
                  >
                    <div class="flex justify-between">
                      Note(s)
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'note'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'note'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th
                    scope="col"
                    class="cursor-pointer px-3 py-3.5 text-left text-sm font-semibold text-gray-900"
                    @click="changeOrderBy('screening_status')"
                  >
                    <div class="flex justify-between">
                      Status
                      <template
                        x-if="pagination.sort == 'asc' && pagination.order_by == 'screening_status'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h6m4 0l4-4m0 0l4 4m-4-4v12"
                          />
                        </svg>
                      </template>
                      <template
                        x-if="pagination.sort == 'desc' && pagination.order_by == 'screening_status'"
                      >
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="h-6 w-6"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke="currentColor"
                          stroke-width="2"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M3 4h13M3 8h9m-9 4h9m5-4v12m0 0l-4-4m4 4l4-4"
                          />
                        </svg>
                      </template>
                    </div>
                  </th>
                  <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                    <span class="sr-only">Edit</span>
                  </th>
                </tr>
              </thead>
              <tbody class="divide-y divide-gray-200 bg-white">
                <template x-if="results == null">
                  <tr>
                    <td>Loading..</td>
                  </tr>
                </template>
                <template
                  x-if="results != null && results.length == 0"
                >
                  <tr>
                    <td>No results</td>
                  </tr>
                </template>
                <template x-if="results != null">
                  <template x-for="result in results">
                    <tr>
                      <td
                        class="pl-4 pr-3 text-sm text-gray-500 sm:pl-6"
                        x-text="result.accession_number_alts"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500 max-w-[150px] overflow-hidden text-ellipsis whitespace-nowrap"
                        x-text="result.author_map_string"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                      ><a :href="'/citations/' + result.citation_id" x-text="result.name" target="_blank"</a></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                        x-text="result.year"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                        x-text="result.users"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                      >
                      <template x-for="labels in result.as_labels">
                        <div x-text="labels"></div>
                      </template>
                      </td>
                      <td
                        class="px-3 text-sm text-gray-500"
                      >
                      <template x-for="labels in result.fs_labels">
                        <div x-text="labels"></div>
                      </template>
                      </td>
                      <td
                        class="px-3 text-sm text-gray-500"
                        x-text="result.reasons"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                        x-text="result.tags"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                        x-text="result.note"
                      ></td>
                      <td
                        class="px-3 text-sm text-gray-500"
                        x-text="result.screening_status"
                      ></td>
                      <td
                        class="whitespace-nowrap relative pl-3 pr-4 text-right text-sm font-medium sm:pr-6 flex"
                      >
                        <button
                          class="cursor-pointer hover:no-underline m-1 hover:text-white inline-flex items-center justify-center rounded-md bg-srdrpurple text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light"
                          @click="update_evaluation(result.citations_project_id, 'demote')"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M15 13l-3 3m0 0l-3-3m3 3V8m0 13a9 9 0 110-18 9 9 0 010 18z"
                            />
                          </svg>
                        </button>
                        <button
                          class="cursor-pointer hover:no-underline m-1 hover:text-white inline-flex items-center justify-center rounded-md border border-transparent bg-srdrpurple text-sm font-medium text-white shadow-sm hover:bg-srdrpurple-light"
                          @click="update_evaluation(result.citations_project_id, 'promote')"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                          >
                            <path
                              stroke-linecap="round"
                              stroke-linejoin="round"
                              d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z"
                            />
                          </svg>
                        </button>
                      </td>
                    </tr>
                  </template>
                </template>
              </tbody>
            </table>
          </div>
          <div><%= render '/components/pagination' %></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("citation_lifecycle_management", () => ({
      results: null,
      query: "",
      base_url:
        "/projects/<%= params[:project_id] %>/citation_lifecycle_management",
      pagination: {
        base_url: this.base_url,
        prev_page: "",
        current_page: "",
        next_page: "",
        total_pages: "",
        query: null,
        order_by: null,
        sort: null,
      },

      init() {
        this.fetch_results();
        this.$watch("query", (value, oldValue) => {
          this.pagination.current_page = 1;
          this.pagination.query = value;
          this.pagination.order_by = null;
          this.pagination.sort = null;
          this.fetch_results();
        });
      },

      changeOrderBy(order_by) {
        if (this.pagination.order_by == order_by) {
          if (this.pagination.sort == "asc") {
            this.pagination.sort = "desc";
          } else if (this.pagination.sort == "desc") {
            this.pagination.order_by = null;
            this.pagination.sort = null;
          } else {
            this.pagination.sort = "asc";
          }
        } else {
          this.pagination.sort = "asc";
          this.pagination.order_by = order_by;
        }
        this.fetch_results();
      },

      goToPage(page) {
        this.pagination.current_page = page;
        this.fetch_results();
      },

      query_url() {
        let url = this.base_url;
        let params = [];
        if (this.pagination.query) {
          params.push("query=" + escape(this.pagination.query));
        }
        if (this.pagination.order_by) {
          params.push("order_by=" + this.pagination.order_by);
        }
        if (this.pagination.sort) {
          params.push("sort=" + this.pagination.sort);
        }
        params.push(`page=${this.pagination.current_page}`);
        return url + "?" + params.join("&");
      },

      async fetch_results() {
        const response = await fetch(this.query_url(), {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        });
        const data = await response.json();
        this.results = data.results;
        this.pagination = data.pagination;
      },

      async update_evaluation(citations_project_id, type) {
        const response = await fetch(
          `/citations_projects/${citations_project_id}/update_evaluation?page=<%= params[:page] %>&type=${type}`,
          {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          }
        );
        const data = await response.json();
        for (let i = 0; i < this.results.length; i++) {
          const citations_project = this.results[i];
          if (
            citations_project.citations_project_id == data.citations_project_id
          ) {
            citations_project.screening_status = data.screening_status;
          }
        }
        Alpine.store("dashboard").fetch_kpis();
      },
    }));
  });
</script>
