<div
  x-data="{ url: '/projects/<%= params[:project_id] %>/abstract_screenings/new' }"
>
  <% if @use_new_form %>
    <%= render 'abstract_screenings/form/new_form' %>
  <% else %>
    <%= render 'abstract_screenings/form/form' %>
  <% end %>
</div>
