<div class="px-4 sm:px-6 lg:px-8 pt-8" x-data="{ type: 'perpetual' }">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900">
        Create New Abstract Screening Process
      </h1>
      <p class="mt-2 text-sm text-gray-700">
        Setup an abstract screening process for your project members and pool of
        citations
      </p>
    </div>
  </div>
  <div class="flex flex-col w-full">
    <!-- prettier-ignore -->
    <%= simple_form_for([@project, @project.abstract_screenings.new]) do |f| %>
    <div class="mb-4">
      <!-- prettier-ignore -->
      <%= f.input :abstract_screening_type, as: :select, collection: AbstractScreening::ABSTRACTSCREENINGTYPES, default: 'perpetual', input_html: { 'x-model': 'type' }%>
    </div>
    <template x-if="type != 'perpetual'">
      <div class="mb-4">
        <label for="no_of_citations"
          >Maximum number of citations (1..1000) drawn from the citations
          pool:</label
        >
        <input
          type="number"
          id="no_of_citations"
          name="no_of_citations"
          min="1"
          max="1000"
        />
      </div>
    </template>
    <div class="mb-4">
      <!-- prettier-ignore -->
      <%= f.association(:projects_users_roles, label: 'Participants', required: true, collection: @project.projects_users_roles.to_h { |pur| [pur.handle, pur.id] }, input_html: { class: 'select2', multiple: 'multiple' } ) %>
    </div>

    <div class="grid grid-rows xl:grid-cols-4 gap-8 my-8">
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900">Require Tags</span>
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners must add a <strong>Tag</strong>
          </span>
        </span>
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Yes</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[no_tag_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>No</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[maybe_tag_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Maybe</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Tags</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[yes_tag_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>

      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900">Require Reasons</span>
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners must add a <strong>Reason</strong>
          </span>
        </span>
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Yes</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[yes_reason_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>No</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[no_reason_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Maybe</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Reasons</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[maybe_reason_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>

      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900">Require Notes</span>
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners must add a <strong>Note</strong>
          </span>
        </span>
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Yes</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Notes</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[yes_note_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>No</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Notes</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[no_note_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            ><strong>Maybe</strong> Labels</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Require Notes</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[maybe_note_required]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>

      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Additional Options</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Choose what information the screeners will be shown
          </span>
        </span>
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Hide Author Information</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners will not be shown citation authors.</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[hide_author]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
      <div class="flex items-center justify-between">
        <span class="flex-grow flex flex-col">
          <span class="text-sm font-medium text-gray-900"
            >Hide Journal Information</span
          >
          <span class="text-sm text-gray-500" id="availability-description"
            >Screeners will not be shown journal information of citations.</span
          >
        </span>
        <input
          type="checkbox"
          name="abstract_screening[hide_journal]"
          class="!m-auto bg-gray-200 h-6 w-11 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
        />
      </div>
    </div>

    <!-- prettier-ignore -->
    <%= f.button :submit, 'Create Abstract Screening', class: '!mt-8', data: { confirm: "Please note that an Abstract Screening details cannot be modified after it's created. Continue?" } %>
    <% end %>
  </div>
</div>

<script>
  $(".select2").select2();
</script>
