= text_field_tag("text-#{ qrc.question_row_column_fields.first.id }",
  nil,
  data: { \
    prereq: "prereq-#{ qrc.class }-#{ qrc.id }",
    recordableParams: { \
      extractionId: "#{ @extraction.nil? ? nil : @extraction.id }",
      type: "#{ qrc.question_row_column_fields.first.class }",
      id: "#{ qrc.question_row_column_fields.first.id }" },
    },
  maxlength: qrc.field_validation_value_for(:max_length),
  pattern: ".{0}|.{#{ qrc.field_validation_value_for(:min_length) },#{ qrc.field_validation_value_for(:max_length) }}",
  required: '',
  title: "Either 0 OR (#{ qrc.field_validation_value_for(:min_length) } to #{ qrc.field_validation_value_for(:max_length) } chars)")
