= text_field_tag("text-#{ qrc.question_row_column_fields.first.id }",
  nil,
  data: { \
    prereq: "prereq-#{ qrc.class }-#{ qrc.id }",
    recordableParams: { \
      extractionId: "#{ @extraction.nil? ? nil : @extraction.id }",
      type: "#{ qrc.question_row_column_fields.first.class }",
      id: "#{ qrc.question_row_column_fields.first.id }" },
    },
  maxlength: qrc.question_row_columns_question_row_column_options.find_by(question_row_column_option_id: 3).name,
  pattern: ".{0}|.{#{ qrc.question_row_columns_question_row_column_options.find_by(question_row_column_option_id: 2).name },#{ qrc.question_row_columns_question_row_column_options.find_by(question_row_column_option_id: 3).name }}",
  required: '',
  title: "Either 0 OR (#{ qrc.question_row_columns_question_row_column_options.find_by(question_row_column_option_id: 2).name } to #{ qrc.question_row_columns_question_row_column_options.find_by(question_row_column_option_id: 3).name } chars)")
