/* line 2, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable {
  clear: both;
  margin: 0.5em 0 !important;
  max-width: none !important;
  width: 100%;
}

/* line 8, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable td,
table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 13, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable td.dataTables_empty,
table.dataTable th.dataTables_empty {
  text-align: center;
}

/* line 21, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}

/* line 29, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper {
  position: relative;
}

/* line 33, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_length label {
  float: left;
  text-align: left;
  margin-bottom: 0;
}

/* line 39, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_length select {
  width: 75px;
  margin-bottom: 0;
}

/* line 46, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_filter label {
  float: right;
  margin-bottom: 0;
}

/* line 51, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_filter input {
  display: inline-block !important;
  width: auto !important;
  margin-bottom: 0;
  margin-left: 0.5em;
}

/* line 59, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_info {
  padding-top: 2px;
}

/* line 63, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_paginate {
  float: right;
  margin: 0;
}

/* line 68, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1rem 0;
}

/* line 85, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc, table.dataTable thead > tr > th.sorting,
table.dataTable thead > tr > td.sorting_asc,
table.dataTable thead > tr > td.sorting_desc,
table.dataTable thead > tr > td.sorting {
  padding-right: 1.5rem;
}

/* line 91, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead > tr > th:active,
table.dataTable thead > tr > td:active {
  outline: none;
}

/* line 96, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
}

/* line 104, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  background-repeat: no-repeat;
  background-position: center right;
}

/* line 113, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting {
  background-image: url(/assets/datatables/sort_both-96cffba6e8f38b2258ad73a3ad8a946836f52d22e8621ca552296fc292000fad.png);
}

/* line 116, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting_asc {
  background-image: url(/assets/datatables/sort_asc-a7da45de6f5c61cd2d96012bd18e2d50a2d0267ba6457e82b4a77f6ab57f9d10.png);
}

/* line 119, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting_desc {
  background-image: url(/assets/datatables/sort_desc-a7403ccecc9ef7deb8a9c1b152782b7f1fccd2c7eac77b7220186c8c17181ec5.png);
}

/* line 122, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting_asc_disabled {
  background-image: url(/assets/datatables/sort_asc_disabled-06dd868527bf4c66ebeb55ea1e1b0c3a5c48f4e7492339e66dac562399707e8c.png);
}

/* line 125, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
table.dataTable thead .sorting_desc_disabled {
  background-image: url(/assets/datatables/sort_desc_disabled-f94299adc4568faa8ea5dcabda808b551e6fb47082e84bcdb3bd880c3a238079.png);
}

/* line 132, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_scrollHead table {
  margin-bottom: 0 !important;
}

/* line 137, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

/* line 142, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_scrollBody table tbody tr:first-child th,
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

/* line 149, ../usr/local/bundle/gems/jquery-datatables-1.10.20/app/assets/stylesheets/datatables/dataTables.foundation.scss */
div.dataTables_scrollFoot table {
  margin-top: 0 !important;
  border-top: none;
}
