<div class="w-1/3 flex flex-col justify-between">
  <h2
    class="text-base font-semibold leading-6 text-gray-900"
    x-text="`${chatColumn.title} Board`"
  ></h2>
  <template x-if="getMessagesByKey(chatColumn.key).length !== 0">
    <div
      class="rounded-md overflow-y-scroll flex flex-col-reverse flex-auto w-full gap-y-2 border border-gray-100"
    >
      <template
        x-for="message in getMessagesByKey(chatColumn.key)"
        :key="message.id"
      >
        <div
          class="p-1 rounded-lg"
          :class="{
          'col-start-1': message.user_id !== current_user_id,
          'col-end-8': message.user_id !== current_user_id,
          'col-start-6': message.user_id === current_user_id,
          'col-end-13': message.user_id === current_user_id,
        }"
        >
          <div
            class="flex"
            :class="{
            'flex-row': message.user_id !== current_user_id,
            'items-center': message.user_id !== current_user_id,
            'items-center': message.user_id === current_user_id,
            'justify-start': message.user_id === current_user_id,
            'flex-row-reverse': message.user_id === current_user_id,
          }"
          >
            <div
              class="relative ml-3 text-sm px-2 py-1 shadow rounded-xl"
              :class="{
              'bg-white': message.user_id !== current_user_id,
              'bg-indigo-100': message.user_id === current_user_id,
            }"
            >
              <div
                x-text="message.text"
                class="whitespace-pre-wrap"
                style="overflow-wrap: anywhere"
                @click="destroyMessageUnread(message)"
              ></div>
              <div class="flex space-x-1">
                <div
                  class="text-xs text-gray-500 text-nowrap text-right"
                  x-text="`${message.handle} wrote at ${new Date(message.created_at).toLocaleString()}`"
                ></div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="0.5"
                  stroke="currentColor"
                  class="w-4 h-4 cursor-pointer"
                  @click="destroyMessage(message, getMessagesByKey(chatColumn.key))"
                  x-show="message.user_id === current_user_id"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      </template>
    </div>
  </template>
  <template x-if="getMessagesByKey(chatColumn.key).length === 0">
    <div
      class="flex-1 w-full flex justify-center items-center border border-gray-100 rounded-md"
    >
      <div>No Messages</div>
    </div>
  </template>

  <div class="m-2">
    <label class="relative">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="gray"
        class="cursor-pointer w-6 h-6 absolute top-1/2 transform -translate-y-1/2 right-3 p-1"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
        />
      </svg>
      <input
        class="!pl-2 !pr-8"
        type="text"
        @keydown.enter="sendMessage($el, getHelpKeyByKey(chatColumn.key), chatColumn.key)"
      />
    </label>
  </div>
</div>
