<div class="p-4 lg:p-8">
  <div class="grid-x">
    <div class="cell small-12">
      <h1 class="text-xl font-bold">New extraction</h1>
    </div>
  </div>
  <div class="grid-x">
    <div class="cell small-12">
      <%= render 'form' %>
    </div>
  </div>
</div>
