.column.row
  .title-heading
    h2 Extraction Information
    = link_to 'Edit', edit_extraction_path(@extraction)

.column.row
  dl
    dt.label.primary Study
    dd.callout.secondary = @extraction.citation.name

.column.row
  dl
    dt.label.primary Users
    dd.callout.secondary = @extraction.projects_users_role.handle

/.column.row
  dl
    dt.label.primary Key Questions
    dd.callout.secondary
      ul
        - @extraction.extractions_key_questions_projects.each do |ekqp|
          li = ekqp.key_questions_project.key_question.name

= link_to 'Back', project_extractions_path(@extraction.projects_users_role.projects_user.project)
