<%= f.error_notification %>
<div class="alert callout" data-abide-error style="display: none;">
  <p>
    <i class="fi-alert"></i>
    Please correct the errors below.
  </p>
</div>
<div class="form-inputs">
  <%= f.simple_fields_for(:key_question, f.object.key_question || f.object.build_key_question) do |kq_f| %>
    <%= kq_f.input :name, label: t('question_text'), required: true, hint: "Name can't be blank" %>
  <% end %>
</div>
<div class="mt-4">
  <%= f.button :submit, t('.save'), style: 'float: left;' %>
</div>
