= f.error_notification

.alert.callout data-abide-error='' style='display: none;'
  p
    i.fi-alert>
    ' Please correct the errors below.

.form-inputs
  = f.simple_fields_for(:key_question, f.object.key_question || f.object.build_key_question) do |kq_f|

    = kq_f.input :name, label: t('question_text'), required: true, hint: 'Name can\'t be blank'

div class="mt-4"
  = f.button :submit, t('.save'), style: 'float: left;'
