<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
  </head>
  <body>
    <h1>Error</h1>
    <p>The import you requested for file</p>
    <div class="file-name">
      <h2>"<%= @filename %>"</h2>
    </div>
    <p>has encountered the following error</p>
    <div class="error-message">
      <h3>"<%= @message %>"</h3>
    </div>
  </body>
</html>
