<div class="border p-2 w-9/12 xl:w-11/12 space-y-2">
  <h2 class="text-base font-bold border-b-2">Authors and Stakeholders</h2>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Organization of Authors of Full Report (Required)
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        autofocus
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Authors of Full Report (Required)
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Conflicts of Interest of Authors of Full Report
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Key Informants
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Technical Expert Panel
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Peer Reviewers
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
      />
    </div>
  </div>
</div>
