<div class="border p-2 w-9/12 xl:w-11/12 space-y-2">
  <h2 class="text-base font-bold border-b-2">Authors and Stakeholders</h2>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Organization of Authors of Full Report (Required)
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        :class="sdMetaDatum.organization?.length === 0 ? '!bg-red-300' : ''"
        autofocus
        x-model="sdMetaDatum.organization"
        @input.debounce="updateSdMetaDatum('organization', sdMetaDatum.organization)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Authors of Full Report (Required)
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        :class="sdMetaDatum.authors?.length === 0 ? '!bg-red-300' : ''"
        x-model="sdMetaDatum.authors"
        @input.debounce="updateSdMetaDatum('authors', sdMetaDatum.authors)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Conflicts of Interest of Authors of Full Report
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.authors_conflict_of_interest_of_full_report"
        @input.debounce="updateSdMetaDatum('authors_conflict_of_interest_of_full_report', sdMetaDatum.authors_conflict_of_interest_of_full_report)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Key Informants
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.stakeholders_key_informants"
        @input.debounce="updateSdMetaDatum('stakeholders_key_informants', sdMetaDatum.stakeholders_key_informants)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Technical Expert Panel
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.stakeholders_technical_experts"
        @input.debounce="updateSdMetaDatum('stakeholders_technical_experts', sdMetaDatum.stakeholders_technical_experts)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Peer Reviewers
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.stakeholders_peer_reviewers"
        @input.debounce="updateSdMetaDatum('stakeholders_peer_reviewers', sdMetaDatum.stakeholders_peer_reviewers)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Stakeholders Involved - Others
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.stakeholders_others"
        @input.debounce="updateSdMetaDatum('stakeholders_others', sdMetaDatum.stakeholders_others)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >SRDR+ Project Leads
    </label>
    <div class="border border-gray-300 rounded-md p-1">
      <template x-for="user in sdMetaDatum.leaders">
        <div class="text-sm">
          <b x-text="user.name"></b>
          <span x-text="`(${user.email})`"></span>
        </div>
      </template>
    </div>
  </div>
</div>
