<div class="border p-2 w-9/12 xl:w-11/12 space-y-2">
  <h2 class="text-base font-bold border-b-2">URL Links</h2>
  <div>
    <label class="block text-xs font-bold text-gray-700">PROSPERO</label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        autofocus
        x-model="sdMetaDatum.prospero_link"
        @input.debounce="updateSdMetaDatum('prospero_link', sdMetaDatum.prospero_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700">Protocol</label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.protocol_link"
        @input.debounce="updateSdMetaDatum('protocol_link', sdMetaDatum.protocol_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Full Report (Required)
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.full_report_link"
        @input.debounce="updateSdMetaDatum('full_report_link', sdMetaDatum.full_report_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Structured Abstract
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.structured_abstract_link"
        @input.debounce="updateSdMetaDatum('structured_abstract_link', sdMetaDatum.structured_abstract_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Main Points or Key Messages
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.key_messages_link"
        @input.debounce="updateSdMetaDatum('key_messages_link', sdMetaDatum.key_messages_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Lay Abstract / Lay Language Summary
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.abstract_summary_link"
        @input.debounce="updateSdMetaDatum('abstract_summary_link', sdMetaDatum.abstract_summary_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Evidence Summary / Executive Summary
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.evidence_summary_link"
        @input.debounce="updateSdMetaDatum('evidence_summary_link', sdMetaDatum.evidence_summary_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Disposition of Comments
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.disposition_of_comments_link"
        @input.debounce="updateSdMetaDatum('disposition_of_comments_link', sdMetaDatum.disposition_of_comments_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Downloadable Content
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.srdr_data_link"
        @input.debounce="updateSdMetaDatum('srdr_data_link', sdMetaDatum.srdr_data_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Most Recent Previous Version of SRDR+ Data
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.most_previous_version_srdr_link"
        @input.debounce="updateSdMetaDatum('most_previous_version_srdr_link', sdMetaDatum.most_previous_version_srdr_link)"
      />
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Most Recent Previous Version of Full Report
    </label>
    <div>
      <input
        type="text"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.most_previous_version_full_report_link"
        @input.debounce="updateSdMetaDatum('most_previous_version_full_report_link', sdMetaDatum.most_previous_version_full_report_link)"
      />
    </div>
  </div>
  <div>
    <div class="flex items-center">
      <label class="block text-xs font-bold text-gray-700"
        >Journal Articles</label
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-4 h-4 cursor-pointer"
        @click="createSubResource('sd_journal_article_urls', 'sd_meta_data', sdMetaDatumId, sdMetaDatum)"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
    <template
      x-for="(sd_journal_article_url, sd_journal_article_url_index) in sdMetaDatum.sd_journal_article_urls"
    >
      <div class="flex items-center">
        <input
          type="text"
          class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
          x-model="sd_journal_article_url.name"
          @input.debounce="updateSubResource('sd_journal_article_urls', sd_journal_article_url.id, 'PATCH', 'name', sd_journal_article_url.name)"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="red"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          class="w-4 h-4 cursor-pointer"
          @click="if (confirm (`Are you sure you want to delete '${sd_journal_article_url.name}'?`)) {
            await updateSubResource('sd_journal_article_urls', sd_journal_article_url.id, 'DELETE')
            sdMetaDatum.sd_journal_article_urls.splice(sd_journal_article_url_index, 1)
          }"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </template>
  </div>
  <div>
    <div class="flex items-center">
      <label class="block text-xs font-bold text-gray-700">Other Items</label
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-4 h-4 cursor-pointer"
        @click="createSubResource('sd_other_items', 'sd_meta_data', sdMetaDatumId, sdMetaDatum)"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
    <template
      x-for="(sd_other_item, sd_other_item_index) in sdMetaDatum.sd_other_items"
    >
      <div class="flex items-center">
        <input
          type="text"
          class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
          x-model="sd_other_item.name"
          @input.debounce="updateSubResource('sd_other_items', sd_other_item.id, 'PATCH', 'name', sd_other_item.name)"
        />
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="red"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="white"
          class="w-4 h-4 cursor-pointer"
          @click="if (confirm (`Are you sure you want to delete '${sd_other_item.name}'?`)) {
            await updateSubResource('sd_other_items', sd_other_item.id, 'DELETE')
            sdMetaDatum.sd_other_items.splice(sd_other_item_index, 1)
          }"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 12H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
          />
        </svg>
      </div>
    </template>
  </div>
</div>
