<div class="border text-sm w-3/12 xl:w-1/12 p-1">
  <div class="text-xs font-semibold">Analytic / Conceptual Frameworks</div>
  <ul class="text-xs">
    <li class="text-xs cursor-pointer">narrative 1</li>
    <li class="text-xs cursor-pointer">narrative 2</li>
  </ul>
  <div class="text-xs font-semibold">Report Key Questions</div>
  <ul class="text-xs">
    <li class="text-xs cursor-pointer">network 1</li>
    <li class="text-xs cursor-pointer">network 2</li>
  </ul>
</div>
<div class="border p-2 w-9/12 xl:w-11/12 space-y-2">
  <h2 class="text-base font-bold border-b-2">
    Purpose, Analytic Framework, and Key Questions
  </h2>
  <div>
    <label class="block text-xs font-bold text-gray-700"
      >Overall Purpose of Review
    </label>
    <div>
      <textarea
        rows="4"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
        autofocus
        x-model="sdMetaDatum.overall_purpose_of_review"
        @input.debounce="updateSdMetaDatum('overall_purpose_of_review', sdMetaDatum.overall_purpose_of_review)"
      ></textarea>
    </div>
  </div>
  <div>
    <label class="block text-xs font-bold text-gray-700">Type of Review</label>
    <div>
      <select
        id="review_types"
        class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
        x-model="sdMetaDatum.review_types"
      ></select>
    </div>
  </div>
  <div class="bg-purple-50 p-2">
    <h3 class="text-sm font-bold border-b-2 flex items-center">
      Analytic / Conceptual Frameworks
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-5 h-5 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </h3>
    <template
      x-for="(sd_analytic_framework, sd_analytic_framework_index) in sdMetaDatum?.sd_analytic_frameworks"
    >
      <div class="bg-purple-200 m-2 p-2 rounded-md space-y-2">
        <div class="flex justify-between items-center">
          <select class="w-12" name="" id="">
            <template x-for="i in sdMetaDatum?.sd_analytic_frameworks.length">
              <option
                :value="i"
                x-text="i"
                :selected="i === sd_analytic_framework_index + 1"
              ></option>
            </template>
          </select>
          <div
            class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
          >
            Remove Framework
          </div>
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-700"
            >Description</label
          >
          <div>
            <input
              type="text"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
              x-model="sd_analytic_framework.name"
            />
          </div>
        </div>
        <div class="flex items-center">
          <label class="block text-xs font-bold text-gray-700">Figure(s)</label>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="green"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-4 h-4 cursor-pointer"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
        <template
          x-for="(sd_meta_data_figure, sd_meta_data_figure_index) in sd_analytic_framework.sd_meta_data_figures"
        >
          <div class="bg-purple-300 m-2 p-2 rounded-md space-y-2">
            <div class="flex justify-end">
              <div
                class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
              >
                Remove Figure
              </div>
            </div>
            <div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Alt text</label
                >
                <input
                  type="text"
                  class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  x-model="sd_meta_data_figure.alt_text"
                />
              </div>
            </div>
            <div>
              <label class="block text-xs font-bold text-gray-700"
                >Pictures</label
              >
              <div>
                <div
                  class="text-xs bg-srdr-secondary text-white p-2 cursor-pointer rounded-md text-center w-24"
                >
                  Add File(s)
                </div>
              </div>
            </div>
            <div class="flex flex-wrap">
              <template
                x-for="(picture, picture_index) in sd_meta_data_figure.pictures"
              >
                <img
                  :src="picture.url"
                  class="w-64 p-1 cursor-pointer"
                  :alt="sd_meta_data_figure.alt"
                />
              </template>
            </div>
          </div>
        </template>
        <div
          class="border-4 border-purple-300 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
        >
          Figures
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="green"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="white"
            class="w-5 h-5 cursor-pointer"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
        </div>
      </div>
    </template>
    <div
      class="border-4 border-purple-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
    >
      Analytic / Conceptual Frameworks
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-5 h-5 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
  </div>
  <div class="bg-blue-50 p-2">
    <h3 class="text-sm font-bold border-b-2 flex items-center">
      Report Key Questions (must include at least one Key Question)
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-5 h-5 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </h3>
    <template
      x-for="(sd_key_question, sd_key_question_index) in sdMetaDatum?.sd_key_questions"
    >
      <div class="bg-blue-200 m-2 p-2 rounded-md space-y-2">
        <div class="flex justify-between items-center">
          <select class="w-12" name="" id="">
            <template x-for="i in sdMetaDatum?.sd_key_questions.length">
              <option
                :value="i"
                x-text="i"
                :selected="i === sd_key_question_index + 1"
              ></option>
            </template>
          </select>
          <div
            class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
          >
            Remove Key Question
          </div>
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-700"
            >Key Question (Required)</label
          >
          <div>
            <input
              type="text"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
              x-model="sd_key_question.key_question.name"
            />
          </div>
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-700"
            >Type(s) (Required)</label
          >
          <div>
            <select
              multiple="multiple"
              :id="`key_question_types_${sd_key_question_index}`"
              x-model="sdMetaDatum.key_question_types"
            ></select>
          </div>
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-700"
            >Did this Key Question include a meta-analysis? (Required)</label
          >
          <div>
            <input
              type="text"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
            />
          </div>
        </div>
      </div>
    </template>
    <div
      class="border-4 border-blue-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
    >
      Report Key Questions
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-5 h-5 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
  </div>
</div>
