<div class="border p-2 w-9/12 xl:w-11/12">
  <h2 class="text-base font-bold border-b-2">Key Question Mapping</h2>
  <div class="grid grid-cols-2">
    <h3 class="text-base font-bold">SRDR+ Key Questions</h3>
    <h3 class="text-base font-bold">Report Key Questions</h3>
    <div class="overflow-auto">
      <template
        x-for="(key_questions_project, key_questions_project_index) in sdMetaDatum?.key_questions_projects"
      >
        <div
          class="text-xs bg-srdr-secondary text-white p-2 m-2 rounded-md cursor-pointer hover:bg-srdrpurple-light"
          :class="{ 'bg-srdrpurple-light': srdrPlusKQSelection === key_questions_project_index }"
          x-text="key_questions_project.name"
          @click="if (srdrPlusKQSelection === key_questions_project_index) {
            srdrPlusKQSelection = null;
          } else {
            srdrPlusKQSelection = key_questions_project_index;
          };"
        ></div>
      </template>
    </div>
    <div class="overflow-auto">
      <template
        x-for="(sd_key_question, sd_key_question_index) in sdMetaDatum?.sd_key_questions"
      >
        <div class="bg-teal-100 p-2 m-2 rounded-md">
          <div
            class="text-xs bg-teal-800 text-white p-2 m-2 rounded-md cursor-pointer"
            x-text="sd_key_question.name"
          ></div>
          <template
            x-for="(sd_key_questions_project, sd_key_questions_project_index) in sd_key_question?.sd_key_questions_projects"
          >
            <div class="relative">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 absolute -top-2 right-0 bg-red-800 text-white p-2 rounded hover:bg-red-500 m-2 cursor-pointer"
                @click="if (confirm('Are you sure?')) {
                  const response = await apiCall(`/sd_key_questions_projects/${sd_key_questions_project.id}`, 'DELETE');
                  sd_key_question.sd_key_questions_projects.splice(sd_key_questions_project_index, 1)
                }"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                />
              </svg>
              <div
                class="text-xs bg-srdr-secondary text-white p-2 m-2 ml-8 rounded-md"
                x-text="sd_key_questions_project.name"
              ></div>
            </div>
          </template>
          <div
            class="text-center font-black text-xs border-4 border-srdr-secondary border-dotted text-black p-2 m-2 ml-8 rounded-md cursor-pointer"
            x-text="srdrPlusKQSelection ? 'Click here to map the selected SRDR+ Key Question to this Report Key Question' : 'Click on a SRDR+ Key Question to get started'"
            @click="if (srdrPlusKQSelection === null) return;
            const key_questions_project = sdMetaDatum.key_questions_projects[srdrPlusKQSelection];
            if (sd_key_question.sd_key_questions_projects.some(el => el.key_questions_project_id === key_questions_project.id)) return;
            const response = await apiCall('/sd_key_questions_projects', 'POST', { sd_key_question_id: sd_key_question.id, key_questions_project_id: key_questions_project.id })
            sd_key_question.sd_key_questions_projects.push(response)
            srdrPlusKQSelection = null;"
          ></div>
        </div>
      </template>
    </div>
  </div>
</div>
