<div class="border p-2 w-9/12 xl:w-11/12 space-y-2">
  <h2 class="text-base font-bold border-b-2">
    Results for Individual Outcomes
  </h2>
  <div class="bg-purple-50 p-2">
    <h3 class="text-sm font-bold border-b-2 flex items-center">
      Results by Key Questions
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-5 h-5 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </h3>
    <template x-for="i in 2">
      <div class="bg-purple-200 m-2 p-2 rounded-md space-y-2">
        <div class="flex justify-between items-center">
          <select class="w-12" name="" id="">
            <template x-for="ii in 2">
              <option :value="ii" x-text="ii" :selected="i == ii"></option>
            </template>
          </select>
          <div
            class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
          >
            Remove Results for this Key Question
          </div>
        </div>
        <div>
          <label class="block text-xs font-bold text-gray-700"
            >Key Question (Required) (must include at least one result
            type)</label
          >
          <div>
            <input
              type="text"
              class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
            />
          </div>
        </div>
        <div class="bg-blue-50 p-2">
          <h4 class="text-xs font-bold border-b-2 flex items-center">
            Narrative Results by Outcome(s)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </h4>
          <template x-for="i in 1">
            <div class="bg-blue-200 m-2 p-2 rounded-md space-y-2">
              <div class="flex justify-between items-center">
                <select class="w-12" name="" id="">
                  <template x-for="ii in i">
                    <option
                      :value="ii"
                      x-text="ii"
                      :selected="i == ii"
                    ></option>
                  </template>
                </select>
                <div
                  class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                >
                  Remove Narrative Result
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Outcome(s) (Required)</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Narrative Results (Overall)</label
                >
                <div>
                  <textarea
                    rows="4"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                  ></textarea>
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Narrative Results by Population Subgroup</label
                >
                <div>
                  <textarea
                    rows="4"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                  ></textarea>
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Narrative Results by Intervention Subgroup</label
                >
                <div>
                  <textarea
                    rows="4"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:border-purple-500 focus:ring-purple-500 sm:text-sm"
                  ></textarea>
                </div>
              </div>
            </div>
          </template>
          <div
            class="border-4 border-blue-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
          >
            Add Narrative Result
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>
        <div class="bg-green-50 p-2">
          <h4 class="text-xs font-bold border-b-2 flex items-center">
            Results by Outcome(s)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </h4>
          <template x-for="i in 1">
            <div class="bg-green-200 m-2 p-2 rounded-md space-y-2">
              <div class="flex justify-between items-center">
                <select class="w-12" name="" id="">
                  <template x-for="ii in i">
                    <option
                      :value="ii"
                      x-text="ii"
                      :selected="i == ii"
                    ></option>
                  </template>
                </select>
                <div
                  class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                >
                  Remove Result
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Outcome(s)</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Description</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div class="flex items-center">
                <label class="block text-xs font-bold text-gray-700"
                  >Figure(s)</label
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
              <div class="bg-green-300 m-2 p-2 rounded-md space-y-2">
                <div class="flex justify-end">
                  <div
                    class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                  >
                    Remove Figure
                  </div>
                </div>
                <div>
                  <div>
                    <label class="block text-xs font-bold text-gray-700"
                      >Alt text</label
                    >
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Pictures</label
                  >
                  <div>
                    <div
                      class="text-xs bg-srdr-secondary text-white p-2 cursor-pointer rounded-md text-center w-24"
                    >
                      Add File(s)
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <!-- prettier-ignore -->
                  <template x-for="iii in 10">
                  <%= image_tag("global_map.jpg", class: "w-64 p-1 cursor-pointer") %>
                  </template>
                </div>
              </div>
              <div
                class="border-4 border-green-300 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
              >
                Figure
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-5 h-5 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
            </div>
          </template>
          <div
            class="border-4 border-green-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
          >
            Add Result
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>
        <div class="bg-orange-50 p-2">
          <h4 class="text-xs font-bold border-b-2 flex items-center">
            Pairwise Meta-analyses by Outcome(s)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </h4>
          <template x-for="i in 1">
            <div class="bg-orange-200 m-2 p-2 rounded-md space-y-2">
              <div class="flex justify-between items-center">
                <select class="w-12" name="" id="">
                  <template x-for="ii in i">
                    <option
                      :value="ii"
                      x-text="ii"
                      :selected="i == ii"
                    ></option>
                  </template>
                </select>
                <div
                  class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                >
                  Remove Pairwise Meta-Analysis
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Outcome(s)</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Description</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div class="flex items-center">
                <label class="block text-xs font-bold text-gray-700"
                  >Figure(s)</label
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
              <div class="bg-orange-300 m-2 p-2 rounded-md space-y-2">
                <div class="flex justify-end">
                  <div
                    class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                  >
                    Remove Figure
                  </div>
                </div>
                <div>
                  <div>
                    <label class="block text-xs font-bold text-gray-700"
                      >Alt text</label
                    >
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Pictures</label
                  >
                  <div>
                    <div
                      class="text-xs bg-srdr-secondary text-white p-2 cursor-pointer rounded-md text-center w-24"
                    >
                      Add File(s)
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <!-- prettier-ignore -->
                  <template x-for="iii in 10">
                  <%= image_tag("global_map.jpg", class: "w-64 p-1 cursor-pointer") %>
                  </template>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Outcome Type</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Intervention name</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Comparator name</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Effect size measure name</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Overall effect size</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Overall 95 ci low</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Overall 95 ci high</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Overall I Squared (%)</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Other heterogeneity statistics</label
                  >
                  <div>
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
              </div>
              <div
                class="border-4 border-orange-300 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
              >
                Figure
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-5 h-5 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
            </div>
          </template>
          <div
            class="border-4 border-orange-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
          >
            Add Pairwise Meta-analysis
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>
        <div class="bg-stone-50 p-2">
          <h4 class="text-xs font-bold border-b-2 flex items-center">
            Network Meta-analyses by Outcome(s)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </h4>
          <template x-for="i in 1">
            <div class="bg-stone-200 m-2 p-2 rounded-md space-y-2">
              <div class="flex justify-between items-center">
                <select class="w-12" name="" id="">
                  <template x-for="ii in i">
                    <option
                      :value="ii"
                      x-text="ii"
                      :selected="i == ii"
                    ></option>
                  </template>
                </select>
                <div
                  class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                >
                  Remove Network Meta-analysis
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Outcome(s)</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Description</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div class="flex items-center">
                <label class="block text-xs font-bold text-gray-700"
                  >Figure(s)</label
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
              <div class="bg-stone-300 m-2 p-2 rounded-md space-y-2">
                <div class="flex justify-end">
                  <div
                    class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                  >
                    Remove Figure
                  </div>
                </div>
                <div>
                  <div>
                    <label class="block text-xs font-bold text-gray-700"
                      >Alt text</label
                    >
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Pictures</label
                  >
                  <div>
                    <div
                      class="text-xs bg-srdr-secondary text-white p-2 cursor-pointer rounded-md text-center w-24"
                    >
                      Add File(s)
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <!-- prettier-ignore -->
                  <template x-for="iii in 10">
                  <%= image_tag("global_map.jpg", class: "w-64 p-1 cursor-pointer") %>
                  </template>
                </div>
              </div>
              <div
                class="border-4 border-stone-300 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
              >
                Figure
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-5 h-5 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
            </div>
          </template>
          <div
            class="border-4 border-stone-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
          >
            Add Network Meta-analysis
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>
        <div class="bg-rose-50 p-2">
          <h4 class="text-xs font-bold border-b-2 flex items-center">
            Meta-regression Results by Outcome(s)
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </h4>
          <template x-for="i in 1">
            <div class="bg-rose-200 m-2 p-2 rounded-md space-y-2">
              <div class="flex justify-between items-center">
                <select class="w-12" name="" id="">
                  <template x-for="ii in i">
                    <option
                      :value="ii"
                      x-text="ii"
                      :selected="i == ii"
                    ></option>
                  </template>
                </select>
                <div
                  class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                >
                  Remove Meta-regression Result
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Outcome(s)</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label class="block text-xs font-bold text-gray-700"
                  >Description</label
                >
                <div>
                  <input
                    type="text"
                    class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                  />
                </div>
              </div>
              <div class="flex items-center">
                <label class="block text-xs font-bold text-gray-700"
                  >Figure(s)</label
                >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-4 h-4 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
              <div class="bg-rose-300 m-2 p-2 rounded-md space-y-2">
                <div class="flex justify-end">
                  <div
                    class="text-xs p-1 rounded-md cursor-pointer bg-red-800 text-white"
                  >
                    Remove Figure
                  </div>
                </div>
                <div>
                  <div>
                    <label class="block text-xs font-bold text-gray-700"
                      >Alt text</label
                    >
                    <input
                      type="text"
                      class="block w-full rounded-md border-gray-300 shadow-sm focus:!border-purple-500 focus:!ring-purple-500 sm:text-sm"
                    />
                  </div>
                </div>
                <div>
                  <label class="block text-xs font-bold text-gray-700"
                    >Pictures</label
                  >
                  <div>
                    <div
                      class="text-xs bg-srdr-secondary text-white p-2 cursor-pointer rounded-md text-center w-24"
                    >
                      Add File(s)
                    </div>
                  </div>
                </div>
                <div class="flex flex-wrap">
                  <!-- prettier-ignore -->
                  <template x-for="iii in 10">
                  <%= image_tag("global_map.jpg", class: "w-64 p-1 cursor-pointer") %>
                  </template>
                </div>
              </div>
              <div
                class="border-4 border-rose-300 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
              >
                Figure
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="green"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="white"
                  class="w-5 h-5 cursor-pointer"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
            </div>
          </template>
          <div
            class="border-4 border-rose-200 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
          >
            Add Meta-regression Result
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="green"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="white"
              class="w-5 h-5 cursor-pointer"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
              />
            </svg>
          </div>
        </div>
      </div>
    </template>
    <div
      class="border-4 border-purple-300 border-dotted m-2 p-2 rounded-md flex items-center justify-center cursor-pointer"
    >
      Add Results for Another Key Question
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="green"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="white"
        class="w-5 h-5 cursor-pointer"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
        />
      </svg>
    </div>
  </div>
</div>
