.grid-x.align-center style="font-size: small !important;"
  .cell.medium-3
    #vertical-tabs.ul.tabs.vertical
      li.tabs-title
        = link_to '?panel_number=0', class: ([(@panel_number == 0 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_0 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-0-label" do
          |Title, Funding Sources, and Dates
          .check-container[panel-number="0"]
      li.tabs-title
        = link_to '?panel_number=1', class: ([(@panel_number == 1 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_1 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-1-label" do
          |Authors and Stakeholders
          .check-container[panel-number="1"]
      li.tabs-title
        = link_to '?panel_number=2', class: ([(@panel_number == 2 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_2 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-2-label" do
          |URL Links
          .check-container[panel-number="2"]
      li.tabs-title
        = link_to '?panel_number=3', class: ([(@panel_number == 3 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_3 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-3-label" do
          |Purpose and Key Questions
          .check-container[panel-number="3"]
          .warning-container[panel-number="3"]
      li.tabs-title
        = link_to '?panel_number=4', class: ([(@panel_number == 4 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_4 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-4-label" do
          |PICODS
          .check-container[panel-number="4"]
      li.tabs-title.mapping-kq-title
        = link_to '?panel_number=5', class: ([(@panel_number == 5 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_5 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-5-label" do
          |Key Question Mapping (Submitter Only)
          .check-container[panel-number="5"]
          .warning-container[panel-number="5"]
      li.tabs-title
        = link_to '?panel_number=6', class: ([(@panel_number == 6 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_6 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-6-label" do
          |Search Strategy and Evidence Summary
          .check-container[panel-number="6"]
      li.tabs-title
        = link_to '?panel_number=7', class: ([(@panel_number == 7 ? 'bg-light-grey' : ''), (@sd_meta_datum.section_flag_7 ? 'to-be-checked' : '')] - ['']).join(' '), id: "panel-7-label" do
          |Study Results
          .check-container[panel-number="7"]
  .cell.medium-9
    #status-check-modal.reveal data-reveal=""
      - if @panel_number != 5
       | There are incomplete input fields. Do you want to continue? 
      - else
       | There are unmapped key questions. Do you want to continue?
      #status-check-modal-buttons
          #abort-status-switch.button.alert
            | Show missing fields
          #confirm-status-switch.button.confirm
            | Continue
    - if @panel_number != 5
      .preview-container-container.float-center.hide
        a.close-preview.float-right = "✖"
        .grid-form
          .preview-container

      a.preview-button.button.float-right[data-panel-number="#{ @panel_number }"]
        | Preview
      .float-right style="display: flex; justify-contents: center; margin: 8px;"
        span style="font-weight: bold; margin-right: 10px;"
          |Progress:
        - sd_meta_datum = @sd_meta_datum
        .success.progress style="width: 100px;"
          .progress-meter style="width: #{ sd_meta_datum.progress_meter_width }%;"
    /= simple_form_for(@sd_meta_datum, url: @url, authenticity_token: true, remote: true, html: { id: 'sd-meta-form', class: "grid-form", data: { 'abide': '', 'live-validate': true } }) do |f|
    .panel-content.grid-form
      .tabs-content.vertical
        .infoDiv style="opacity: 0; color: green;"
          ' Saved!
        /= render partial: "sd_meta_data/form/panel_#{ @panel_number }", locals: { f: f, sd_meta_datum: @sd_meta_datum, project: @project, url: @url }
        = render partial: "sd_meta_data/form/panel_#{ @panel_number }", locals: { sd_meta_datum: @sd_meta_datum, project: @project, url: @url }
      /br/
      /.form-actions
        = f.error_notification
        /= f.button :submit, 'Save Changes', class: "button", style: "margin-left: 10px;", data: { disable_with: "Please wait..." }

scss:
  .preview-container-container {
    .close-preview {
      font-size: xx-large;
    }
    width: 100%;
    height: 100%;
    background-color: white;
  }

javascript:
  $('textarea').each(function() {
    this.style.height = "";
    this.style.height = this.scrollHeight + "px"
  })

  $( 'a.close-preview' ).on('click', function( event ) {
    $( '.preview-container' ).html('')
    $( '.preview-container-container' ).addClass( 'hide' )
    $( '.panel-content' ).removeClass( 'hide' )
    $( '.preview-button' ).removeClass( 'hide' )
  });

  $( '.preview-button' ).on( 'click', function( event ) {
    if ( event.target.hasAttribute( 'disabled' ) ){ return }
    $( '.panel-content' ).addClass( 'hide' )
    $( '.preview-button' ).addClass( 'hide' )
    $.ajax({
      url: "#{ sd_meta_datum_preview_url(@sd_meta_datum) }",
      data: { panel_number: $('.preview-button').data('panel-number')},
      method: 'GET'
    })
  });

  $(document).on("click", ".openable", function() {
    window.open($(this).attr('src'));
  });
