#panel-3.tabs-panel.is-active
  fieldset
    div style="display:flex; flex-direction: row;"
      legend Purpose, Analytic Framework, and Key Questions
      .status-switch[id="3-yes-no-section" class=(@sd_meta_datum.section_flag_3 ? 'completed' : 'draft') data-sd_meta_datum_id="#{@sd_meta_datum.id}"]
        span.status-label
          - if @sd_meta_datum.section_flag_3
            | Completed
          - else
            | Draft

    div data-row-span="1"
      .sd-item data-field-span="1"
        = simple_form_for(@sd_meta_datum, url: @url, authenticity_token: true, remote: true, html: { id: :overall_purpose_of_review, class: "sd-form", data: { 'abide': '', 'live-validate': true } }) do |f|
          = f.input :overall_purpose_of_review, label: 'Overall Purpose of Review', :input_html => { oninput: 'this.style.height = "";this.style.height = this.scrollHeight + "px"' }
    div data-row-span="2"
      .sd-item data-field-span="1"
        = simple_form_for(@sd_meta_datum, url: @url, authenticity_token: true, remote: true, html: { id: :review_type, class: "sd-form", data: { 'abide': '', 'live-validate': true } }) do |f|
          = f.association :review_type, label: 'Type of Review', input_html: { class: 'review_type sd-select2' }
    div data-row-span="1"
      div data-field-span="1"
        label Analytic / Conceptual Framework
        .cocoon-container.analytic-framework-list
          = render 'sd_meta_data/form/nested_associations/analytic_framework_list', sd_meta_datum: @sd_meta_datum, url: @url
    div data-row-span="1"
      div data-field-span="1"
        label Report Key Questions (must include at least one Key Question)
        .cocoon-container.key-question-list
          = render 'sd_meta_data/form/nested_associations/key_question_list', sd_meta_datum: @sd_meta_datum, url: @url
  / br/
  / br/
  / fieldset
    legend Section Review & Validation
    div data-row-span="1"
      div data-field-span="1"
        div Section Finished?
        .switch
          input.switch-input id="3-yes-no-section" type="checkbox" name="sectionSection" data-sd_meta_datum_id="#{@sd_meta_datum.id}"
          label.switch-paddle for="3-yes-no-section"
            span.switch-active aria-hidden="true" Yes
            span.switch-inactive aria-hidden="true" No
