#panel-5.tabs-panel.is-active
  .hide
    // JS expects there to be a form on every panel, needs to be updated later
    = simple_form_for(@sd_meta_datum, url: @url, authenticity_token: true, remote: true, html: { class: "sd-form", data: { 'abide': '', 'live-validate': true } }) do |f|

  fieldset
    div style="display:flex; flex-direction: row;"
      legend Key Question Mapping
      .status-switch[id="5-yes-no-section" class=(@sd_meta_datum.section_flag_5 ? 'completed' : 'draft') data-sd_meta_datum_id="#{@sd_meta_datum.id}"]
        span.status-label
          - if @sd_meta_datum.section_flag_5
            | Completed
          - else
            | Draft

    .sd-kq-mapping-container data-row-span="2"
      .no-border data-field-span="1"
        h5 SRDR+ Key Questions
      .no-border data-field-span="1"
        h5 style="float: left;" Report Key Questions
        div style="float: right; display: flex; flex-direction: column; align-items: flex-end;"
          a id="reset-all" onClick="resetAllMappings()" Auto Mapping
          a id="clear-all" onClick="clear_all_mappings()" Clear All
      .srdr-key-questions-box.no-border data-field-span="1" style="overflow: scroll; max-height: 1000px;"
        - @sd_meta_datum.try(:project).try(:key_questions).uniq.try(:each) do |srdr_kq|
          .srdr-kq.draggable id="srdr_kq-#{srdr_kq.id}" data-keyQuestionId="#{srdr_kq.id}" draggable="true"
            span.clamp-span = srdr_kq.name
      .report-key-questions-box data-field-span="1" style="overflow: scroll; max-height: 1000px;"
        - @sd_meta_datum.sd_key_questions.each do |sd_key_question|
          .report-kq.droppable.disableselect data-reportKeyQuestionId="#{sd_key_question.id}"
            | #{sd_key_question.key_question_name}
            .srdr-kq-target.grid-x.align-center
              - if sd_key_question.srdr_key_questions.length == 0
                .srdr-kq-target-prompt = 'Drag One or More Key Questions Here'
              - else
                .srdr-kq-target-prompt.hide = 'Drag One or More Key Questions Here'
                - sd_key_question.srdr_key_questions.each do |srdr_key_question|
                  .srdr-kq.draggable.clickremove id="srdr_kq-#{srdr_key_question.id}" data-keyQuestionId="#{srdr_key_question.id}" draggable="true"
                    span.clamp-span = "#{srdr_key_question.name}"
                    span.hover-message
                      |Click to Remove
          /a.button.tiny style="margin: 10px;" onClick="resetMapping(#{sd_key_question.id})" Reset Auto Match
    /.no-border data-row-span="2"
      .no-border data-field-span="2"
        .legend-box.alice-box
        div Drop SRDR+ Key Question here to associate with a Report Key Question
      div data-field-span="2"
        .legend-box.green-box
        div SRDR+ Key Question has been associated to at least 1 Report Key Question
  / br/
  / br/
  / fieldset
  /   legend Section Review & Validation
  /   div data-row-span="4"
  /     div data-field-span="4"
  /       div Section Finished?
  /       .switch
  /         input.switch-input id="5-yes-no-section" type="checkbox" name="sectionSection" data-sd_meta_datum_id="#{@sd_meta_datum.id}"
  /         label.switch-paddle for="5-yes-no-section"
  /           span.switch-active aria-hidden="true" Yes
  /           span.switch-inactive aria-hidden="true" No

= render 'sd_meta_data/form/form_mapping_js'
