.nested-fields
  = f.input :name, label: 'Evidence Table', input_html: { oninput: 'this.style.height = "";this.style.height = this.scrollHeight + "px"' }
  = link_to_remove_association "Remove", f, data: { confirm: "Are you sure?" }
