.nested-fields
  = f.input :name, label: 'URL (please enter only one URL)', as: :text, input_html: { rows: 1, style: 'min-height: 21px' }
  = link_to_remove_association "remove", f, data: { confirm: "Are you sure?" }
