.nested-fields
  = f.association :key_question, include_blank: false, label: 'Report Key Question', input_html: { class: "key_question" }
  = f.association :key_question_types, include_blank: false, label: 'Report Key Question Type', input_html: { class: "key_question_type" }
  = link_to_remove_association "remove", f, 'data-remove-key-question': 'true', class: 'trigger-autosave', data: { confirm: "Are you sure? If any SRDR to Report Key Question Mapping exists on the next page, they will be destroyed." }
