.nested-fields
  div class="text-right"
    = link_to_remove_association "remove grey literature search", f, data: { confirm: "This will remove this grey literature search and its description. Are you sure?" }
  = f.input :name, label: 'Description'
