.nested-fields
  = f.input :name, label: 'Type', as: :string
  = f.input :url, label: 'URL', as: :string, input_html: { class: 'url-input' }
  = link_to_remove_association "remove", f, data: { confirm: "Are you sure?" }
