.column.row
  noscript
    .callout.warning
      /button.close-button type="button" aria-label="Close alert"
      /  span aria-hidden="true"
      /    | &times;
      | Your web browser does not support Javascript, or you have it turned
        off. Please turn on Javascript or use a Javascript-compatible web
        browser to take advantage of the full functionality of SRDR Plus.
