<div class="column row">
  <noscript>
    <div class="callout warning">
      Your web browser does not support Javascript, or you have it turned off. Please turn on Javascript or use a Javascript-compatible web browser to take advantage of the full functionality of SRDR Plus.
    </div>
  </noscript>
</div>
