li = link_to(t('.about'), about_path)
li = link_to(t('.cite'), citing_path)
li = link_to(t('.contact'), contact_path)
li = link_to(t('.usage'), usage_path)
li.show-for-medium = link_to(t('.login'), new_user_session_path)
li = link_to(t('.signup'), new_user_registration_path, { class: 'button' })

