/li = link_to('About', about_path)
li = link_to('Citing', citing_path)
li = link_to('Contact Us', contact_path)
li = link_to('Usage Policies', usage_path)
li.show-for-medium = link_to('Login', new_user_session_path)
li = link_to('Sign Up', new_user_registration_path, { class: 'button' })

