.reveal[data-reveal='' id="export-modal-#{ project.id.to_s }"]
  a[data-close='' style='float: right; font-size: large;']
    |×

  fieldset.export-type-selection
    legend[style='font-size: x-large;']
      | Export SRDR+ Data
    br
    br
    div style='border: 1px; border-radius: 3px;'
      p Export SRDR+ Extraction Data:
    input[class='export-type-radio' type='hidden' name="export-type-#{project.id.to_s}" value="#{export_project_path(project, export_type_name: '.xlsx legacy')}" id="xlsx-legacy-radio-#{project.id.to_s}"]

    = link_to "Export Project Data", export_project_path(project, export_type_name: '.xlsx legacy'), method: :post, class: "button expanded start-export-button"

    br
    hr

    div style='border: 1px; border-radius: 3px;'
      p Export Citation Screening Labels:

    = link_to "Export Project Citation Labels", "#{project_export_screening_data_path(project)}.xlsx", method: :post, class: 'button expanded start-citation-labels-export-button'
