.column.row
  = simple_form_for(@question, html: { 'abide': '', 'live-validate': true }) do |f|
    = f.error_notification



    .alert.callout data-abide-error='' style='display: none;'
      p
        i.fi-alert>
        ' Please correct the errors below.

    .form-inputs
      = f.input :name, label: 'Question Text', autofocus: true
      = f.input :description, label: 'Instructions for Extractor (optional)', input_html: { rows: 8 }

      = f.simple_fields_for(:question_rows) do |qr_f|

        = qr_f.simple_fields_for(:question_row_columns) do |qrc_f|

          fieldset.fieldset
            legend Field Options

            = qrc_f.simple_fields_for(:question_row_column_field) do |qrcf_f|





              #question-row-column-field-options
                = qrcf_f.simple_fields_for(:question_row_column_field_options) do |qrcfo_f|

                  == render 'questions/question_types/question_row_column_field_option_fields', f: qrcfo_f

                .links
                  = link_to_add_association 'add option', qrcf_f,
                                            :question_row_column_field_options,
                                            partial: 'questions/question_types/question_row_column_field_option_fields'

    .form-actions
      = f.button :submit, t('save')

