.nested-fields.field-options.field-option-type-answer_choice style='margin-bottom: 0;'

  - option = f.object

  .field
    = f.hidden_field :question_row_column_option_id, value: 1
    = f.input :name, label: 'Answer Choice',
              as: :string,
              wrapper: 'horizontal_form',
              input_html: { style: 'margin-bottom: 0;' }

    .row style='margin-bottom: 0.7rem;'
      .columns.medium-offset-3.medium-9
        .float-right
          = link_to_remove_association 'Remove', f, class: 'float-right', style: 'font-weight:bold; color:#cc4b37 !important;'
        .float-left.followup_container
          = f.input :includes_followup, as: :boolean, label: 'Include Followup Question', wrapper_html: { class: 'followup-checkbox' }

javascript:
  $('.fieldset').trigger('change')