<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-base font-semibold leading-6 text-gray-900">Recent Exports</h1>
      <p class="mt-2 text-sm text-gray-700">A list of recent exports, available for download. (These links expire after 7 days, please submit a new request for export if list is empty)</p>
    </div>
  </div>
  <div class="mt-8 flow-root">
    <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
        <table class="min-w-full divide-y divide-gray-300">
          <thead>
            <tr>
              <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-0">Timestamp</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Filename</th>
              <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Filetype</th>
              <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-0">
                <span class="sr-only">Download Links</span>
              </th>
            </tr>
          </thead>
          <tbody class="divide-y divide-gray-200">
            <% @project.recent_exported_items.each do |rei| %>
              <tr>
                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= rei.created_at.in_time_zone(current_user.profile.time_zone) %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= rei.file.filename.present? ? rei.file.filename.base : 'In progress..' %></td>
                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= rei.export_type.name %></td>
                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0">
                  <a href="<%= rei.external_url %>" class="text-indigo-600 hover:text-indigo-900">Download<span class="sr-only">, Export File</span></a>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
