#panel-6.tabs-panel.is-active
  fieldset
    legend Search Strategy and Results of Screening
    div data-row-span="1"
      div data-field-span="1"
        label Search Strategies
        - if @sd_meta_datum.sd_search_strategies.empty?
          div -----
        - else
          - @sd_meta_datum.sd_search_strategies.each do |sd_search_strategy|
              .sd-show-inner
                div data-row-span="2"
                  div data-field-span="1"
                    label Database
                    div = ( sd_search_strategy.sd_search_database&.name.present? ? sd_search_strategy.sd_search_database&.name : "-----" )
                  div data-field-span="1"
                    label Search Run Date
                    div = ( sd_search_strategy.date_of_search.present? ? sd_search_strategy.date_of_search : '-----' )

                div data-row-span="1"
                  div data-field-span="1"
                    label Search Limits
                    div = ( sd_search_strategy.search_limits.present? ? simple_format(sd_search_strategy.search_limits) : '-----' )
                div data-row-span="1"
                  div data-field-span="1"
                    label Search Terms
                    div = ( sd_search_strategy.search_terms.present? ? simple_format(sd_search_strategy.search_terms) : '-----' )


    div data-row-span="1"
      div data-field-span="1"
        label Grey Literature Search
        - if @sd_meta_datum.sd_grey_literature_searches.empty?
          div -----
        - else
          - @sd_meta_datum.sd_grey_literature_searches.each do |sd_grey_literature_search|
            .sd-show-inner
              div
                label Description
                div = sd_grey_literature_search.name.present? ? simple_format(sd_grey_literature_search.name) : '-----'

    div data-row-span="1"
      div data-field-span="1"
        label PRISMA / Literature Flow Diagrams
        - if @sd_meta_datum.sd_prisma_flows.empty?
          div -----
        - else
          - @sd_meta_datum.sd_prisma_flows.each do |sd_prisma_flow|
            .sd-show-inner
              div data-row-span="1"
                div data-field-span="1"
                  label Description
                  div = ( sd_prisma_flow.name.present? ? simple_format(sd_prisma_flow.name) : '-----' )
              div data-row-span="1"
                div data-field-span="1"
                  label Figures
                  div
                    - sd_prisma_flow.pictures.each do |picture|
                      .sd-show-image
                        = image_tag(picture, class: 'openable sd-image')

    div data-row-span="1"
      div data-field-span="1"
        label Summaries of Evidence
        - if @sd_meta_datum.sd_summary_of_evidences.empty?
          div -----
        - else
          - @sd_meta_datum.sd_summary_of_evidences.each do |sd_summary_of_evidence|
            .sd-show-inner
              div data-row-span="1"
                div data-field-span="1"
                  label Key Question
                  - kq_name = sd_summary_of_evidence.try(:sd_key_question).try(:name)
                  div = kq_name.present? ? kq_name : '-----'
              div data-row-span="1"
                div data-field-span="1"
                  label Type
                  - type = sd_summary_of_evidence.soe_type
                  div = type.present? ? type : '-----'
              div data-row-span="1"
                div data-field-span="1"
                  label Description
                  - desc = sd_summary_of_evidence.name
                  div = desc.present? ? simple_format(desc) : '-----'
              div data-row-span="1"
                div data-field-span="1"
                  label Figures
                  div
                    - sd_summary_of_evidence.pictures.each do |picture|
                      .sd-show-image
                        = image_tag(picture, class: 'openable sd-image')
