#panel-2.tabs-panel.is-active
  fieldset
    legend Links
    div data-row-span="2"
      div data-field-span="1"
        label Prospero
        div = sd_url_for @sd_meta_datum.prospero_link
      div data-field-span="1"
        label Protocol
        div = sd_url_for @sd_meta_datum.protocol_link
    div data-row-span="2"
      div data-field-span="1"
        label Full Report
        div = sd_url_for @sd_meta_datum.full_report_link
      div data-field-span="1"
        label Structured Abstract
        div = sd_url_for @sd_meta_datum.structured_abstract_link
    div data-row-span="2"
      div data-field-span="1"
        label Key Messages
        div = sd_url_for @sd_meta_datum.key_messages_link
      div data-field-span="1"
        label Lay Abstract / Lay Language Summary
        div = sd_url_for @sd_meta_datum.abstract_summary_link
    .sd-show-inner
      div data-row-span="1"
        div data-field-span="1"
          label Evidence Summary / Executive Summary
          div = sd_url_for @sd_meta_datum.evidence_summary_link
      div data-row-span="2"
        div data-field-span="1"
          label Introduction
          div = sd_url_for @sd_meta_datum.evs_introduction_link
        div data-field-span="1"
          label Methods
          div = sd_url_for @sd_meta_datum.evs_methods_link
        div data-field-span="1"
          label Results
          div = sd_url_for @sd_meta_datum.evs_results_link
        div data-field-span="1"
          label Discussion
          div = sd_url_for @sd_meta_datum.evs_discussion_link
        div data-field-span="1"
          label Conclusions
          div = sd_url_for @sd_meta_datum.evs_conclusions_link
        div data-field-span="1"
          label Tables and Figures
          div = sd_url_for @sd_meta_datum.evs_tables_figures_link
    div data-row-span="2"
      div data-field-span="1"
        label Disposition of Comments
        div = sd_url_for @sd_meta_datum.disposition_of_comments_link
      div data-field-span="1"
        label Data (in SRDR)
        div = sd_url_for @sd_meta_datum.srdr_data_link
    div data-row-span="2"
      div data-field-span="1"
        label Most Recent Previous Version of SRDR+ Data
        div = sd_url_for @sd_meta_datum.most_previous_version_srdr_link
      div data-field-span="1"
        label Most Recent Previous Version of Full Report
        div = sd_url_for @sd_meta_datum.most_previous_version_full_report_link
    div data-row-span="2"
      div data-field-span="1"
        label Journal Articles
        - if @sd_meta_datum.sd_journal_article_urls.empty?
          div -----
        - else
          td
            - @sd_meta_datum.sd_journal_article_urls.each do |sd_journal_article_url|
              li = sd_url_for sd_journal_article_url.name
      div data-field-span="1"
        label Other Items
        - if @sd_meta_datum.sd_other_items.empty?
          div -----
        - else
          td
            - @sd_meta_datum.sd_other_items.each do |sd_other_item|
              li = sd_url_for sd_other_item.url, sd_other_item.name
