#panel-4.tabs-panel.is-active
  fieldset
    legend PICODTS
    div data-row-span="1"
      div data-field-span="1"
        label PICODTS
        - if @sd_meta_datum.sd_picods.empty?
          div -----
        - else
          - @sd_meta_datum.sd_picods.each do |sd_picod|
              /- picod_types = sd_picod.sd_picods_types
              .sd-show-inner
                /div
                  label Type(s)
                  div = picod_types.present? ? picod_types.map(&:name).join(", ") : '-----'
                /div
                  label Name
                  div = sd_picod.name.present? ? sd_picod.name : '-----'
                div data-row-span="1"
                  div data-field-span="1"
                    label Key Question(s)
                    - if not sd_picod.sd_key_questions.present?
                      div = '-----'
                    - else
                      ul
                        - sd_picod.sd_key_questions.each do |skq|
                          li style="font-size: 12px;" #{skq.key_question.name.present? ? skq.key_question.name : '-----'}
                div data-row-span="1"
                  div data-field-span="1"
                    label Level of Data Analysis
                    - if not sd_picod.data_analysis_level.present?
                      div = '-----'
                    - else
                      div = sd_picod.data_analysis_level.name
                div data-row-span="1"
                  div data-field-span="1"
                    label Population
                    div = ( sd_picod.population.present? ? simple_format(sd_picod.population) : '-----' )
                div data-row-span="1"
                  div data-field-span="1"
                    label Interventions
                    div = ( sd_picod.interventions.present? ? simple_format(sd_picod.interventions) : '-----' )
                div data-row-span="1"
                  div data-field-span="1"
                    label Comparators
                    div = ( sd_picod.comparators.present? ? simple_format(sd_picod.comparators) : '-----' )
                div data-row-span="1"
                  div data-field-span="1"
                    label Outcomes
                    div = ( sd_picod.outcomes.present? ? simple_format(sd_picod.outcomes) : '-----' )
                div data-row-span="1"
                  div data-field-span="1"
                    label Study Designs
                    div = ( sd_picod.study_designs.present? ? simple_format(sd_picod.study_designs) : '-----' )
                div data-row-span="1"
                  div data-field-span="1"
                    label Settings
                    div = ( sd_picod.settings.present? ? simple_format(sd_picod.settings) : '-----' )
