#panel-3.tabs-panel.is-active
  fieldset
    legend Purpose and Key Questions
    div data-row-span="1"
      div data-field-span="1"
        label Overall Purpose of Review
        - opor = @sd_meta_datum.overall_purpose_of_review
        div #{opor.present? ? simple_format(opor) : '-----' }
    div data-row-span="2"
      div data-field-span="1"
        label Type of Review
        - tor = @sd_meta_datum.review_type&.name
        div #{tor.present? ? tor : '-----' }
      div data-field-span="1"
        label Level of Data Analysis
        - loa = @sd_meta_datum.data_analysis_level&.name
        div #{loa.present? ? loa : '-----' }
    div data-row-span="1"
      div data-field-span="1"
        label Analytic / Conceptual Framework
        - if @sd_meta_datum.sd_analytic_frameworks.empty?
          div -----
        - else
          - @sd_meta_datum.sd_analytic_frameworks.each do |sd_analytic_framework|
            .sd-show-inner
              div
                label Description
                div #{sd_analytic_framework.name.present? ? simple_format(sd_analytic_framework.name) : "-----"}
              div
                label Pictures
                p
                  - if sd_analytic_framework.pictures.empty?
                    |-----
                  - sd_analytic_framework.pictures.each do |picture|
                    = image_tag(picture, class: 'openable sd-image')
    div data-row-span="1"
      div data-field-span="1"
        label Report Key Questions
        - if @sd_meta_datum.sd_key_questions.empty?
          div -----
        - else
            - @sd_meta_datum.sd_key_questions.each do |sd_key_question|
              - kqts = sd_key_question.key_question_types.map { |kqt| kqt.name }.join(", ")
              .sd-show-inner
                div
                  label Key Question
                  div = sd_key_question.key_question.name.present? ? sd_key_question.key_question.name : '-----'
                div
                  label Type(s)
                  div = kqts.present? ? kqts : '-----'
