#panel-0.tabs-panel.is-active
  fieldset
    legend Title, Funding Sources, and Dates
    div data-row-span="1"
      div data-field-span="1"
        label Report Title
        div #{@sd_meta_datum.report_title}
    div data-row-span="1"
      div data-field-span="1"
        label Project Title in SRDR+
        div #{project.try(:name)}
    div data-row-span="1"
      div data-field-span="1"
        label Funding Sources
        ol
          - @sd_meta_datum.funding_sources.each do |fs|
            li style='font-size: 12px;' #{fs.name}
    div data-row-span="3"
      div data-field-span="1"
        label Date of Last Search
        div #{@sd_meta_datum.try(:date_of_last_search).try(:to_date)}
      div data-field-span="1"
        label Date of Publication to SRDR+:
        div #{@sd_meta_datum.try(:date_of_publication_to_srdr).try(:to_date)}
        br/
        br/
        br/
      div data-field-span="1"
        label Date of Publication of Full Report
        div #{@sd_meta_datum.try(:date_of_publication_full_report).try(:to_date)}
