#panel-7.tabs-panel.is-active
  fieldset
    legend Risk of Bias and Overall Summary of Evidence
    div data-row-span="1"
      div data-field-span="1"
        label Summaries of Evidence
        - if @sd_meta_datum.sd_summary_of_evidences.empty?
          div -----
        - else
          - @sd_meta_datum.sd_summary_of_evidences.each do |sd_summary_of_evidence|
            .sd-show-inner
              div data-row-span="1"
                div data-field-span="1"
                  label Key Question (if applicable)
                  - kq_name = sd_summary_of_evidence.try(:sd_key_question).try(:name)
                  div = kq_name.present? ? kq_name : '-----'
              div data-row-span="1"
                div data-field-span="1"
                  label Type
                  - type = sd_summary_of_evidence.soe_type
                  div = type.present? ? type : '-----'
              div data-row-span="1"
                div data-field-span="1"
                  label Description
                  - desc = sd_summary_of_evidence.name
                  div = desc.present? ? simple_format(desc) : '-----'
              div data-row-span="1"
                div data-field-span="1"
                  label Figures
                  div
                    - sd_summary_of_evidence.pictures.each do |picture|
                      .sd-show-image
                        = image_tag(picture, class: 'openable sd-image')
