<div
  :class="desktop ? '' : 'relative z-10'"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
  x-show="desktop || reasoningMenu"
  x-cloak
>
  <div
    :class="desktop ? '' : 'fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity'"
    x-show="desktop ||reasoningMenu"
    x-transition:enter="ease-out duration-300"
    x-transition:enter-start="opacity-0"
    x-transition:enter-end="opacity-100"
    x-transition:leave="ease-in duration-200"
    x-transition:leave-start="opacity-100"
    x-transition:leave-end="opacity-0"
  ></div>

  <div :class="desktop ? '' : 'fixed z-10 inset-0 overflow-y-auto'">
    <div
      :class="desktop ? '' : 'flex items-center justify-center min-h-full p-4 text-center'"
    >
      <div
        :class="desktop ? '' : 'relative bg-white rounded-lg px-4 pt-5 pb-4 text-left shadow-xl transform transition-all w-full lg:w-1/3 h-[90vh] sm:mt-4 sm:p-6'"
        x-show="desktop ||reasoningMenu"
        x-transition:enter="ease-out duration-300"
        x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave="ease-in duration-200"
        x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
        x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
        @click.outside="if (!desktop && addReasonModal.on == false) { reasoningMenu = false }"
      >
        <button
          type="button"
          :class="desktop ? 'hidden' : 'cursor-pointer z-10 absolute top-4 right-4 bg-gray-100 rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500'"
          @click="reasoningMenu = false"
        >
          <span class="sr-only">Close menu</span>
          <!-- Heroicon name: outline/x -->
          <svg
            class="h-6 w-6"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            />
          </svg>
        </button>

        <div :class="desktop ? '' : 'fixed inset-5 mb-24 overflow-y-scroll'">
          <template x-if="!desktop && fsr.label == -1">
            <div class="mb-4">
              <h1 class="text-2xl flex items-center">
                Mark Rejected
                <div
                  class="bg-red-500 flex justify-center items-center rounded-full text-white mx-4"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 p-1"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
              </h1>
            </div>
          </template>
          <template x-if="!desktop && fsr.label == 0">
            <div class="mb-4">
              <h1 class="text-2xl flex items-center">
                Mark Maybe
                <div
                  class="bg-srdrpurple flex justify-center items-center rounded-full text-white mx-4"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 p-1"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M10 2a1 1 0 011 1v1.323l3.954 1.582 1.599-.8a1 1 0 01.894 1.79l-1.233.616 1.738 5.42a1 1 0 01-.285 1.05A3.989 3.989 0 0115 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.715-5.349L11 6.477V16h2a1 1 0 110 2H7a1 1 0 110-2h2V6.477L6.237 7.582l1.715 5.349a1 1 0 01-.285 1.05A3.989 3.989 0 015 15a3.989 3.989 0 01-2.667-1.019 1 1 0 01-.285-1.05l1.738-5.42-1.233-.617a1 1 0 01.894-1.788l1.599.799L9 4.323V3a1 1 0 011-1zm-5 8.274l-.818 2.552c.25.112.526.174.818.174.292 0 .569-.062.818-.174L5 10.274zm10 0l-.818 2.552c.25.112.526.174.818.174.292 0 .569-.062.818-.174L15 10.274z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
              </h1>
            </div>
          </template>
          <template x-if="!desktop && fsr.label == 1">
            <div class="mb-4">
              <h1 class="text-2xl flex items-center">
                Mark Accepted
                <div
                  class="bg-green-500 flex justify-center items-center rounded-full text-white mx-4"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-10 w-10 p-1"
                    viewBox="0 0 20 20"
                    fill="currentColor"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                      clip-rule="evenodd"
                    />
                  </svg>
                </div>
              </h1>
            </div>
          </template>
          <div class="min-h-[100px]">
            <div>
              <div class="text-xl">Rejection Reason</div>
              <div
                class="text-xs flex items-end gap-x-1 font-bold"
                x-show="options.no_reason_required || options.yes_reason_required || options.maybe_reason_required"
              >
                <div>
                  <span>Required for labels:</span>
                  <span
                    :class="(fsr.label == -1 && !hasSomeReason()) ? 'text-red-600' : ''"
                    x-show="options.no_reason_required"
                    >No</span
                  >
                  <span
                    :class="(fsr.label == 0 && !hasSomeReason()) ? 'text-red-600' : ''"
                    x-show="options.maybe_reason_required"
                    >Maybe</span
                  >
                  <span
                    :class="(fsr.label == 1 && !hasSomeReason()) ? 'text-red-600' : ''"
                    x-show="options.yes_reason_required"
                    >Yes</span
                  >
                </div>
              </div>
              <hr class="m-0" />
              <label for="notes" class="block text-sm text-gray-700"
                >Select up to one reason</label
              >
              <div class="grid grid-rows sm:grid-cols-6 gap-4 mt-4 mb-8">
                <template x-for="(reason, index) in fsr.predefined_reasons">
                  <span
                    :class=" reason.selected ? 'bg-srdrpurple' : 'bg-white text-black'"
                    @click="const value = reason.selected; turnOffAllReasons(); reason.selected = !value; updateFsr(false)"
                    class="text-center drop-shadow select-none cursor-pointer justify-center inline-flex items-center px-1 py-2 rounded-full text-sm text-white font-black"
                    x-text="reason.name"
                  >
                  </span>
                </template>
                <template x-for="(reason, index) in fsr.custom_reasons">
                  <div
                    class="relative"
                    draggable="true"
                    x-on:dragstart="(e) => {
                      dragIndex = index;
                      dragType = 'custom_reasons';
                    }"
                    x-on:dragover.prevent="(e) => {
                      dropIndex = index;
                      dropType = 'custom_reasons';
                    }"
                    x-on:dragleave.prevent="(e) =>
                    {
                      dropIndex = null;
                      dropType = null;
                    }"
                    x-on:drop.prevent="(e) => {
                      if (dragType == dropType && dragIndex != dropIndex) {
                        updateCustomValue(dragType, { id: fsr[dragType][dragIndex].id, pos: dropIndex })
                        updateCustomValue(dropType, { id: fsr[dropType][dropIndex].id, pos: dragIndex })
                      }
                    }"
                    x-on:dragend.prevent="(e) => {
                      dragIndex = null;
                      dragType = null;
                      dropIndex = null;
                      dropType = null;
                    }"
                  >
                    <span
                      :class="{
                        'w-full text-center drop-shadow select-none cursor-pointer justify-center inline-flex items-center px-1 py-2 rounded-full text-sm text-white font-black': true,
                        'bg-srdrpurple': reason.selected,
                        'bg-white text-black': !reason.selected,
                        'bg-purple-400 !text-white': (dropIndex == index && dropType == dragType && dragIndex != dropIndex && dragType == 'custom_reasons')
                      }"
                      @click="const value = reason.selected; turnOffAllReasons(); reason.selected = !value; updateFsr(false)"
                      x-text="reason.name"
                    >
                    </span>
                    <button
                      type="button"
                      class="cursor-pointer absolute top-0 right-5 flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-gray-400"
                      @click="addReasonModal.on = true; addReasonModal.type = 'custom_reasons'; addReasonModal.action = 'Update'; newCustomValue = reason.name; updateCustomId = reason.id"
                    >
                      <span class="sr-only">edit custom reason</span>
                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke-width="1.5"
                        stroke="currentColor"
                        class="w-6 h-6"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-linejoin="round"
                          d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                        />
                      </svg>
                    </button>
                    <button
                      type="button"
                      class="cursor-pointer absolute top-0 right-0 flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-white bg-red-500"
                      @click="deleteCustomValue('custom_reasons', index)"
                    >
                      <span class="sr-only">remove custom reason</span>
                      <svg
                        class="h-2 w-2"
                        stroke="currentColor"
                        fill="none"
                        viewBox="0 0 8 8"
                      >
                        <path
                          stroke-linecap="round"
                          stroke-width="1.5"
                          d="M1 1l6 6m0-6L1 7"
                        />
                      </svg>
                    </button>
                  </div>
                </template>
                <span
                  @click="addReasonModal = { on: true, type: 'custom_reasons', action: 'Create' }"
                  class="drop-shadow select-none cursor-pointer justify-center inline-flex items-center text-green-900 font-black"
                  x-show="!options.only_predefined_reasons"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="h-8 w-8"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    stroke-width="1"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                    />
                  </svg>
                </span>
              </div>
            </div>

            <div class="min-h-[100px]">
              <div>
                <div class="text-xl">Tags</div>
                <div
                  class="text-xs flex items-end gap-x-1 font-bold"
                  x-show="options.no_tag_required || options.yes_tag_required || options.maybe_tag_required"
                >
                  <div>
                    <span>Required for labels:</span>
                    <span
                      :class="(fsr.label == -1 && !hasSomeTag()) ? 'text-red-600' : ''"
                      x-show="options.no_tag_required"
                      >No</span
                    >
                    <span
                      :class="(fsr.label == 0 && !hasSomeTag()) ? 'text-red-600' : ''"
                      x-show="options.maybe_tag_required"
                      >Maybe</span
                    >
                    <span
                      :class="(fsr.label == 1 && !hasSomeTag()) ? 'text-red-600' : ''"
                      x-show="options.yes_tag_required"
                      >Yes</span
                    >
                  </div>
                </div>
                <hr class="m-0" />
                <label for="notes" class="block text-sm text-gray-700"
                  >Select tags</label
                >
                <div class="grid grid-rows sm:grid-cols-6 gap-4 mt-4 mb-8">
                  <template x-for="(tag, index) in fsr.predefined_tags">
                    <span
                      :class="tag.selected ? 'bg-srdrpurple' : 'bg-white text-black'"
                      @click="tag.selected = !tag.selected; updateFsr(false)"
                      class="text-center drop-shadow select-none cursor-pointer justify-center inline-flex items-center px-1 py-2 rounded-full text-sm text-white font-black"
                      x-text="tag.name"
                    >
                    </span>
                  </template>
                  <template x-for="(tag, index) in fsr.custom_tags">
                    <div
                      class="relative"
                      draggable="true"
                      x-on:dragstart="(e) => {
                        dragIndex = index;
                        dragType = 'custom_tags';
                      }"
                      x-on:dragover.prevent="(e) => {
                        dropIndex = index;
                        dropType = 'custom_tags';
                      }"
                      x-on:dragleave.prevent="(e) => {
                        dropIndex = null;
                        dropType = null;
                      }"
                      x-on:drop.prevent="(e) => {
                        if (dragType == dropType && dragIndex != dropIndex) {
                          updateCustomValue(dragType, { id: fsr[dragType][dragIndex].id, pos: dropIndex })
                          updateCustomValue(dropType, { id: fsr[dropType][dropIndex].id, pos: dragIndex })
                        }
                      }"
                      x-on:dragend.prevent="(e) => {
                        dragIndex = null;
                        dragType = null;
                        dropIndex = null;
                        dropType = null;
                      }"
                    >
                      <span
                        :class="{
                          'w-full text-center drop-shadow select-none cursor-pointer justify-center inline-flex items-center px-1 py-2 rounded-full text-sm text-white font-black': true,
                          'bg-srdrpurple': tag.selected,
                          'bg-white text-black': !tag.selected,
                          'bg-purple-400 !text-white': (dropIndex == index && dropType == dragType && dragIndex != dropIndex && dragType == 'custom_tags')
                        }"
                        @click="tag.selected = !tag.selected; updateFsr(false)"
                        x-text="tag.name"
                      >
                      </span>
                      <button
                        type="button"
                        class="cursor-pointer absolute top-0 right-5 flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-gray-400"
                        @click="addReasonModal.on = true; addReasonModal.type = 'custom_tags'; addReasonModal.action = 'Update'; newCustomValue = tag.name; updateCustomId = tag.id"
                      >
                        <span class="sr-only">edit custom tag</span>
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          fill="none"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          class="w-6 h-6"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125"
                          />
                        </svg>
                      </button>
                      <button
                        type="button"
                        class="cursor-pointer absolute top-0 right-0 flex-shrink-0 ml-0.5 h-4 w-4 rounded-full inline-flex items-center justify-center text-white bg-red-500"
                        @click="deleteCustomValue('custom_tags', index)"
                      >
                        <span class="sr-only">Remove large option</span>
                        <svg
                          class="h-2 w-2"
                          stroke="currentColor"
                          fill="none"
                          viewBox="0 0 8 8"
                        >
                          <path
                            stroke-linecap="round"
                            stroke-width="1.5"
                            d="M1 1l6 6m0-6L1 7"
                          />
                        </svg>
                      </button>
                    </div>
                  </template>
                  <span
                    @click="addReasonModal = { on: true, type: 'custom_tags', action: 'Create' }"
                    class="drop-shadow select-none cursor-pointer justify-center inline-flex items-center text-green-900 font-black"
                    x-show="!options.only_predefined_tags"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="h-8 w-8"
                      fill="none"
                      viewBox="0 0 24 24"
                      stroke="currentColor"
                      stroke-width="1"
                    >
                      <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z"
                      />
                    </svg>
                  </span>
                </div>
              </div>
              <div class="min-h-[100px]">
                <div>
                  <div class="text-xl">Notes</div>
                  <div
                    class="text-xs flex items-end gap-x-1 font-bold"
                    x-show="options.no_note_required || options.yes_note_required || options.maybe_note_required"
                  >
                    <div>
                      <span>Required for labels:</span>
                      <span
                        :class="(fsr.label == -1 && !hasSomeNote()) ? 'text-red-600' : ''"
                        x-show="options.no_note_required"
                        >No</span
                      >
                      <span
                        :class="(fsr.label == 0 && !hasSomeNote()) ? 'text-red-600' : ''"
                        x-show="options.maybe_note_required"
                        >Maybe</span
                      >
                      <span
                        :class="(fsr.label == 1 && !hasSomeNote()) ? 'text-red-600' : ''"
                        x-show="options.yes_note_required"
                        >Yes</span
                      >
                    </div>
                  </div>
                  <hr class="m-0" />
                  <div>
                    <label for="notes" class="block text-sm text-gray-700"
                      >Write in notes</label
                    >
                    <div class="mt-1 mb-8">
                      <textarea
                        rows="4"
                        columns="30"
                        name="notes"
                        id="notes"
                        x-model="fsr.notes"
                        class="shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-sm border-gray-300 rounded-md p-2"
                        @input.debounce.500ms="updateFsr(false)"
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
              <div
                :class="desktop ? 'hidden' : 'fixed bottom-0 h-24 mb-5 mx-5 left-0 right-0 flex flex-col justify-center items-center content-center'"
                x-show="fsr.label !== null"
              >
                <button
                  type="button"
                  class="cursor-pointer justify-center m-auto w-full h-20 inline-flex items-center border border-transparent text-xl font-medium rounded-md shadow-sm text-white bg-green-900 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  :class="satisfiesReasoning() ? '' : 'cursor-not-allowed bg-gray-900 hover:bg-gray-700'"
                  @click="if (satisfiesReasoning()) updateFsr(true)"
                  x-text="satisfiesReasoning() ? 'Submit' : 'Please fill in the required data above'"
                ></button>
              </div>
            </div>
          </div>
        </div>

        <div
          x-show="desktop"
          class="border-l border-gray-600 fixed bottom-0 right-0 w-1/3 h-32 text-white"
        >
          <div class="grid grid-cols-3 h-full">
            <div
              class="cursor-pointer border-r-8 bg-red-500 flex justify-center items-center rounded-tl-2xl"
              @click="fsr.label = -1; if (satisfiesReasoning()) { updateFsr(true) } else { toastr.warning('This label requires additional information.  Please see \'Required for labels\'.', '', { timeOut: 2000 }) }"
              :class="(fsr.label == -1 || fsr.label == null) ? '' : 'saturate-[0.1]'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-10 w-10"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <div :class="desktop ? 'grid grid-rows-1' : 'grid grid-rows-2'">
              <div
                class="cursor-pointer bg-srdrpurple flex justify-center items-center"
                @click="fsr.label = 0; if (satisfiesReasoning()) { updateFsr(true) } else { toastr.warning('This label requires additional information.  Please see \'Required for labels\'.', '', { timeOut: 2000 }) }"
                :class="(fsr.label == 0 || fsr.label == null)? '' : 'saturate-[0.1]'"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-10 w-10"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                  stroke-width="2"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                  />
                </svg>
              </div>
            </div>
            <div
              class="cursor-pointer border-l-8 bg-green-500 flex justify-center items-center rounded-tr-2xl"
              @click="fsr.label = 1; if (satisfiesReasoning()) { updateFsr(true) } else { toastr.warning('This label requires additional information.  Please see \'Required for labels\'.', '', { timeOut: 2000 }) }"
              :class="(fsr.label == 1 || fsr.label == null)? '' : 'saturate-[0.1]'"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-10 w-10"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
