<style>
  table,
  th,
  td {
    border: 1px solid rgb(237, 236, 236);
  }
</style>
<div
  x-data="screenStore"
  class="p-8"
  @drop.prevent="drop()"
  @dragover.prevent="dragover($event)"
>
  <div class="py-2 flex">
    <h1 class="text-2xl">Abstract Screening Form</h1>
    <button
      @click="addQuestion()"
      class="bg-srdrpurple text-white p-2 mx-4 cursor-pointer"
    >
      Add Question
    </button>
  </div>
  <div class="py-2">
    <template x-if="questions.length == 0">
      <h2 class="text-base text-gray-500">Add a question to get started</h2>
    </template>
    <template
      x-for="(question, question_index) in questions"
      :key="question.id"
    >
      <div
        class="relative shadow-md rounded-md mb-8 border"
        :class="dragging === question_index ? 'border-blue-600' : ''"
        draggable="true"
        @dragstart="dragging = question_index"
        @dragend="dragging = null"
      >
        <div
          class="absolute inset-0 opacity-50"
          :class="dropping === question_index ? 'bg-blue-200' : ''"
          x-show.transition="dragging !== null"
          @dragenter.prevent="if (question_index !== dragging) { dropping = question_index }"
          @dragleave="if (dropping === question_index) dropping = null"
        ></div>
        <div class="flex">
          <div
            class="cursor-move w-8 pt-4 border-r border-gray-300"
            title="Drag here to rearrange order of questions"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-8 h-8"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"
              />
            </svg>
          </div>
          <div
            class="grow overflow-auto"
            draggable="true"
            @dragstart.prevent.stop
          >
            <div class="py-2 px-4">
              <template
                x-if="focusElement !== `question_name:${question_index}` && (question.name != '' && question.name != null)"
              >
                <h2
                  class="text-lg cursor-pointer"
                  x-text="`${question_index + 1}. ${question.name}`"
                  @click="focusElement = `question_name:${question_index}`"
                  title="Click here to edit question"
                ></h2>
              </template>
              <template
                x-if="focusElement !== `question_name:${question_index}` && (question.name == '' || question.name == null)"
              >
                <h2
                  class="text-lg cursor-pointer text-gray-400"
                  @click="focusElement = `question_name:${question_index}`"
                  title="Click here to edit question"
                >
                  click to add question
                </h2>
              </template>
              <template
                x-if="focusElement === `question_name:${question_index}`"
              >
                <input
                  x-trap="focusElement === `question_name:${question_index}`"
                  class="text-lg"
                  @blur="focusElement = null; questions[question_index].name = $el.value"
                  @keyup.enter="focusElement = null; questions[question_index].name = $el.value"
                  :value="question.name"
                  type="text"
                />
              </template>

              <template
                x-if="focusElement !== `question_description:${question_index}` && (question.description != '' && question.description != null)"
              >
                <p
                  class="m-0 cursor-pointer"
                  x-text="question.description"
                  @click="focusElement = `question_description:${question_index}`"
                  title="Click here to edit description"
                ></p>
              </template>
              <template
                x-if="(focusElement !== `question_description:${question_index}`) && (question.description == '' || question.description == null)"
              >
                <p
                  class="m-0 cursor-pointer text-gray-400"
                  @click="focusElement = `question_description:${question_index}`"
                  title="Click here to edit description"
                >
                  click to add description
                </p>
              </template>
              <template
                x-if="focusElement === `question_description:${question_index}`"
              >
                <input
                  x-trap="focusElement === `question_description:${question_index}`"
                  @blur="focusElement = null; questions[question_index].description = $el.value"
                  @keyup.enter="focusElement = null; questions[question_index].description = $el.value"
                  :value="question.description"
                  type="text"
                />
              </template>
            </div>
            <div class="py-2 px-4 overflow-auto block">
              <table
                class="h-0 w-0 table-auto border-separate border-spacing-1"
              >
                <thead>
                  <tr>
                    <td class="bg-white"></td>
                    <template
                      x-for="(column, column_index) in question.columns"
                    >
                      <th>
                        <div class="flex justify-center items-center">
                          <template
                            x-if="focusElement !== `question:${question_index}:column:${column_index}` && (column.title != '' && column.title != null)"
                          >
                            <div
                              class="p-2 grow whitespace-nowrap cursor-pointer"
                              x-text="column.title"
                              @click="focusElement = `question:${question_index}:column:${column_index}`"
                              title="Click here to edit column title"
                            ></div>
                          </template>
                          <template
                            x-if="focusElement !== `question:${question_index}:column:${column_index}` && (column.title == '' || column.title == null)"
                          >
                            <div
                              class="p-2 grow whitespace-nowrap cursor-pointer text-gray-400"
                              @click="focusElement = `question:${question_index}:column:${column_index}`"
                              title="Click here to edit column title"
                            >
                              click to add column header
                            </div></template
                          >
                          <template
                            x-if="focusElement === `question:${question_index}:column:${column_index}`"
                          >
                            <input
                              x-trap="focusElement === `question:${question_index}:column:${column_index}`"
                              class="p-2 grow whitespace-nowrap text-center"
                              oninput="this.style.width = (this.value.length) + 'ch';"
                              onfocus="this.style.width = (this.value.length) + 'ch';"
                              @blur="focusElement = null; column.title = $el.value"
                              @keyup.enter="focusElement = null; column.title = $el.value"
                              :value="column.title"
                              type="text"
                          /></template>
                          <div
                            @click="deleteColumn(question_index, column_index)"
                            class="text-red-900 cursor-pointer p-2 border-l border-gray-300 hover:bg-red-100"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-4 h-4"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                              />
                            </svg>
                          </div>
                        </div>
                      </th>
                    </template>
                    <th
                      class="whitespace-nowrap cursor-pointer flex justify-between items-center h-full"
                      @click="addColumn(question_index)"
                    >
                      <div class="p-2">Click to add column</div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <template x-for="row_one_index in (question.rows.length)">
                    <tr>
                      <th>
                        <div class="h-full flex justify-center items-start">
                          <template
                            x-if="focusElement !== `question:${question_index}:row:${row_one_index - 1}` && (question.rows[row_one_index - 1].title != '' && question.rows[row_one_index - 1].title != null)"
                          >
                            <div
                              class="p-2 grow whitespace-nowrap cursor-pointer"
                              x-text="question.rows[row_one_index - 1] !== undefined && question.rows[row_one_index - 1].title"
                              @click="focusElement = `question:${question_index}:row:${row_one_index - 1}`"
                              title="Click here to edit row title"
                            ></div>
                          </template>
                          <template
                            x-if="focusElement !== `question:${question_index}:row:${row_one_index - 1}` && (question.rows[row_one_index - 1].title == '' || question.rows[row_one_index - 1].title == null)"
                          >
                            <div
                              class="p-2 grow whitespace-nowrap cursor-pointer text-gray-400"
                              @click="focusElement = `question:${question_index}:row:${row_one_index - 1}`"
                              title="Click here to edit row title"
                            >
                              click to add row header
                            </div></template
                          >
                          <template
                            x-if="focusElement === `question:${question_index}:row:${row_one_index - 1}`"
                            ><input
                              x-trap="focusElement === `question:${question_index}:row:${row_one_index - 1}`"
                              class="p-2 grow whitespace-nowrap text-center"
                              oninput="this.style.width = (this.value.length) + 'ch';"
                              onfocus="this.style.width = (this.value.length) + 'ch';"
                              @blur="focusElement = null; question.rows[row_one_index - 1].title = $el.value"
                              @keyup.enter="focusElement = null; question.rows[row_one_index - 1].title = $el.value"
                              :value="question.rows[row_one_index - 1].title"
                              type="text"
                          /></template>
                          <div
                            @click="deleteRow(question_index, row_one_index)"
                            class="h-full text-red-900 cursor-pointer p-2 border-l border-gray-300 hover:bg-red-100"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              fill="none"
                              viewBox="0 0 24 24"
                              stroke-width="1.5"
                              stroke="currentColor"
                              class="w-4 h-4"
                            >
                              <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                              />
                            </svg>
                          </div>
                        </div>
                      </th>

                      <template
                        x-for="column_one_index in question.columns.length"
                      >
                        <td>
                          <template
                            x-if="question.cells[row_one_index - 1] !== undefined &&  question.cells[row_one_index - 1][column_one_index - 1] !== undefined && question.cells[row_one_index - 1][column_one_index - 1] !== null"
                          >
                            <div
                              class="flex justify-center items-stretch h-full"
                            >
                              <div class="p-2 grow">
                                <template
                                  x-if="question.cells[row_one_index - 1][column_one_index - 1].field_type == 'text'"
                                >
                                  <div>
                                    <div
                                      class="whitespace-nowrap border-b-2 border-gray-300"
                                    >
                                      Text Field
                                    </div>
                                    <label class="whitespace-nowrap"
                                      >Min character length
                                      <input name="min" type="number" value="1"
                                    /></label>
                                    <label class="whitespace-nowrap"
                                      >Max character length
                                      <input
                                        name="max"
                                        type="number"
                                        value="255"
                                    /></label>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_one_index - 1][column_one_index - 1].field_type == 'numeric'"
                                >
                                  <div>
                                    <div
                                      class="whitespace-nowrap border-b-2 border-gray-300"
                                    >
                                      Numeric Field
                                    </div>
                                    <div
                                      class="flex justify-between items-center"
                                    >
                                      <label class="whitespace-nowrap"
                                        >Allow ~, <, >, ≤, ≥
                                        <input
                                          name="equality"
                                          type="checkbox"
                                          class="!m-0 cursor-pointer"
                                      /></label>
                                    </div>
                                    <label
                                      >Min value allowed
                                      <input name="min" type="number" value="1"
                                    /></label>
                                    <label
                                      >Max value allowed
                                      <input
                                        name="max"
                                        type="number"
                                        value="255"
                                    /></label>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_one_index - 1][column_one_index - 1].field_type == 'checkbox'"
                                >
                                  <div
                                    class="h-full flex flex-col justify-between"
                                  >
                                    <div
                                      class="whitespace-nowrap border-b-2 border-gray-300"
                                    >
                                      Checkbox (multi-choice)
                                    </div>
                                    <div
                                      class="grow border-b-2 border-gray-300 whitespace-nowrap"
                                    >
                                      <template
                                        x-for="option in question.cells[row_one_index - 1][column_one_index - 1].options"
                                        ><div class="flex justify-between">
                                          <div
                                            class="mr-5"
                                            x-text="option.name"
                                          ></div>
                                          <div class="flex">
                                            <label
                                              class="mr-1 text-xs cursor-pointer"
                                              >with follow-up
                                              <input
                                                class="!m-0 cursor-pointer"
                                                type="checkbox"
                                            /></label>
                                            <div
                                              @click="deleteCellField(question_index, row_one_index, column_one_index)"
                                              class="text-red-900 cursor-pointer ml-5"
                                            >
                                              <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                fill="none"
                                                viewBox="0 0 24 24"
                                                stroke-width="1.5"
                                                stroke="currentColor"
                                                class="w-4 h-4"
                                              >
                                                <path
                                                  stroke-linecap="round"
                                                  stroke-linejoin="round"
                                                  d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                                />
                                              </svg>
                                            </div>
                                          </div></div
                                      ></template>
                                    </div>
                                    <div>
                                      <label class="text-xs"
                                        >Add Answer Choice
                                        <input
                                          name="option"
                                          type="text"
                                          @keyup.enter="question.cells[row_one_index - 1][column_one_index - 1].options.push({ name: $el.value, with_followup: false }); $el.value = ''"
                                      /></label>
                                    </div>
                                  </div>
                                </template>
                              </div>
                              <div
                                @click="deleteCellField(question_index, row_one_index, column_one_index)"
                                class="text-red-900 cursor-pointer p-2 border-l border-gray-300 hover:bg-red-100"
                              >
                                <svg
                                  xmlns="http://www.w3.org/2000/svg"
                                  fill="none"
                                  viewBox="0 0 24 24"
                                  stroke-width="1.5"
                                  stroke="currentColor"
                                  class="w-4 h-4"
                                >
                                  <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
                                  />
                                </svg>
                              </div>
                            </div>
                          </template>
                          <template
                            x-if="question.cells[row_one_index - 1] !== undefined && question.cells[row_one_index - 1][column_one_index - 1] === null"
                          >
                            <div class="p-2 flex flex-col justify-center">
                              <div
                                class="whitespace-nowrap border-b-2 border-gray-300"
                              >
                                Click below to add field
                              </div>
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'text', options: [], min: 0, max: 255 }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Text</span
                              >
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'numeric', options: [], min: 0, max: 255, allow_equality_signs: true }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Numeric</span
                              >
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'checkbox', options: [] }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Checkbox (Multiple)</span
                              >
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'dropdown', options: [] }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Dropdown</span
                              >
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'radio', options: [] }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Radio</span
                              >
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'select-one', options: [] }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Select One</span
                              >
                              <span
                                @click="question.cells[row_one_index - 1][column_one_index - 1] = { id: 1, field_type: 'select-multiple', options: [] }"
                                class="cursor-pointer hover:text-gray-500 overflow-ellipsis whitespace-nowrap"
                                >Select Multiple</span
                              >
                            </div>
                          </template>
                        </td>
                      </template>
                    </tr>
                  </template>
                  <tr>
                    <th
                      class="whitespace-nowrap cursor-pointer flex justify-between items-center h-full"
                      @click="addRow(question_index)"
                    >
                      <div class="p-2">Click to add row</div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div
            class="w-8 px-2 pt-4 border-l border-gray-300 cursor-pointer text-red-900 p-2 hover:bg-red-100"
            @click="deleteQuestion(question_index)"
            draggable="true"
            @dragstart.prevent.stop
          >
            <svg
              class="w-4 h-4"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0"
              />
            </svg>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("screenStore", () => ({
      questions: [],
      focusElement: null,
      dragging: null,
      dropping: null,
      async init() {
        const response = await fetch(window.location.href, {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        });
        const data = await response.json();
        this.questions = data;
      },
      addQuestion() {
        this.questions.push({
          id: Math.random() * 10000,
          name: "",
          description: "",
          rows: [],
          columns: [],
          cells: [],
        });
        toastr.success("Question added below succesfully!");
      },
      addColumn(question_index) {
        this.questions[question_index].columns.push({
          id: 2,
          title: "",
        });
        if (this.questions[question_index].rows.length == 0) {
          this.addRow(question_index);
        }
        this.questions[question_index].cells.forEach((cell) => {
          cell.push(null);
        });
      },
      addRow(question_index) {
        this.questions[question_index].rows.push({
          id: 2,
          title: "",
        });
        this.questions[question_index].cells.push(
          Array(this.questions[question_index].rows.length).fill(null)
        );
        if (this.questions[question_index].columns.length == 0) {
          this.addColumn(question_index);
        }
      },
      drop() {
        if (this.dragging !== null && this.dropping !== null) {
          if (this.dragging < this.dropping)
            this.questions = [
              ...this.questions.slice(0, this.dragging),
              ...this.questions.slice(this.dragging + 1, this.dropping + 1),
              this.questions[this.dragging],
              ...this.questions.slice(this.dropping + 1),
            ];
          else
            this.questions = [
              ...this.questions.slice(0, this.dropping),
              this.questions[this.dragging],
              ...this.questions.slice(this.dropping, this.dragging),
              ...this.questions.slice(this.dragging + 1),
            ];
        }
        this.dropping = null;
      },
      dragover(event) {
        event.dataTransfer.dropEffect = "move";
      },
      deleteQuestion(question_index) {
        if (
          confirm(
            `Are you sure you want to delete question: "${this.questions[question_index].name}"`
          )
        ) {
          this.questions.splice(question_index, 1);
          toastr.success("Removed successfully!");
        }
      },
      deleteColumn(question_index, column_index) {
        if (confirm(`Are you sure you want to delete this column?`)) {
          this.questions[question_index].cells.forEach((row) => {
            row.splice(column_index, 1);
          });
          this.questions[question_index].columns.splice(column_index, 1);
          toastr.success("Removed successfully!");
        }
      },
      deleteRow(question_index, row_one_index) {
        if (confirm(`Are you sure you want to delete this row?`)) {
          this.questions[question_index].cells.splice(row_one_index - 1, 1);
          this.questions[question_index].rows.splice(row_one_index - 1, 1);
          toastr.success("Removed successfully!");
        }
      },

      deleteCellField(question_index, row_one_index, column_one_index) {
        if (confirm(`Are you sure you want to delete this field?`)) {
          this.questions[question_index].cells[row_one_index - 1][
            column_one_index - 1
          ] = null;
          toastr.success("Removed successfully!");
        }
      },
    }));
  });
</script>
