<div x-data="{ form_type: 'abstract' }" class="p-4 lg:p-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-bold">Screening Form Builder</h1>
    </div>
  </div>
  <div>
    <div class="border-b border-gray-200">
      <nav class="-mb-px flex" aria-label="Tabs">
        <div
          @click="form_type = 'abstract'"
          class="text-gray-500 w-1/2 py-2 px-1 text-center border-b-2 font-bold text-sm cursor-pointer"
          :class="form_type == 'abstract' && 'border-purple-900 text-srdr-primary'"
        >
          ABSTRACT SCREENING FORM
        </div>

        <div
          @click="form_type = 'fulltext'"
          class="text-gray-500 w-1/2 py-2 px-1 text-center border-b-2 font-bold text-sm cursor-pointer"
          :class="form_type == 'fulltext' && 'border-purple-900 text-srdr-primary'"
        >
          FULL-TEXT SCREENING FORM
        </div>
      </nav>
    </div>
  </div>

  <div x-cloak x-show="form_type == 'abstract'">
    <%= render 'screening_form', form_type: 'abstract' %>
  </div>
  <div x-cloak x-show="form_type == 'fulltext'">
    <%= render 'screening_form', form_type: 'fulltext' %>
  </div>
</div>
