( function() {
  <% if @invitation.errors.present? %>
    <% @invitation.errors.full_messages.each do |msg| %>
      toastr.error('<%= msg[1] %>', '<%= msg[0] %>');
    <% end %>
  <% else %>
      $( "#invitations-table-<%= @behaveable.id %>" ).html( "<%= escape_javascript( render "invitations/invitations_table", behaveable: @behaveable ) %>" )
      $( '.copy-to-clipboard' ).click( function( e ) {
        e.preventDefault()
        copyToClipboard( $( this ).text() )
        $( this ).append( '<span class="copied-message" style="color: green; font-size: 0.8em;"> Copied!</span>' )
        $( '.copied-message' ).delay( 800 ).fadeOut( 400 ).queue( -> $( this ).remove() )
      } );
      toastr.success( 'Success!' );
  <% end %>
})();
