<div
  x-data="projectMessages"
  class="h-[70vh] rounded-md overflow-y-scroll flex flex-col-reverse flex-auto w-full border border-gray-100"
>
  <template x-for="projectMessage in projectMessages" :key="projectMessage.id">
    <div
      class="grid grid-cols-12 shadow w-full px-1 bg-white hover:bg-blue-200 hover:shadow-md"
    >
      <div
        class="text-sm text-gray-500 text-left text-nowrap text-ellipsis overflow-hidden col-span-6"
        x-text="projectMessage.text"
        class="whitespace-pre-wrap"
        style="overflow-wrap: anywhere"
      ></div>
      <a
        class="text-sm col-span-3"
        :href="`/extractions/${projectMessage.extraction_id}/work?panel-tab=${projectMessage.extraction_forms_projects_section_id}&help_board=true`"
        target="_blank"
        x-text="`/extractions/${projectMessage.extraction_id}/work?panel-tab=${projectMessage.extraction_forms_projects_section_id}&help_board=true`"
      >
      </a>
      <div class="flex justify-center">
        <div
          class="text-sm text-gray-500 text-left text-nowrap text-ellipsis overflow-hidden cursor-pointer"
        >
          Reply
        </div>
      </div>
      <div
        class="text-sm text-gray-500 text-left text-nowrap text-ellipsis overflow-hidden"
        x-text="projectMessage.handle"
      ></div>
      <div
        class="text-sm text-gray-500 text-left text-nowrap text-ellipsis overflow-hidden"
        x-text="new Date(projectMessage.created_at).toLocaleString()"
      ></div>
    </div>
  </template>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("projectMessages", () => ({
      projectMessages: [],
      current_user_id: null,

      async init() {
        this.setProjectId();
        await this.fetchProjectMessages();
        await this.setupWS();
      },

      setProjectId() {
        const url = new URL(window.location.href);
        this.projectId = url.pathname.split("/")[2];
      },

      async fetchProjectMessages() {
        const response = await fetch(`/projects/${this.projectId}/messages`, {
          method: "GET",
          headers: {
            Accept: "application/json",
            "Content-Type": "application/json",
          },
        });
        const data = await response.json();
        this.projectMessages = data.messages;
        this.current_user_id = data.current_user_id;
      },

      async setupWS() {
        const socket = new WebSocket("ws://localhost:3000/cable");

        socket.onopen = () => {
          console.log("WS connected");
          const msg = {
            command: "subscribe",
            identifier: JSON.stringify({
              channel: "ProjectMessageChannel",
              project_id: this.projectId,
            }),
          };
          socket.send(JSON.stringify(msg));
        };

        socket.onclose = () => {
          console.log("WS disconnected");
        };

        socket.onmessage = async (event) => {
          const data = JSON.parse(event.data);
          const message = data.message;
          if (data.type === "ping" || message === undefined) {
            return;
          }
          if (message.message_type === "message") {
            this.projectMessages.unshift(message);
          }
        };
        socket.onerror = (error) => {
          console.log("WS error: ", error);
        };
      },
    }));
  });
</script>
