<script src="/echarts.min.js"></script>
<div x-data="projectStatus" class="flex space-x-8">
  <div class="relative w-48">
    <h1 class="text-lg font-bold">By User</h1>
    <ul class="h-[calc(100vh-280px)] overflow-auto !m-0">
      <li
        class="cursor-pointer text-xs"
        :class="{ 'font-bold': null === user_id }"
        @click="user_id = null; await getProjectStatus(); generateChart(); generateApprovalDurations();"
      >
        ALL USERS
      </li>
      <template x-for="projects_user in projectStatus?.projects_users">
        <li
          class="cursor-pointer truncate text-xs"
          :class="{ 'font-bold': projects_user.id === user_id }"
          x-text="`${projects_user.handle}`"
          :title="projects_user.handle"
          @click="user_id = projects_user.id; await getProjectStatus(); generateChart(); generateApprovalDurations();"
        ></li>
      </template>
    </ul>
  </div>
  <div class="grow">
    <div class="flex flex-col lg:flex-row">
      <div class="grow basis-0">
        <h1 class="text-lg font-bold">Extractions Status</h1>
        <div id="logChart" style="width: auto; height: 250px"></div>
      </div>
      <div class="grow basis-0">
        <h1 class="text-lg font-bold">Approval Durations</h1>
        <div id="extractionKPIChart" style="width: auto; height: 250px"></div>
      </div>
    </div>
    <div class="mb-2">
      <h1 class="text-lg font-bold">Log Entries</h1>
      <div
        class="h-56 overflow-auto text-xs text-gray-500 border rounded-md flex flex-col-reverse"
      >
        <template x-for="log in projectStatus.logs">
          <a
            class="grid grid-cols-6"
            :href="`/extractions/${log.loggable_id}/work`"
            target="_blank"
          >
            <div x-text="log.handle || 'System'"></div>
            <div x-text="log.description"></div>
            <div x-text="log.loggable_type"></div>
            <div x-text="log.loggable_id"></div>
            <div
              class="truncate"
              :title="log.citation_name"
              x-text="log.citation_name"
            ></div>
            <div x-text="new Date(log.created_at).toLocaleString()"></div>
          </a>
        </template>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    const headers = {
      Accept: "application/json",
      "Content-Type": "application/json",
      "X-Requested-With": "XMLHttpRequest",
      "X-CSRF-Token": document.querySelector("[name='csrf-token']").content,
    };
    Alpine.data("projectStatus", () => ({
      projectStatus: {},
      user_id: null,

      async init() {
        await this.getProjectStatus();
        this.generateChart();
        this.generateApprovalDurations();
      },

      async getProjectStatus() {
        const url = new URL(window.location.href);
        const id = url.pathname.split("/")[2];
        const response = await fetch(
          `/projects/${id}/status?user_id=${this.user_id}`,
          {
            method: "GET",
            headers,
          }
        );
        const data = await response.json();
        this.projectStatus = data;
      },

      generateApprovalDurations() {
        const pieChart = echarts.init(
          document.getElementById("extractionKPIChart")
        );
        const data = this.projectStatus.extraction_kpis;
        const option = {
          tooltip: {
            trigger: "item",
          },
          legend: {
            orient: "vertical",
            left: "left",
          },
          series: [
            {
              name: "Time to Approval",
              type: "pie",
              radius: "50%",
              data,
            },
          ],
        };
        pieChart.setOption(option);
      },

      generateChart() {
        const barChart = echarts.init(document.getElementById("logChart"));
        const series = this.projectStatus.extraction_activities;
        const option2 = {
          tooltip: {
            trigger: "axis",
          },
          legend: {},
          xAxis: [
            {
              type: "category",
              data: [
                "21 days or more",
                "14 - 21 days ago",
                "7 - 14 days ago",
                "0 - 7 days ago",
              ],
            },
          ],
          yAxis: [
            {
              type: "value",
            },
          ],
          series,
        };
        barChart.setOption(option2);
      },
    }));
  });
</script>
