<div x-data="projectStatus" class="flex space-x-8">
  <div class="relative w-48">
    <h1 class="text-lg font-bold">By User</h1>
    <ul class="h-[calc(100vh-280px)] overflow-auto !m-0">
      <li
        class="cursor-pointer text-xs"
        :class="{ 'font-bold': null === user_id }"
        @click="user_id = null; await getProjectStatus(); generateChart(); generateApprovalDurations();"
      >
        ALL USERS
      </li>
      <template x-for="projects_user in projectStatus?.projects_users">
        <li
          class="cursor-pointer truncate text-xs"
          :class="{ 'font-bold': projects_user.id === user_id }"
          x-text="`${projects_user.handle}`"
          :title="projects_user.handle"
          @click="user_id = projects_user.id; await getProjectStatus(); generateChart(); generateApprovalDurations();"
        ></li>
      </template>
    </ul>
  </div>
  <div class="grow">
    <div class="flex flex-col lg:flex-row">
      <div class="grow basis-0">
        <h1 class="text-lg font-bold">Overview</h1>
        <div
          id="logChart"
          style="width: calc(50vw - 6rem); height: 250px"
        ></div>
      </div>
      <div class="grow basis-0">
        <h1 class="text-lg font-bold">
          Approval Durations of Extractions in 'work accepted'
        </h1>
        <div
          id="extractionKPIChart"
          style="width: calc(50vw - 6rem); height: 250px"
        ></div>
      </div>
    </div>
    <div class="mb-2">
      <h1 class="text-lg font-bold">
        Pending Work
        <span class="text-gray-600 text-xs"
          >(extractions not in 'work_accepted' status)</span
        >
      </h1>
      <div
        class="max-h-64 overflow-auto text-xs text-gray-500 border rounded-md"
      >
        <table class="table-fixed w-full">
          <thead>
            <tr>
              <th>Extraction ID</th>
              <th>Citation Title</th>
              <th>Extractor</th>
              <th>Status</th>
              <th>Status Date</th>
              <th>Time Ago</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
            <template x-for="extraction in projectStatus.pending_work">
              <tr>
                <td x-text="extraction.id" class="text-center"></td>
                <td
                  x-text="extraction.title"
                  :title="extraction.title"
                  class="truncate"
                ></td>
                <th
                  x-text="extraction.handle || 'System'"
                  class="text-center"
                ></th>
                <td x-text="extraction.status" class="text-center"></td>
                <td
                  x-text="new Date(extraction.created_at).toLocaleString()"
                  class="text-center"
                ></td>
                <td
                  x-text="extraction.time_ago_in_words"
                  class="text-center"
                ></td>
                <td>
                  <a
                    :href="`/extractions/${extraction.id}/work`"
                    x-text="`/extractions/${extraction.id}/work`"
                    target="_blank"
                    rel="noopener noreferrer"
                  ></a>
                </td>
              </tr>
            </template>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener("alpine:init", () => {
    const headers = {
      Accept: "application/json",
      "Content-Type": "application/json",
      "X-Requested-With": "XMLHttpRequest",
      "X-CSRF-Token": document.querySelector("[name='csrf-token']").content,
    };
    Alpine.data("projectStatus", () => ({
      projectStatus: {},
      user_id: null,

      async init() {
        await this.getProjectStatus();
        this.generateChart();
        this.generateApprovalDurations();
      },

      async getProjectStatus() {
        const url = new URL(window.location.href);
        const id = url.pathname.split("/")[2];
        const response = await fetch(
          `/projects/${id}/status?user_id=${this.user_id}`,
          {
            method: "GET",
            headers,
          }
        );
        const data = await response.json();
        this.projectStatus = data;
      },

      generateApprovalDurations() {
        const pieChart = echarts.init(
          document.getElementById("extractionKPIChart")
        );
        const data = this.projectStatus.extraction_kpis;
        const option = {
          tooltip: {
            trigger: "item",
          },
          legend: {
            orient: "vertical",
            left: "left",
          },
          series: [
            {
              name: "Time to Approval",
              type: "pie",
              radius: "50%",
              data,
            },
          ],
        };
        pieChart.setOption(option);
      },

      generateChart() {
        const barChart = echarts.init(document.getElementById("logChart"));
        const series = this.projectStatus.extraction_activities;
        const option2 = {
          tooltip: {
            trigger: "axis",
          },
          legend: {},
          xAxis: [
            {
              type: "category",
              data: [
                "21 days or more",
                "14 - 21 days ago",
                "7 - 14 days ago",
                "0 - 7 days ago",
              ],
            },
          ],
          yAxis: [
            {
              type: "value",
            },
          ],
          series,
        };
        barChart.setOption(option2);
      },
    }));
  });
</script>
