.grid-container
  .grid-y.grid-padding-y
    .cell
      #notice = notice
    .cell
      strong
        'Name:
      = @project.name
    .cell
      strong
        'Description:
      = @project.description
    .cell
      strong
        'Attribution:
      = @project.attribution
    .cell
      strong
        'Authors of Report:
      = @project.authors_of_report
    .cell
      strong
        'Methodology description:
      = @project.methodology_description
    .cell
      strong
        'Prospero:
      = @project.prospero
    .cell
      strong
        'Doi:
      = @project.doi
    .cell
      strong
        'Notes:
      = @project.notes
    .cell
      strong
        'Funding source:
      = @project.funding_source
    .cell
      = link_to 'Edit', edit_project_path(@project)
      '  |
      = link_to 'Back', projects_path
