.column.row
  - eefps_qrcf = ExtractionsExtractionFormsProjectsSectionsQuestionRowColumnField.find_or_create_by(\
    extractions_extraction_forms_projects_sections_type1: t1.blank?\
    ? nil\
    : ExtractionsExtractionFormsProjectsSectionsType1.find_or_create_by(\
      extractions_extraction_forms_projects_section: eefps,
      type1: t1\
      ),
    extractions_extraction_forms_projects_section: eefps,
    question_row_column_field: qrc.question_row_column_field\
  )
  - record = Record.find_or_create_by(recordable: eefps_qrcf)
  = simple_form_for(record, html: { data: { 'abide': '', 'live-validate': true } }) do |f|
    = f.error_notification

    - options = qrc.question_row_column_field.\
      question_row_column_fields_question_row_column_field_options.\
      where(question_row_column_field_option_id: 1).\
      collect { |opt| [opt.name, opt.id, { 'data-prereq': "prereq-#{ opt.class }-#{ opt.id }" }] }
    = f.input :value, label: false,
      collection: options,
      input_html: { class: 'form-control' },
      include_blank: '-- Select response --'

    .form-actions
      = f.button :submit, 'Save'
