<h4><%= citation.name %></h4>
<%= render 'citations/show/citation_partial', citation: citation %>
<!-- /.include-button = button -->
<!-- /.exclude-button = button -->
<!-- /.maybe-button = button -->
