<style>
  table,
  th,
  td {
    border: 1px solid rgb(237, 236, 236);
    min-width: 128px;
  }
</style>
<div x-data="screeningFormData" class="">
  <div class="py-2">
    <h1
      class="text-xl"
      x-text="`Screening Form (${screening_form.form_type})`"
    ></h1>
    <hr class="m-0" />
  </div>
  <div class="py-2">
    <template
      x-for="(question, question_index) in questions"
      :key="question.id"
    >
      <div class="relative shadow-md rounded-md mb-8 border">
        <div class="flex">
          <div class="grow overflow-auto">
            <div class="py-2 px-4">
              <h2
                class="text-lg"
                x-text="`${question_index + 1}. ${question.name}`"
              ></h2>
              <p class="m-0" x-text="question.description"></p>
            </div>
            <div class="py-2 px-4 overflow-auto block">
              <table
                class="h-0 w-0 table-auto border-separate border-spacing-1"
              >
                <thead>
                  <tr>
                    <td class="bg-white"></td>
                    <template
                      x-for="(column, column_index) in question.columns"
                    >
                      <th>
                        <div class="flex justify-center items-center">
                          <div
                            class="p-2 grow whitespace-nowrap"
                            x-text="column.title"
                          ></div>
                        </div>
                      </th>
                    </template>
                  </tr>
                </thead>
                <tbody>
                  <template x-for="(row, row_index) in (question.rows)">
                    <tr>
                      <th>
                        <div class="h-full flex justify-center items-start">
                          <div
                            class="p-2 grow whitespace-nowrap"
                            x-text="question.rows[row_index] !== undefined && question.rows[row_index].title"
                          ></div>
                        </div>
                      </th>

                      <template
                        x-for="(column, column_index) in question.columns"
                      >
                        <td>
                          <template
                            x-if="question.cells[row_index] !== undefined &&  question.cells[row_index][column_index] !== undefined && question.cells[row_index][column_index] !== null"
                          >
                            <div
                              class="flex justify-center items-stretch h-full"
                            >
                              <div class="p-2 grow">
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'text'"
                                >
                                  <div>
                                    <template
                                      x-if="question.cells[row_index][column_index].sf_records.length == 0"
                                    >
                                      <input
                                        type="text"
                                        :minlength="question.cells[row_index][column_index].min"
                                        :maxlength="question.cells[row_index][column_index].max"
                                        x-on:keyup.debounce.500ms="findOrCreateRecords(question.cells[row_index][column_index], { value: $el.value })"
                                      />
                                    </template>
                                    <template
                                      x-if="question.cells[row_index][column_index].sf_records.length != 0"
                                    >
                                      <template
                                        x-for="sf_record in question.cells[row_index][column_index].sf_records"
                                      >
                                        <input
                                          type="text"
                                          :minlength="question.cells[row_index][column_index].min"
                                          :maxlength="question.cells[row_index][column_index].max"
                                          x-on:keyup.debounce.500ms="findOrCreateRecords(question.cells[row_index][column_index], { value: $el.value })"
                                          :value="sf_record.value"
                                        /> </template
                                    ></template>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'numeric'"
                                >
                                  <div>
                                    <template
                                      x-if="question.cells[row_index][column_index].sf_records.length == 0"
                                    >
                                      <div>
                                        <label>
                                          <select>
                                            <option value=""></option>
                                            <option value="~">~</option>
                                            <option value="<">&lt;</option>
                                            <option value=">">&gt;</option>
                                            <option value="≤">≤</option>
                                            <option value="≥">≥</option>
                                          </select></label
                                        >
                                        <input
                                          type="number"
                                          :min="question.cells[row_index][column_index].min"
                                          :max="question.cells[row_index][column_index].max"
                                          x-on:change.debounce.500ms="findOrCreateRecords(question.cells[row_index][column_index], { value: $el.value })"
                                          x-on:keyup.debounce.500ms="findOrCreateRecords(question.cells[row_index][column_index], { value: $el.value })"
                                        />
                                      </div>
                                    </template>
                                    <template
                                      x-if="question.cells[row_index][column_index].sf_records.length != 0"
                                    >
                                      <template
                                        x-for="sf_record in question.cells[row_index][column_index].sf_records"
                                        ><div class="flex">
                                          <div class="w-16">
                                            <select
                                              x-model="sf_record.equality"
                                              x-on:change="findOrCreateRecords(question.cells[row_index][column_index], { equality: $el.value })"
                                            >
                                              <option value=""></option>
                                              <option value="~">~</option>
                                              <option value="<">&lt;</option>
                                              <option value=">">&gt;</option>
                                              <option value="≤">≤</option>
                                              <option value="≥">≥</option>
                                            </select>
                                          </div>
                                          <input
                                            type="number"
                                            :min="question.cells[row_index][column_index].min"
                                            :max="question.cells[row_index][column_index].max"
                                            x-on:change.debounce.500ms="findOrCreateRecords(question.cells[row_index][column_index], { value: $el.value })"
                                            x-on:keyup.debounce.500ms="findOrCreateRecords(question.cells[row_index][column_index], { value: $el.value })"
                                            :value="sf_record.value"
                                          /></div></template
                                    ></template>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'checkbox'"
                                >
                                  <div
                                    class="h-full block whitespace-nowrap min-h-[96px]"
                                  >
                                    <template
                                      x-for="(option, option_index) in question.cells[row_index][column_index].options"
                                    >
                                      <label
                                        class="flex justify-between cursor-pointer"
                                        :for="`optionId-${option.id}`"
                                      >
                                        <span x-text="option.name"></span>
                                        <input
                                          class="!m-0"
                                          type="checkbox"
                                          :id="`optionId-${option.id}`"
                                          checked
                                        />
                                      </label>
                                    </template>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'dropdown'"
                                >
                                  <div
                                    class="h-full block whitespace-nowrap min-h-[96px]"
                                  >
                                    <select>
                                      <option value="">
                                        --Please choose an option--
                                      </option>
                                      <template
                                        x-for="(option, option_index) in question.cells[row_index][column_index].options"
                                      >
                                        <option
                                          :value="option.name"
                                          x-text="option.name"
                                        ></option>
                                      </template>
                                    </select>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'radio'"
                                >
                                  <div
                                    class="h-full block whitespace-nowrap min-h-[96px]"
                                  >
                                    <template
                                      x-for="(option, option_index) in question.cells[row_index][column_index].options"
                                    >
                                      <label
                                        class="flex justify-between cursor-pointer"
                                        :for="`optionId-${option.id}`"
                                      >
                                        <span x-text="option.name"></span>
                                        <input
                                          class="!m-0"
                                          type="radio"
                                          :id="`optionId-${option.id}`"
                                          :value="option.name"
                                          x-model="cellRecords"
                                        />
                                      </label>
                                    </template>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'select-one'"
                                  ><div
                                    class="h-full block whitespace-nowrap min-h-[96px]"
                                  >
                                    <select>
                                      <option value="">
                                        --Please choose an option--
                                      </option>
                                      <template
                                        x-for="(option, option_index) in question.cells[row_index][column_index].options"
                                      >
                                        <option
                                          :value="option.name"
                                          x-text="option.name"
                                        ></option>
                                      </template>
                                    </select>
                                  </div>
                                </template>
                                <template
                                  x-if="question.cells[row_index][column_index].cell_type == 'select-multiple'"
                                >
                                  <div
                                    class="h-full block whitespace-nowrap min-h-[96px]"
                                  >
                                    <select>
                                      <option value="">
                                        --Please choose an option--
                                      </option>
                                      <template
                                        x-for="(option, option_index) in question.cells[row_index][column_index].options"
                                      >
                                        <option
                                          :value="option.name"
                                          x-text="option.name"
                                        ></option>
                                      </template>
                                    </select>
                                  </div>
                                </template>
                              </div>
                            </div>
                          </template>
                        </td>
                      </template>
                    </tr>
                  </template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>

<script>
  document.addEventListener("alpine:init", () => {
    Alpine.data("screeningFormData", () => ({
      questions: [],
      screening_form: {},
      cellRecords: {},
      init() {
        this.$watch("abstract_screening_result_id", (value) => {
          this.getData();
        });
      },
      async getData() {
        const response = await fetch(
          `/abstract_screening_results/${this.abstract_screening_result_id}/sf_abstract_records`,
          {
            method: "GET",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
            },
          }
        );
        const data = await response.json();
        this.questions = data.sf_questions;
        this.screening_form = data.screening_form;
      },
      async findOrCreateRecords(cell, params) {
        const response = await fetch(
          `/sf_cells/${cell.id}/sf_abstract_records`,
          {
            method: "POST",
            headers: {
              Accept: "application/json",
              "Content-Type": "application/json",
              "X-Requested-With": "XMLHttpRequest",
              "X-CSRF-Token": document.querySelector("[name='csrf-token']")
                .content,
            },
            credentials: "same-origin",
            body: JSON.stringify({
              abstract_screening_result_id: this.abstract_screening_result_id,
              ...params,
            }),
          }
        );
        if (response.status != 200) {
          toastr.error("We've encountered an error", null, { timeOut: 1000 });
        }
      },
    }));
  });
</script>
