<div
  class="fixed inset-0 bg-black bg-opacity-50 z-50 flex justify-center items-center"
  x-show="word_weight_menu"
  x-cloak
  @click="word_weight_menu = false; selectedGroup = null;"
>
  <div @click.stop class="bg-white p-5 rounded-lg shadow-lg max-w-lg mx-auto">
    <div>
      <h2 class="text-lg">Group: <span x-text="selectedGroup ? selectedGroup.name : ''"></span></h2>
      <div class="mt-4">
        <template x-if="selectedGroup && selectedGroup.words && selectedGroup.words.length > 0 && !selectedGroup.words.every(wordObj => wordObj.name === null && wordObj.id === null)">
          <template x-for="wordObj in selectedGroup.words" :key="wordObj.id">
            <div class="flex items-center mb-2 gap-4">
              <input class="box-border p-2" type="text" x-model="wordObj.name" @keyup.enter="sendWw(wordObj.name, null, wordObj.id, false, selectedGroup.id, null, null, false)" @blur="sendWw(wordObj.name, null, wordObj.id, false, selectedGroup.id, null, null, false)">
              <button @click="sendWw(wordObj.name, null, wordObj.id, true, selectedGroup.id, null, null, false)" class="p-2">
                <svg class="w-6 h-6 text-red-600" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg>
              </button>
            </div>
          </template>
        </template>
        <div x-show="!selectedGroup || !selectedGroup.words || selectedGroup.words.length === 0 || selectedGroup.words.every(wordObj => wordObj.name === null && wordObj.id === null)">
          No members
        </div>
      </div>
      <div class="mt-4">
        <input class="box-border p-2 w-full" type="text" placeholder="Add new term" x-model="newWordName" @keyup.enter="sendWw(newWordName, 0, null, false, selectedGroup.id, null, null, false)">
      </div>
    </div>
    <button @click="word_weight_menu = false; selectedGroup = null;" class="mt-4 px-4 py-2 bg-gray-200 rounded hover:bg-gray-300">Close</button>
  </div>
</div>
