<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1>Error</h1>
    <p>The export you requested for project:</p>
    <div class="project-name">
      <h2><%= @project.name %></h2>
    </div>
    <p>has encountered an error.</p>
  </body>
</html>
