<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @title %></h1>
    <p>
      <% @anomalies.each do |table_name, counts| %>
        <div>
          <%= "#{table_name}: #{counts}" %>
        </div>
      <% end %>
      <br />
    </p>
  </body>
</html>
