<%= simple_form_for(:general_search, defaults: { required: false }, url: searches_path, method: :get) do |f| %>
  <%= f.input :name, label:, input_html: { value: params.dig(:general_search, :name) } %>

  <div class='my-4'><%= f.button :submit, 'Search' %></div>
<% end %>
