.column.row
  br
  = simple_form_for(@citation, html: { data: { 'abide': '', 'live-validate': true } }) do |f|
    = f.hidden_field :project_id, value: params[:project_id]
    = f.error_notification
    |Accession Number (e.g. PubMed ID)
    span data-tooltip="" tabindex="1" title="e.g. Pubmed ID, Cochrane, MBASE, etc."
      | &nbsp;
      i class="fi-info"
    = f.input :accession_number, label: false, autofocus: true
    = f.input :authors, label: 'Authors', placeholder: 'Author name(s)', required: true
    = f.input :name, label: 'Title', required: true
    = f.input :abstract, as: :text, input_html: { rows: 5 }
    = f.association :citation_type, label: 'Citation Type', selected: 1
    br
    h5 Journal
    = f.simple_fields_for :journal do |j_f|
      = j_f.input :name, label: 'Name', required: false
      = j_f.input :volume, required: false
      = j_f.input :issue, required: false
      = j_f.input :publication_date, label: 'Pub Year', required: false
    h6 Page Numbers
    .row
      .columns.small-6
        = f.input :page_number_start, label: false
      .columns.small-6
        = f.input :page_number_end, label: false
    br
    h5 System Numbers
    = f.input :pmid, label: 'Pubmed ID'
    = f.simple_fields_for :citations_projects, CitationsProject.find_by(citation: @citation, project: @project) do |sff_cp|
      = sff_cp.input :refman, label: 'Reference Manager ID'
      = sff_cp.input :other_reference, label: 'Other Reference ID'
    = f.input :registry_number, label: 'Registry Number'
    = f.input :doi, label: 'DOI'

    .row.m-10
      .form-actions
        = f.button :submit
        - if existing_citation
          .float-right
