- section_name = eefps.extraction_forms_projects_section.section.name.titleize.singularize

.reveal id="modal-#{ eefps.id.to_s }" data-reveal=''
  h5 Example #{ section_name } Names and Descriptions

  .table-scroll

    table.hover.fill-suggestion style='width: 100%;' data-section-id="#{ eefps.id.to_s }"

      thead
        tr
        - if section_name == 'Outcome'
          th Type of Outcome
          th Domain
          th Specific Measurement
          th Timepoint(s)
        - else
          th Name
          th Description
        th Suggested by

      tbody
        / #!!! Add profject lead info if project lead.
        - eefps.type1s_suggested_by_project_leads.each do |efpst1|
          - t1 = efpst1.type1
          tr
            - if section_name == 'Outcome'
              td[data-t1-type data-t1-type-id="#{ efpst1.type1_type.try(:id) || '' }"] = efpst1.type1_type.try(:name) || ''
              td[data-t1-name] = t1.name
              td[data-t1-description] = t1.description
              td[data-timepoints]
                - if efpst1.timepoint_names.present?
                  ul
                    - efpst1.timepoint_names.each do |tn|
                      li[data-tp-name="#{ tn.name }" data-tp-unit="#{ tn.unit }"] = tn.pretty_print_export_header
              td = t1.suggestion.user.handle
            - else
              td[data-t1-name] = t1.name
              td[data-t1-description] = t1.description
              td = t1.suggestion.user.handle

  button.close-button data-close='' aria-label='Close modal' type='button'
    span aria-hidden='true'
      '&times;

a.suggestion-list-button.button.hollow data-open="modal-#{ eefps.id.to_s }"
  'Suggested #{ eefps.section.name }
