<%= f.error_notification %>
<div class="alert callout" data-abide-error='' style='display: none;'>
  <p>
    <i class="fi-alert"></i>
    Please correct the errors below.
  </p>
</div>
<div class="form-inputs">
  <%= f.simple_fields_for(:extraction_form, f.object.extraction_form || f.object.build_extraction_form) do |kq_f| %>
    <%= kq_f.input :name, label: t('extraction_form_title'), required: true, hint: "Name can't be blank" %>
  <% end %>
</div>
<div class="form-actions">
  <%= f.button :submit, t('.save') %>
</div>
