/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require toastr_rails
 *= require dropzone/dropzone
 *= require zmultiselect.min
 *= require foundation-datepicker.min
 */

@import 'settings';
//@import "font-awesome";

// Cocoon.
.add_fields {
  white-space: pre;
}

// Turbolinks.
.turbolinks-progress-bar {
  height: 4px;
  background-color: red;
}

// Navigation.
#navigation {
  //padding: 0;

  .title-bar .title-bar-left {
    float: left;
    padding: 0;
    margin-left: 5px;
  }

  .top-bar {
    padding: 0;
    margin: 0;
    z-index: 999;
    a:hover {
      background-color: transparent;
    }

    img {
      cursor: pointer;
    }
  }

  .top-bar > .top-bar-right {
    a:hover {
      // color: #200845;

      &:after {
        border-top-color: #200845;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
  }
}
// END Navigation.

// Select2
span.select2-container {
  //width: 100% !important;
}
// END Select2

body {
  margin: 0;
}

.content {
  min-height: 100vh;
}

a {
  color: $primary-color;

//  &:visited {
//    color: $primary-color;
//  }
//
//  &:hover {
//    color: $primary-color;
//    background-color: transparent;
//  }

//  &.button {
//    color: $white !important;
//  }

  &.disabled {
    pointer-events: none;
  }
}

a.button.remove-link {
  color: red !important;
  background-color: transparent;
  opacity: 0.6;
  transition: all 0.35s ease-in-out;
  margin-bottom: 5px;

  &:hover, &:focus {
    color: red !important;
    background-color: transparent;
    border: 1px solid red;
    opacity: 1;
  }
}

.title-heading {
  h2 {
    float: left;
  }

  a.button.secondary {
    float: right;
    margin-top: 1.1em;
  }
}

body div.top-bar {
  padding: 3px 3px 6px 3px;

  .top-bar-right {
    margin-top: 9px;

    a.button {
      border: 1px solid white;
      border-radius: 20px;
      margin-left: 5px;

      @include breakpoint(small only) {
        margin-top: 10px;
      }
    }
  }

  a {
    font-size: 1.1em;
    color: $white;

    &:hover {
      border-radius: 2px;
      background-color: $secondary-color;
    }
  }
}

.error {
  color: red;
}

table ul {
  //margin: rem-calc(10);
}

ul hr {
  width: 80%;
  margin: 0;
}

ul.menu.vertical.submenu.is-dropdown-submenu {
  background-color: white;
  border-color: $medium-gray;
  padding: 10px 10px 0 30px;

  li {
    &.title {
      font-weight: bold;
      color: $secondary-color;
      padding: 4px 0 0 4px;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.contain-in-viewport {
  overflow: scroll;
  max-height: 95vh;
}

// END Miscellaneous stuff.

// Pagination.
.pagination {
  .current {
    a {
      color: $white;
    }
  }
}
// END Pagination.

// Preventing FOUC (http://foundation.zurb.com/sites/docs/responsive-navigation.html)
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
// END Preventing FOUC (http://foundation.zurb.com/sites/docs/responsive-navigation.html)

// Toastr
#toast-container {
  div.toast {
    opacity: 1;
  }

  &.toast-bottom-right,
  &.toast-bottom-left,
  &.toast-bottom-center,
  &.toast-bottom-full-width {
    top: auto;
  }

}
// END Toastr

// Debug window.
pre.debug_dump {
  background-color: $primary-color;
  border: 1px solid gray;
  color: yellow;
  margin: 10px;
  padding: 5px;
  overflow-x: scroll;
}
// END Debug window.

// Off-Canvas-Link
.off-canvas-link {
  position: fixed;
  z-index: 1;
  top: 50%;
  right: 20px;
  cursor: pointer;
}
// END Off-Canvas-Link

// Scroll top-of-the-page button.
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  background-color: #777777;
  color: #eeeeee;
  width: 40px;
  height: 38px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 0.8;
}
.scroll-top-wrapper i.fi {
  line-height: 0;
  font-size: 2em;
}
// END Scroll top-of-the-page button.

.form-inputs label {
  color: $primary-color;

  &.required abbr {
    color: $alert-color;
  }
}

.table-scroll table {
  width: 100%;

  td, th {
    border-radius: 2px;
    min-width: 11em;
    border: 1px solid grey;
  }

  &.consolidate .missing-value {
    margin-bottom: 3px;
    border: 1.2px solid red;
    min-height: 18px;
  }
}

.column.row.footer {
  min-height: 300px;
  background-color: $primary-color;
}

.off-canvas-content {
  min-height: -webkit-fill-available;
}

// Extractions.
// Since we only have one extraction form at the moment we can safely hide the tab links.
#extraction-forms-projects-tabs {
  display: none;
}

a.accordion-title.populations {
  font-size: 1em;
}
// END Extractions.

// Spinner.
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
// END Spinner.

// Off-Canvas-Nav-Items
.off-canvas-nav-items {
  ul {
    li {
    }
  }
}
// END Off-Canvas-Nav-Items

// Results section nav table.
.results-nav-table td {
  border: 1px solid grey;
  width: 40%;
  &.active {
    background: repeating-linear-gradient(45deg, #eacfff, #fff 10px, #fff 10px, #fff 20px);
  }
}
// END Results section nav table.

.menubar {
  background-image: asset-data-url("background-hero-top.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0;
  margin: 0;
}

.menubar-2 {
  background-color: white;
}

.top-bar {
  ul {
    background-color: unset;
  }
}

.top-bar-2 {
  background-color: white;
    ul {
      background-color: white;
    }
    a {
      color: black !important;
    }
}

.is-dropdown-submenu > li:hover {
  background: #dee1e8;
}

.dropdown .is-dropdown-submenu a {
  color: black;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a {
  color: white;
}

.table-fixed-headers {
  table {
    thead {
      position: sticky;
      top: 0;
      z-index: 2;
    }
    th, td {
      margin: 0;
      padding: 0;
      background-clip: padding-box;
      background-color: white;
      min-width: 200px;
      height: 20px;
      &.bg-lightblue {
        background-color: lightblue;
      }
      &.bg-lightgreen {
        background-color: lightgreen;
      }
      &.bg-lightpink {
        background-color: lightpink;
      }
      &.vertical {
        font-weight: bold;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        min-width: 65px;
        width: 65px;
        position: sticky;
        left: 0;
        z-index: 1;
      }
      &.vertical > div {
        -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
        -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
        -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
        filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
        -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
        margin-left: -10em;
        margin-right: -10em;
      }
      &.freeze {
        position: sticky;
        left: 65px;
        z-index: 1;
        font-weight: bold;
      }
    }
  }
}

body.extractions.work, body.sd_meta_data.edit {
  .status-switch {
    cursor: pointer;
    border-radius: 0.4rem;
    background-color: grey;
    font-weight: bold;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    margin-left: 1rem;
    transition: all 0.3s ease;
    height: 2.1rem;
    width: 5.5rem;
    position: relative;
    .status-label {
      transition-delay: 0.1s;
      transition: all 0.2s ease;
      color: white;
      position: absolute;
      top: 0.45rem;
      font-size: 1.1rem;
      left: 2.4rem;
    }
  }
  .status-switch::after {
    border-radius: 0.2rem;
    position: absolute;
    top: 0.3rem;
    left: 0.35rem;
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #fefefe;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    content: '';
  }

  .status-switch.completed::after {
    left: 6.1rem;
  }

  .status-switch.completed {
    background-color: #1cd05f;
    width: 7.9rem;
    .status-label {
      left: 0.4rem;
    }
  }
//  .status-switch.waiting {
//    background-color: blue;
//  }
}

.progress {
  margin-bottom: 0;
  width: 90%;
}

// Select2 overflow fixes
.select2-container--default {
  display: table!important;
  table-layout: fixed!important;
}

li.select2-selection__choice {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; //use this if you want to shorten
}
ul.select2-selection__rendered {
    padding-right: 12px !important; //overrides select2 style
}

// There is an annoying textarea resizing issue and I cannot find the cause
// solution is to ban all horizontal resizing -Birol
textarea {
  resize: vertical !important;
}

.preview-button {
  border-radius: 0;
  background-color: #016BAB;
  padding: 0.4rem;
  z-index: 1000;

  &.disabled {
    background-color: grey !important;
  }

  &:hover, &:focus {
    background-color: #1388ce;
    cursor: pointer !important;
  }
}

.create-button {
  background-color: #016BAB !important;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    rgb(192, 192, 192) !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    rgb(192, 192, 192) !important;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    rgb(192, 192, 192) !important;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    rgb(192, 192, 192) !important;
}
::-ms-input-placeholder { /* Microsoft Edge */
  color:    rgb(192, 192, 192) !important;
}

::placeholder { /* Most modern browsers support this now. */
  color:    rgb(192, 192, 192) !important;
}

.row {
  max-width: max(90%, 1200px);
}

.grid-container {
  max-width: unset;
}

textarea {
  min-height: 1.5em;
}

#loading-indicator {
  position: fixed;
  z-index: 200;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

#spinner {
  position: fixed;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  margin-left: -25px;
  margin-top: -25px;
  border-radius: 6px;
  background-image: url("/assets/spinner.gif");
}

.card-divider, .card-section {
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

label {
  font-size: 1rem;
  line-height: normal;
}

label > [type='checkbox'], label > [type='radio'] {
  margin-bottom: 0;
}

div.checkbox, div.radio {
  margin-bottom: 4px;
}

.question-row-column {
  vertical-align: top;
}

thead th {
  text-align: center;
  font-size: 18px;
}

td {
  vertical-align: top;
}

.clean-table table tr td:first-child {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 11em;
}

table.unstriped tbody tr td:first-child {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
  width: 11em;
}

.overlay-parent {
  position: relative;
}

input, textarea, table, select, [type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'] {
  margin: 0;
}

ul {
  margin-bottom: 0;
}

.card-divider {
  background:rgba($color: #F8F8FF, $alpha: 0.75);
}

thead {
  background: rgba($color: #f8f8f8, $alpha: 0.75)
}

tbody {
  background: rgba($color: #fefefe, $alpha: 0.75);
}

tbody tr:nth-child(even) {
  background: rgba($color: #f1f1f1, $alpha: 0.75);
}

.button {
  margin: 0rem;
}

.table-fixed-headers td {
  position: relative;
}