/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require toastr_rails
 *= require select2

 */
@import 'settings';

// Miscellaneous stuff.
body {
  margin: 0;
}
a {
  color: $primary-color;
  &:visited {
    color: $primary-color;
  }
  &:hover {
    color: $primary-color;
    background-color: $white;
  }
}
.top-bar {
  margin: 0;
  padding: 3px;
  a {
    color: $white;
    &:hover {
      color: $primary-color;
      background-color: $secondary-color;
    }
  }
}
.error {
  color: red;
}
ul hr {
  width: 80%;
  margin: 0;
}
li.title {
  color: $secondary-color;
}
li:last-child {
  margin-bottom: 15px;
}
hr.top-bar-ruler {
  margin-top: 0;
}
.is-dropdown-submenu {
  border-color: $primary-color;
  li.title {
    padding: 4px 0 0 4px;
  }
}
// END Miscellaneous stuff.

// Preventing FOUC (http://foundation.zurb.com/sites/docs/responsive-navigation.html)
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
// END Preventing FOUC (http://foundation.zurb.com/sites/docs/responsive-navigation.html)

// Debug window.
pre.debug_dump {
  background-color: $color-complement-1;
  border: 1px solid gray;
  margin: 10px;
  padding: 5px;
  overflow-x: scroll;
}
// END Debug window.

// Scroll top-of-the-page button.
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  background-color: #777777;
  color: #eeeeee;
  width: 40px;
  height: 38px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 0.8;
}
.scroll-top-wrapper i.fi {
  line-height: 0;
  font-size: 2em;
}
// END Scroll top-of-the-page button.
