/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require toastr

 */

body {
  margin: 0;
  .content {
    margin-top: 20px;
    padding: 0 5px;
  }
}

.top-bar {
  border-bottom: 1px solid #e7e7e7;
}

.top-bar, .top-bar ul {
  background-color: #f8f8f8;
}

// Debug window.
pre.debug_dump {
  border: 1px solid grey;
  margin: 10px;
  padding: 5px;
  overflow-x: scroll;
}
// END Debug window.

// Scroll top-of-the-page button.
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  background-color: #777777;
  color: #eeeeee;
  width: 40px;
  height: 38px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 0.8;
}
.scroll-top-wrapper i.fi {
  line-height: 0;
  font-size: 2em;
}
// END Scroll top-of-the-page button.

.error {
  color: red;
}
