/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require toastr_rails
 *= require select2

 */

@import 'settings';

// Cocoon.
.add_fields {
  white-space: pre;
}

// Turbolinks.
.turbolinks-progress-bar {
  height: 4px;
  background-color: red;
}

// Navigation.
#navigation {
  padding: 0;

  a:hover {
    text-decoration: none;
  }

  .title-bar .title-bar-left {
    float: left;
    padding: 0;
    margin-left: 5px;
  }

  .top-bar > .top-bar-left {
    a:hover {
      background-color: transparent;
    }

    img {
      cursor: pointer;
    }
  }

  .top-bar > .top-bar-right {
    a:hover {
      //color: #200845;

      &:after {
        border-top-color: #200845;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-left-color: transparent;
      }
    }
  }
}
// END Navigation.

// Select2
span.select2-container {
  //width: 100% !important;
}
// END Select2

body {
  margin: 0;
}

.content {
  margin-top: 10px;
}

a {
  color: $primary-color;

  &:visited {
    color: $primary-color;
  }

  &:hover {
    color: $primary-color;
    background-color: transparent;
  }

  &.button {
    color: $white !important;
  }
}

a.button.remove-link {
  color: red !important;
  background-color: transparent;
  opacity: 0.6;
  transition: all 0.35s ease-in-out;
  margin-bottom: 5px;

  &:hover, &:focus {
    color: red !important;
    background-color: transparent;
    border: 1px solid red;
    opacity: 1;
  }
}

.title-heading {
  h2 {
    float: left;
  }

  a.button.secondary {
    float: right;
    margin-top: 1.1em;
  }
}

body div.top-bar {
  padding: 3px;

  .top-bar-right {
    margin-top: 6px;

    a.button {
      border: 1px solid white;
      border-radius: 20px;
      margin-left: 5px;

      @include breakpoint(small only) {
        margin-top: 10px;
      }
    }
  }

  a {
    font-size: 1.1em;
    color: $white;

    &:hover {
      border-radius: 2px;
      background-color: $secondary-color;
    }
  }
}

.error {
  color: red;
}

table ul {
  margin: rem-calc(10);
}

ul hr {
  width: 80%;
  margin: 0;
}

ul.menu.vertical.submenu.is-dropdown-submenu {
  border-color: $primary-color;

  li {
    &.title {
      font-weight: bold;
      color: $secondary-color;
      padding: 4px 0 0 4px;
    }

    &:last-child {
      margin-bottom: 15px;
    }
  }
}

.contain-in-viewport {
  overflow: scroll;
  max-height: 95vh;
}

// END Miscellaneous stuff.

// Pagination.
.column.row .pagination {
  li {
    a,
    a:visited {
      color: $primary-color;

      &:hover {
        background: none;
      }
    }

    &.current {
      a,
      a:visited {
        color: $white;
      }
    }
  }
}
// END Pagination.

// Preventing FOUC (http://foundation.zurb.com/sites/docs/responsive-navigation.html)
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }
}
// END Preventing FOUC (http://foundation.zurb.com/sites/docs/responsive-navigation.html)

// Toastr
#toast-container {
  div.toast {
    opacity: 1;
  }

  &.toast-bottom-right,
  &.toast-bottom-left,
  &.toast-bottom-center,
  &.toast-bottom-full-width {
    top: auto;
  }

}
// END Toastr

// Debug window.
pre.debug_dump {
  background-color: $color-complement-1;
  border: 1px solid gray;
  margin: 10px;
  padding: 5px;
  overflow-x: scroll;
}
// END Debug window.

// Scroll top-of-the-page button.
.scroll-top-wrapper {
  position: fixed;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  text-align: center;
  z-index: 1;
  background-color: #777777;
  color: #eeeeee;
  width: 40px;
  height: 38px;
  line-height: 48px;
  right: 30px;
  bottom: 30px;
  padding-top: 2px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.scroll-top-wrapper:hover {
  background-color: #888888;
}
.scroll-top-wrapper.show {
  visibility: visible;
  cursor: pointer;
  opacity: 0.8;
}
.scroll-top-wrapper i.fi {
  line-height: 0;
  font-size: 2em;
}
// END Scroll top-of-the-page button.

.form-inputs label {
  color: $color-primary-4;

  &.required abbr {
    color: $alert-color;
  }
}

.table-scroll table {
  width: 100%;

  td, th {
    border-radius: 3px;
  }

  &.consolidate .missing-value {
    margin-bottom: 3px;
    border: 1.2px solid red;
    min-height: 18px;
  }
}

.column.row.footer {
  min-height: 300px;
  background-color: $color-primary-0;
}

.off-canvas-content {
  min-height: -webkit-fill-available;
}

// Extractions.
// Since we only have one extraction form at the moment we can safely hide the tab links.
#extraction-forms-projects-tabs {
  display: none;
}

a.accordion-title.populations {
  font-size: 1em;
}
// END Extractions.
