#citation-row {
  height: 70vh;
}

#citation-column {
  height: 100%;
}

#citation-container {
  overflow-y: scroll;
  max-height: 70vh;
}

#breadcrumb-group {
  overflow-x: scroll;
  white-space: nowrap;
}

.display-inline {
  display: inline; 
}

#control-group {
  margin: 20px;
  display: inline-block;
}

#previous-button {
  margin-right: 10px;
}

#next-button {
  margin-left: 10px;
}

.full-height {
  height: 100%;
}

#pagination-buttons {
  display: inline-block;
  margin: auto;
}

.citation-info  {
  margin-right: 250px;
}

.info-wrapper {
  float: left;
  margin-right: -250px;
  width: 100%;
}

.citation-buttons {
  float: right;
}

#feature-panel {
  display: flex;
  flex-direction: row;
  .button {
    margin-right: 0.5rem; 
  }
}

#reasons-list {
  height: 70vh;
  overflow-y: scroll;
}

#term-group-buttons-table, #edit-term-groups-table{
  tr {
    background-color: white;
    td {
      input {
        font-size: 100%;
        height: 80%;
        margin-bottom: 0rem;
      }
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      .button {
        margin-bottom: 0rem;
      }
    }
  }
  tr.selected {
    background-color: #e8e7f0;
  }
}

#new-term-group {
  margin-right: 0.8rem;
}

.putgc-color-palette {
  display: flex; 
  margin: 0;
}

.putgc-color-label {
  height: 20px; 
  width: 20px;
}

