#citation-row {
  height: 70vh;
}

#citation-column {
  height: 100%;
}

#citation-container {
  overflow-y: scroll;
  max-height: 70vh;
}

#breadcrumb-group {
  overflow-x: scroll;
  white-space: nowrap;
}

.display-inline {
  display: inline; 
}

#control-group {
  margin: 20px;
  display: inline-block;
}

#previous-button {
  margin-right: 10px;
}

#next-button {
  margin-left: 10px;
}

.full-height {
  height: 100%;
}

#pagination-buttons {
  display: inline-block;
  margin: auto;
}

.citation-info  {
  margin-right: 250px;
}

.info-wrapper {
  float: left;
  margin-right: -250px;
  width: 100%;
}

.citation-buttons {
  float: right;
}

#feature-panel {
  display: flex;
  flex-direction: row;
  .button {
    margin-right: 0.5rem; 
  }
}

#tags-modal {
  width: 50vw;
  height: 50vh;
  position: relative;
  left: 25vw;
  top: 25vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  #tags-controls {
    display: flex;
    flex-direction: row;
  }

  #tags-list {
    .tag {

    }
  }
}
