#citation-row {
  height: 60vh;
}

#citation-column {
  height: 100%;
}

#citation-abstract {
  height: 30vh;
  overflow-y: scroll;
}

#breadcrumb-group {
  overflow-x: scroll;
  white-space: nowrap;
}
