#citation-row {
  height: 70vh;
}

#citation-column {
  height: 100%;
}

#citation-container {
  overflow-y: scroll;
  max-height: 70vh;
}

#breadcrumb-group {
  overflow-x: scroll;
  white-space: nowrap;
}

.display-inline {
  display: inline; 
}

#control-group {
  margin: 20px;
  display: inline-block;
}

#previous-button {
  margin-right: 10px;
}

#next-button {
  margin-left: 10px;
}

.full-height {
  height: 100%;
}

#pagination-buttons {
  display: inline-block;
  margin: auto;
}

.citation-info  {
  margin-right: 250px;
}

.info-wrapper {
  float: left;
  margin-right: -250px;
  width: 100%;
}

.citation-buttons {
  float: right;
}

#feature-panel {
  display: flex;
  flex-direction: row;
  .button {
    margin-right: 0.5rem; 
  }
}

#reasons-list {
  height: 70vh;
  overflow-y: scroll;
}

#new-term-group {
  margin-right: 0.5rem;
}

.term-group-buttons-table, #edit-term-groups-table {
  tr {
    background-color: white !important;
    td {
      input {
        font-size: 100%;
        height: 80%;
        margin-bottom: 0rem;
      }
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      .button {
        margin-bottom: 0rem;
      }
    }
  }
  tr.selected {
    background-color: #e8e7f0;
  }
}

#new-term-group {
  margin-right: 0.8rem;
}

.putgc-color-palette {
  display: flex; 
  margin: 0;
}

.putgc-color-label {
  height: 20px; 
  width: 20px;
}

#terms-modal {
  .tm-inner-div{
    .tm-left-panel {
      margin-right: 1rem;
    }

    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction:row;
    td {
      .tg-title-input {
        font-size: 100%;
        height: 80%;
        margin-bottom: 0rem;
      }
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
    }
    .button {
      margin-bottom: 0rem;
    }
  }
  
  position: absolute;
  z-index: 999;
  top: 5vh;
  left: 50%;
  //width: max(50vw,400px); does not work

  @media only screen and (max-width: 1000px) {
    width: 95vw;
    height: 95vh;
  }

  width: 50vw;
  height: 90vh;
  background-color: white;
  transform: translate(-50%, 0);
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.5), 0 0 40px 0 rgba(0, 0, 0, 0.8);

  #buttons-row {
    width: 100%;
    display: flex;
    #hide-modal-button {
      margin-left: 0.5rem; 
      margin-top: 0.5rem; 
    }
  }
}
