// Place all the styles related to the ExtractionFormsProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div[class*=' prereq-'] {
  opacity: 0.5;
  cursor: not-allowed;
}

div[class*=' prereq-'] * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  pointer-events: none;
}


div[class*=' off-prereq-'] {
  opacity: initial;
  cursor: initial;
}

div[class*=' off-prereq-'] * {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -o-user-select: initial;
  user-select: initial;
  pointer-events: initial;
}
