// Place all the styles related to the ExtractionFormsProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#vertical-tabs > li > div {
  margin: 2.5em 1em;
}

ul.extraction-form-controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    padding: 5px;
  }
}

ul#dependencies {
  list-style: none;
  margin: 0;
}

.ef-preview-container {
  position: relative;
  height: 95% !important;
  width: 90% !important;
}

.utilities {
  display: flex;
  flex-direction: column;
  height: 100%;
}

table#efp-question-list {
  width: 100%;
  col:first-child {
    width: 1%;
  }
  col:nth-child(2) {
    width: 3%;
  }

  td:first-child, th:first-child, td:nth-child(2), th:nth-child(2) {
    min-width: 10px;
  }
  td:nth-child(2) {
    font-size: 1rem;
    text-align: center;
  }
  thead {
    background-color: transparent;
    border: none;
    tr:hover {
      background-color: transparent;
    }

    tr {
      th {
        border: none;
        background-color: transparent;
      }
    }
  }
  tbody {
    background-color: transparent;
    border: none;
    tr {
      background-color: #f6f6fd;
      border: none ;

      td {
        border-right: solid 1px #e2e2e2;
      }

      td:first-child {
        background-color: white;
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-right: solid 1px grey;
        .grippy {
          content: '....';
          width: 10px;
          height: 25px;
          line-height: 5px;
          cursor: grab;
          margin-right: 12px;
          font-size: 20px;
          font-family: sans-serif;
          letter-spacing: 1px;
          color: grey;
        }
        .grippy::after {
          content: '·· ·· ·· ·· ··';
        }
      }

      td:last-child {
        border-right: solid 1px grey;
      }
    }

    tr:hover {
      background-color: lavender;
    }
  }
}

table#efp-type1-list {
  width: 100%;
  col:first-child {
    width: 1%;
  }
  col:last-child {
    width: 1%;
  }
  td:first-child, th:first-child {
    min-width: 10px;
  }
  thead {
    background-color: transparent;
    border: none;
    tr:hover {
      background-color: transparent;
    }

    tr {
      th {
        border: none;
        background-color: transparent;
      }
    }
  }
  tbody {
    background-color: transparent;
    border: none;
    tr {
      background-color: #f6f6fd;
      border: none ;

      td {
        border-right: solid 1px #e2e2e2;
      }

      td:first-child {
        background-color: white;
        border-left: none;
        border-top: none;
        border-bottom: none;
        border-right: solid 1px grey;
        .grippy {
          content: '....';
          width: 10px;
          height: 25px;
          line-height: 5px;
          cursor: grab;
          margin-right: 12px;
          font-size: 20px;
          font-family: sans-serif;
          letter-spacing: 1px;
          color: grey;
        }
        .grippy::after {
          content: '·· ·· ·· ·· ··';
        }
      }

      td:last-child {
        border-right: solid 1px grey;
      }
    }

    tr:hover {
      background-color: lavender;
    }
  }
}
