// Place all the styles related to the Extractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

.consolidate {
  li.accordion-item {
    a,
    a:visited {
      //color: gray;
      text-decoration: underline;
    }

    a.accordion-title {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  li.accordion-item.is-active {
    a.accordion-title {
      th {
        font-weight: bold !important;
      }

      font-weight: bold;
      color: $primary-color;
    }

    div.accordion-content {
      border-top: none;

      a.button {
        font-weight: normal;
        margin-top: 31px;
      }

      .callout.description {
        min-height: 140px;
      }
    }
  }

  .edit-type1-link {
    position: absolute;
    font-size: 0.6rem;
    margin-left: 7px;

    &:hover {
      color: $primary-color;
      font-weight: bold;
      text-decoration: none;
    }
  }

  table {
    margin-bottom: 0;
  }
}

.clean-table table tr td:first-child {
  font-weight: bold;
}

.section-header {
  display: flex;
  flex-direction: row;
  .status-switch {
    margin-left: 1rem;
    .switch-input:checked ~ .switch-paddle {
      background-color: $success-color;
      width: 6.5rem;
    }
    .switch-paddle::after {
      display: none;
    }
    .switch-paddle {
      width: 3.5rem;
    }
    .switch-inactive {
      left: 13%;
    }
    .switch-active {
      left: 9%;
    }
  }
}

body.extractions.index {
  .tooltip {
    max-width: rem-calc(300px) !important;
  }
  .progress {
    margin-bottom: 0;
  }
  .projects-users-role {
    cursor: pointer;
    .projects-users-role-label {
      padding-left: 8px;
      padding-right: 20px;
      white-space: nowrap;
    }
//    .projects-users-role-label:hover {
//      color: white;
//      border-radius: 5px;
//      border: 5px solid #006aaa;
//      background-color: #006aaa;
//    }
  }
}
