// Place all the styles related to the Extractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

.consolidate {
  li.accordion-item {
    a,
    a:visited {
      //color: gray;
      text-decoration: underline;
    }

    a.accordion-title {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  li.accordion-item.is-active {
    a.accordion-title {
      th {
        font-weight: bold !important;
      }

      font-weight: bold;
      color: $primary-color;
    }

    div.accordion-content {
      border-top: none;

      a.button {
        font-weight: normal;
        margin-top: 31px;
      }

      .callout.description {
        min-height: 140px;
      }
    }
  }

  .edit-type1-link {
    position: absolute;
    font-size: 0.6rem;
    margin-left: 7px;

    &:hover {
      color: $primary-color;
      font-weight: bold;
      text-decoration: none;
    }
  }

  table {
    margin-bottom: 0;
  }
}

.clean-table table tr td:first-child {
  font-weight: bold;
}

.section-header {
  display: flex;
  flex-direction: row;
}

#project-list a.accordion-title {
  color: #5b5b5b;
}

#project-list li.accordion-item {
  &:hover {
    background-color: lavender;
  }
}

body.extractions.index {
  .tooltip {
    max-width: rem-calc(300px) !important;
  }
  .projects-users-role {
    cursor: pointer;
    .projects-users-role-label {
      padding-left: 8px;
      padding-right: 20px;
      white-space: nowrap;
    }
//    .projects-users-role-label:hover {
//      color: white;
//      border-radius: 5px;
//     border: 5px solid #006aaa;
//      background-color: #006aaa;
//    }
  }
}

span.select2-container {
  width: 100% !important;
}

.create-extraction-button {
  margin-top: 1rem !important;
}

button.suggestion-list-button {
  &:hover {
    background-color: lavender !important;
  }
}


.extractions.work, .extractions.consolidate {
  .checkbox, .radio {
    label {
      display: inline;
    }
  }
}

.remove-comparison-button {
  border: 1px solid grey;
  padding: 0px 5px;
  font-weight: 900;
  background-color: white;
  border-radius: 3px;
  color: black;
  z-index: 5;
}

.tr-group-top {
  border-top: 2px solid !important;
}

.tr-group-bottom {
  border-bottom: 2px solid !important;
}

.outcome-completed {
  color: green;
}

.results-table td {
  border-right: 1px solid black;
}

.green {
  color: green !important;
}

.bold {
  font-weight: bold !important;
}

.checkmarked:after {
  content: "\2713";
}

.tabs-title > a:hover {
  background: initial !important;
}