// Place all the styles related to the ExtractionFormsProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul#vertical-tabs > li > div {
  margin: 2.5em 1em;
}

ul.extraction-form-controls {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

  li {
    float: left;
    padding: 5px;
  }
}

ul#dependencies {
  list-style: none;
  margin: 0;
}
