@import 'settings';

a.add_fields {
  margin-top: 1rem;
}

i.fi-plus {
  //color: $secondary-color;
}

a.button:hover i.fi-plus,
a.button:focus i.fi-plus {
  color: white;
}

.alert.callout p {
  margin: 0;
}

.hint {
  display: none;
  position: absolute;
  margin-bottom: 1em;
}

div.input {
  margin-bottom: 2rem;
}
