.imports.new {
  #import-columns-panel {
    border: 1px solid;
    height: 15rem;
    overflow: scroll;

    .import-columns-row {
      margin: 0.5rem 0.5rem 1rem 0.5rem;
      .headers {
        overflow: scroll;
        .top, .bottom  {
          height: 3rem;
          width: max-content;
          display: flex;
          flex-direction: row;
          overflow: visible;
        }
        .top  {
          background-color: aliceblue;
        }
        .bottom {
          background-color: lavender;
        }
      }

      .sheet-name {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        align-items: flex-end;
        margin-bottom: 1vh;
        select {
          margin-left: 1vw;
          margin-bottom: 0;
          width: 10vw;
        }
      }
      .import-column, .header-column {
        margin: 0.3rem;
        min-width: 8rem;
        padding: 1rem 0.4rem 1rem 0.4rem;
        height: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .import-column {
        background-color: grey;
      }
      .header-column {
        background-color: hotpink;
      }
    }
  }
}