/* separate */
.vertical-scroll-wrapper {
  position: relative;
  height: 100%;
}
.vertical-scroll-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(
    rgb(243, 244, 246),
    rgba(255, 255, 255, 0.001)
  ); /* transparent keyword is broken in Safari */
}
.vertical-scroll-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: linear-gradient(
    rgba(255, 255, 255, 0.001),
    rgb(243, 244, 246)
  ); /* transparent keyword is broken in Safari */
}
.vertical-scroll-wrapper-item {
  overflow-y: scroll;
  background: rgb(243, 244, 246);
  width: 100%;
  height: 100%;
  padding: 25px 0;
  line-height: 1.2;
  /* text-align: center; */
}

/* separator */
