// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

mark{
  background: #FF9718;
}

.project-search {
  margin-top: 15px;

  .column {

    &.medium-10 {
      padding-left: 0;
    }

    &.search-icon {
      margin-top: 10px;
      padding-left: 15px;
    }

    i.fi-page-search {
      font-size: 20px;
      color: $secondary-color;
      float: right;
    }
  }
}

ul.legend {
  list-style-type: none;

  @include breakpoint(medium) {
    float: right;
  }
}

ul.accordion,
ul.legend {

  h4 {
    font-style: italic;
  }

  li.accordion-item.is-active a {
    font-weight: bold;
    color: $primary-color;

    &.button {
      font-weight: normal;
    }
  }

  li {
    position: relative;

    a {
      text-decoration: none;
      color: gray;
    }

    // Colored triangles on the project index page.
    &.publishing-approved:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: $success-color transparent;
    }

    &.publishing-requested:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: $warning-color transparent;
    }
    // END Colored triangles on the project index page.
  }
}

