// Place all the styles related to the ProjectReportLinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.query-draggable {
  border: 1px solid;
  margin: 10px 0;
  padding: 3px;
  cursor: grab;
  display: block;
  font-weight: 100;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.droppable {
  vertical-align: top;
}
.button.success.add-column {
  color: white;
}
li > .field-option-header, li > .field-option-header > * {
  padding-left: 0;
}
.field-option-column-title {
  text-align: center;
}
.noselect {
  color: lightgrey;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}