// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

mark {
  background: $secondary-color;
}

//.project-filter {
//
//  .filter-icon {
//    position: relative;
//    right: 46px;
//    height: 39px;
//    border: 1px solid lightgray;
//    padding: 0;
//    width: 36px;
//
//    i {
//      position: relative;
//      font-size: 30px;
//      color: gray;
//      top: 4px;
//      left: 6px;
//    }
//  }
//}

.project-controls {
  position: relative;
  top: 30px;

  .toggle-sort-order {
    float: right;

    button {
      margin: 10px 0 0 2px;

      &.active {
        background-color: $secondary-color;
      }

      &.disabled {
        cursor: pointer;
      }
    }
  }
}

#project-list {

  ul.accordion,
  ul.legend {

    h4 {
      font-style: italic;
    }

    li.accordion-item.is-active {
      a.accordion-title {
        font-weight: bold;
        color: $primary-color;
      }

      div.accordion-content {
        border-top: none;

        a.button {
          font-weight: normal;
          margin-top: 31px;
        }

        .callout.description {
          min-height: 140px;
        }
      }
    }
  }

  span.label.warning {
    background-color: #56017b;
  }
}

// Colored triangles on the project index page.
ul {

  &.legend {
    list-style-type: none;
    float: right;
  }

  li {
    position: relative;

    a:visited {
      color: gray;
    }

    &.publishing-approved:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: $success-color transparent;
    }

    &.publishing-requested:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: #56017b transparent;
    }
  }
}
// END Colored triangles on the project index page.

