// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

mark {
  background: $secondary-color;
}

.project-filter {
  .input-group-button button {
    margin-right: 5px
  }

  .search-field {
    width: 0;
    height: 40px;
    margin-top: 1rem;
    padding: 0;
    border: none;
    transition: all 0.5s ease;
  }

  .expand-search {
    width: 80%;
    //max-width: calc(80% - 3rem);
    max-width: 80%;
    border: 1px solid #c9c9c9;
    padding-left: 1rem;
  }
}

.project-controls {
  height: 30px;

  .toggle-sort-order {
    float: right;

    button {
      margin: 18px 0 0 2px;

      &.active {
        background-color: $primary-color;
        cursor: not-allowed;
      }

      &.disabled {
        background-color: $primary-color;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color;
          opacity: 1;
        }
      }
    }
  }
}

#project-list {

  h4 {
    font-style: italic;
  }

  li.accordion-item {
    a,
    a:visited {
      color: gray;
    }
  }

  li.accordion-item.is-active {
    a.accordion-title {
      font-weight: bold;
      color: $primary-color;
    }

    div.accordion-content {
      border-top: none;

      a.button {
        font-weight: normal;
        margin-top: 31px;
      }

      .callout.description {
        min-height: 140px;
      }
    }
  }

  span.label.warning {
    background-color: #56017b;
  }
}

// Colored triangles on the project index page.
ul {

  &.legend {
    list-style-type: none;
    float: right;
  }

  li {
    position: relative;

    &.publishing-approved:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: $success-color transparent;
    }

    &.publishing-requested:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: #56017b transparent;
    }
  }
}
// END Colored triangles on the project index page.

