// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

#project-tabs li a.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

fieldset a.add_fields {
  float: right;
}

ul.accordion {
  margin-right: 0;
}

mark {
  background: $secondary-color;
}

.project-filter {
  .input-group-button button {
    margin-right: 5px
  }

  .search-field {
    width: 0;
    height: 40px;
    margin-top: 0.7rem;
    padding: 0;
    border: none;
    transition: all 0.5s ease;
  }

  .expand-search {
    width: 80%;
    //max-width: calc(80% - 3rem);
    max-width: 80%;
    border: 1px solid #c9c9c9;
    padding-left: 1rem;
  }
}

.project-controls {
  height: 30px;

  .toggle-sort-order {
    margin-top: -10px;
    margin-left: -10px;

    button {
      margin: 18px 0 0 2px;

      &.active {
        background-color: $primary-color;
        cursor: not-allowed;
      }

      &.disabled {
        opacity: 0.9;
        border: solid 1px $primary-color;
        background-color: transparent;
        color: $primary-color;
        cursor: pointer;

        &:hover {
          background-color: $secondary-color;
          border-color: $secondary-color;
          color: white;
          opacity: 1;
        }
      }
    }
  }
}

#project-list {

  h4 {
    font-style: italic;
  }

  li.accordion-item {
    a,
    a:visited {
      color: gray;
    }
  }

  li.accordion-item.is-active {
    a.accordion-title {
      font-weight: bold;
      color: $primary-color;
    }

    div.accordion-content {
      border-top: none;

      a.button {
        font-weight: normal;
        margin-top: 31px;
      }

      .callout.description {
        min-height: 140px;
      }
    }
  }

  span.label {
    background-color: #777;
  }
}

ul.legend {
  list-style-type: none;
  margin-left: 0;
  //float: right;
}

div.pagination-centered {
  float: right;
}

// Colored triangles on the project index page.
ul {

  li {
    position: relative;

    &.publishing-approved:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: $success-color transparent;
    }

    &.publishing-requested:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-width: 16px 16px 0 0;
      border-style: solid;
      border-color: #56017b transparent;
    }
  }
}

///// MANAGE CITATIONS
#citations {
  ul {
    margin-top: 0rem;
    li:nth-of-type(even) { 
      background-color: darken( $white, 5% );
      a.citation-label {
        &:hover {
          background-color: darken( $white, 15% );
        }
      }
    }
  }

  .citation-row {
    .citation-label {
      font-size: 0.7rem;
      line-height: 0.9rem;
      color: #5b5b5b;
      .citation-title, .citation-authors {
        width: calc(100% - 35px);
      }

      .citation-title{
        //margin-bottom: 0.8rem;
        overflow: hidden;
        //font-size: 15px;
        font-weight: bold;
        //color: #5b5b5b;
      }

      .citation-authors{
        font-style: italic;
        overflow: hidden;
        //font-size: 13px;
        //color: #666666;
      }

      .citation-numbers {
        display: inline;
        //margin-top: 0.8rem;
        //font-size: 13px;
        //color: #666666;
        //font-weight: bold;
       }
    }

    .citation-journal {
      //margin-top: 0rem;
      display: inline;
      //margin-bottom: 1rem;
      //color: #5b5b5b;
      //font-weight: bold;
    }

    .citation-journal-date {
      display: inline;
      //font-style: italic;
      //color: #666666;
      //margin-bottom: 1rem;
    }

    .citation-journal {
      margin-top: 0rem;
      margin-bottom: 1rem;
      font-size: 13px;
      color: #5b5b5b;
      //font-weight: bold;
    }

    .citation-journal-date {
      display: inline;
      //font-style: italic;
      //color: #666666;
      //margin-bottom: 1rem;

    }

    .citation-abstract {
      font-size: 13px;
      color: #303030;
    }

    margin-bottom: 0px;
    &:hover {
      background-color: darken( $white, 10% );
    }

    &.is-active {
      background-color: #F7F3F9 !important;
      a.citation-label {
        color: darken( $primary-color, 10% ) !important;
        height: auto;
        overflow: auto;
        white-space: normal;
        border-bottom: 0px;
        &:hover {
          background-color: #E5DEE8 !important;
        }
        .citation-numbers, .citation-authors {
          margin-bottom: 0.5rem;
        }
        .citation-authors, .citation-title {
          margin-top: 0.5rem;
        }
        .citation-authors, .citation-title {
          margin-top: 0.5rem;
        }

      }
      .accordion-content {
        border-top: 0px;
        background-color: #F7F3F9;
      }
    }
  }

  min-height: 800px;
}

#search-div {
  width: 100%;
  display: flex;

  #sort-button {
    #width: 4.5rem;
    margin-right: 0.25rem;
  }

  #sort-select {
    max-width: 4.5rem; 
  }

  #search-box {
    flex-grow: 100;
    margin-right: 1.5rem;
    input {
      width: 100%;
    }
  }

  #search-box, #sort-button, #sort-select {
    height: 2rem;
  }
}

.citation-select {
  margin-bottom: 0px;
}

a.citation-label {
  line-height: 1.2rem;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 4px;
  padding-bottom: 4px;
}

#citations {
  min-height: 800px;
}

//.remove-button-container {
//  position: absolute;
//  top: 0.5rem;
//  right: 0.6rem;  
//  width: 2rem;
//  height: 2rem;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//}


.remove-button {
  font-size: 1rem;
  color: $dark-gray;
  margin-right: 5px;
  transition: color 0.25s;
}

.remove-button:hover {
  text-decoration: none;
  color: $alert-color;
}

.edit-citation-row {
  display: flex;
  flex-direction: row-reverse;
  .button { 
    margin-top: 10px;
    margin-bottom: 0px;
  }
}

.buttons-row {
  .button {
    margin-left: 0.5rem;
  }
  display: flex;

.added-item {
  border: solid 1px #666666;
  background-color: #F5F5F5;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.citation-fields {
  .citation-inputs {
    margin-top: 1rem;
    display: flex;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .accession-number {
      input.numeric {
        margin-bottom: 0;
      }
      .pmid-checkbox {
        float: right;
      }
    }

    .citation-abstract {
      textarea {
        height: 8rem;
      }
    }

    .middle-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      div {
        flex: 1;
        padding-left: 0.6rem;

      }
      .journal-name {
        flex:3;
        padding-left: 0;
      }
    }

    .bottom-row {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      .bottom-column {
        flex-direction: column;
        width: 30%;
      }
    }
  }
}

#citations-footer {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: $white;
  margin-bottom: 0px;
}

//abbr[title="required"] {
//  display: none;
//}

///// MANAGE TASKS

.task-box {
  width: 300px;
  height: 365px;
  border-radius: 5px;
  border: solid 1px $primary-color;
  background-color: #F7F3F9;
  display: flex;
  //align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
}

.new-task {
  border: solid 1px #666666;
  background-color: #F5F5F5;
  .task-title, label, .remove-button {
    color: #666666 !important;
  }
}

.task-center {
  margin-left: 20px;
  width: 100%;
}

.tasks-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
}

.projects-users-role-select2 {
  .select2-container--default .select2-selection--multiple {
    height: 100px;
    overflow-y: auto;
  }
}

.task-title {
  font-size: 25px;
  color: $primary-color;
  margin-top: 20px;
  margin-bottom: 20px;
}
  
.task-fields {
  width: 98%;
  margin-bottom: 20px;
}

a.add-task-button {
  height: 80px;
  width: 80px;
  
  font-size: 50px;
  border-radius: 0px;
  
  .fi-plus {
    color: lighten($secondary-color, 20%);
    transition: color 0.3s;
  }
  .fi-plus:hover {
    color: $secondary-color;
  }

  text-decoration: none;
}

.task-button-container {
  height: 360px;
  width: 80px;
  display: flex;
  align-items: center;
}
// END Colored triangles on the project index page.
