// Place all the styles related to the ProjectReportLinks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.query-draggable {
  border: 1px solid;
  margin: 10px 0;
  padding: 3px;
  background-color: white;
  cursor: grab;
}
.droppable {
  vertical-align: top;
}
.button.success.add-column {
  color: white;
}