// Place all the styles related to the ExtractionFormsProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// questions/edit
body.questions.edit {
  label.field-label {
    font-size: 1.2rem;
  }
  #kq-container {
    background: white;
    padding: 0.4rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #adadad; 
    margin: 1rem;
    .checkbox {
      margin-left: 1rem;
      label {
        color: black;
      }
    }
  }
}

input.button.grey {
  background-color: grey;
}

.button.prerequisite-button {
  margin: 1rem;
}

table.dependency-table {
  th {
    padding: 1rem;
  }
}
