// Place all the styles related to the ExtractionFormsProjects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

input.button.grey {
  background-color: grey;
}
