// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

.record-info {
  //margin-bottom: 16px;
  color: $primary-color;
  min-height: 1.5em;
  position: absolute;
  text-align: center;
  top: 3px;
  left: calc(50% - 20px);
  background: white;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid;
}
