// Place all the styles related to the Records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'settings';
.record-info {
  color: $primary-color;
  min-height: 1.5em;
  position: absolute;
  text-align: center;
  top: 0;
  right: calc(100%);
  min-width: 100px;
  background: white;
  border-radius: 10px;
  padding: 2px;
  border: 1px solid;
  pointer-events: none;
  z-index: 1000;
}