// Place all the styles related to the ResultStatisticSections controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.add-comparison {
  font-weight: bold;
}

table.consolidated-data-table {
  tr {
    height: 2em;
  }
}

form.dirty {
  input, textarea {
    background-color: lightyellow !important;
  }
}
