/* // Place all the styles related to the sd_meta_data controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ */

body.sd_meta_data {
  .grid-form *, .grid-form *:before, .grid-form *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
  .grid-form input[type="text"], .grid-form input[type="email"], .grid-form input[type="number"], .grid-form input[type="password"], .grid-form input[type="search"], .grid-form input[type="tel"], .grid-form input[type="url"], .grid-form input[type="color"], .grid-form input[type="date"], .grid-form input[type="datetime"], .grid-form input[type="datetime-local"], .grid-form input[type="month"], .grid-form input[type="time"], .grid-form input[type="week"], .grid-form textarea, .grid-form select { padding: 0; margin: 0; width: 100%; font-size: small; }
  .grid-form input[type="text"], .grid-form input[type="email"], .grid-form input[type="number"], .grid-form input[type="password"], .grid-form input[type="search"], .grid-form input[type="tel"], .grid-form input[type="url"], .grid-form input[type="color"], .grid-form input[type="date"], .grid-form input[type="datetime"], .grid-form input[type="datetime-local"], .grid-form input[type="month"], .grid-form input[type="time"], .grid-form input[type="week"], .grid-form textarea { font-size: small; }
  .grid-form input[type="text"]::-webkit-input-placeholder, .grid-form input[type="email"]::-webkit-input-placeholder, .grid-form input[type="number"]::-webkit-input-placeholder, .grid-form input[type="password"]::-webkit-input-placeholder, .grid-form input[type="search"]::-webkit-input-placeholder, .grid-form input[type="tel"]::-webkit-input-placeholder, .grid-form input[type="url"]::-webkit-input-placeholder, .grid-form input[type="color"]::-webkit-input-placeholder, .grid-form input[type="date"]::-webkit-input-placeholder, .grid-form input[type="datetime"]::-webkit-input-placeholder, .grid-form input[type="datetime-local"]::-webkit-input-placeholder, .grid-form input[type="month"]::-webkit-input-placeholder, .grid-form input[type="time"]::-webkit-input-placeholder, .grid-form input[type="week"]::-webkit-input-placeholder, .grid-form textarea::-webkit-input-placeholder { font-weight: 100; color: #595959; font-size: small; }
  .grid-form input[type="text"]:-moz-placeholder, .grid-form input[type="email"]:-moz-placeholder, .grid-form input[type="number"]:-moz-placeholder, .grid-form input[type="password"]:-moz-placeholder, .grid-form input[type="search"]:-moz-placeholder, .grid-form input[type="tel"]:-moz-placeholder, .grid-form input[type="url"]:-moz-placeholder, .grid-form input[type="color"]:-moz-placeholder, .grid-form input[type="date"]:-moz-placeholder, .grid-form input[type="datetime"]:-moz-placeholder, .grid-form input[type="datetime-local"]:-moz-placeholder, .grid-form input[type="month"]:-moz-placeholder, .grid-form input[type="time"]:-moz-placeholder, .grid-form input[type="week"]:-moz-placeholder, .grid-form textarea:-moz-placeholder { font-weight: 100; color: #595959; font-size: small; }
  .grid-form input[type="text"]:focus, .grid-form input[type="email"]:focus, .grid-form input[type="number"]:focus, .grid-form input[type="password"]:focus, .grid-form input[type="search"]:focus, .grid-form input[type="tel"]:focus, .grid-form input[type="url"]:focus, .grid-form input[type="color"]:focus, .grid-form input[type="date"]:focus, .grid-form input[type="datetime"]:focus, .grid-form input[type="datetime-local"]:focus, .grid-form input[type="month"]:focus, .grid-form input[type="time"]:focus, .grid-form input[type="week"]:focus, .grid-form textarea:focus { outline: none; font-size: small; }
  .grid-form fieldset { border: none; padding: 0; margin: 0; }
  .grid-form fieldset legend { border: none; border-bottom: 4px solid #404040; color: #404040; font-size: 18px; font-weight: bold; padding-bottom: 5px; position: static; width: 100%; }
  .grid-form fieldset fieldset legend { border-bottom: 2px solid #404040; font-weight: normal; }
  .grid-form fieldset fieldset fieldset legend { border-bottom: 1px solid #404040; font-weight: normal; font-size: 15px; }
  .grid-form [data-row-span] { width: 100%; zoom: 1; }
  .grid-form [data-row-span]:before, .grid-form [data-row-span]:after { content: ""; display: table; }
  .grid-form [data-row-span]:after { clear: both; }
  @media only screen and (min-width: 0) and (max-width: 700px) { .grid-form [data-row-span] { border-bottom: none; } }
  .grid-form [data-row-span] [data-field-span] { padding: 8px; float: left; }
  @media only screen and (min-width: 0) and (max-width: 700px) { .grid-form [data-row-span] [data-field-span] { width: 100% !important; } }
  @media only screen and (min-width: 700px) { .grid-form [data-row-span] [data-field-span] { display: block; } }
  .grid-form [data-row-span] [data-field-span] label:first-child { font-weight: bold; margin-top: 0; font-weight: bold; font-size: 12px; color: #333; display: block; margin-bottom: 4px; }
  .grid-form [data-row-span] [data-field-span] label:first-child:hover { cursor: text; }
  //.grid-form [data-row-span] [data-field-span]:hover { background: rgba(153, 123, 177, 0.2); cursor: text; }
  .sd-item:hover { background: rgba(153, 123, 177, 0.2); border-radius: 0.1rem; cursor: text; }
  .grid-form [data-row-span] [data-field-span].focus { background: #fffad4; }
  .grid-form [data-row-span] [data-field-span].focus label { color: #262626; }
  @media print { .grid-form [data-row-span] { display: table; height: 56px; page-break-inside: avoid; }
    .grid-form [data-row-span] [data-field-span] { display: table-cell; float: none; }
    .grid-form [data-row-span] [data-field-span].focus, .grid-form [data-row-span] [data-field-span]:hover { background: none; }
    .grid-form [data-row-span] [data-field-span] label:first-child { letter-spacing: 0; } }
  .grid-form [data-row-span="1"] > [data-field-span="1"] { width: 100%; }
  .grid-form [data-row-span="2"] > [data-field-span="1"] { width: 50%; }
  .grid-form [data-row-span="2"] > [data-field-span="2"] { width: 100%; }
  .grid-form [data-row-span="3"] > [data-field-span="1"] { width: 33.33333%; }
  .grid-form [data-row-span="3"] > [data-field-span="2"] { width: 66.66667%; }
  .grid-form [data-row-span="3"] > [data-field-span="3"] { width: 100%; }
  .grid-form [data-row-span="4"] > [data-field-span="1"] { width: 25%; }
  .grid-form [data-row-span="4"] > [data-field-span="2"] { width: 50%; }
  .grid-form [data-row-span="4"] > [data-field-span="3"] { width: 75%; }
  .grid-form [data-row-span="4"] > [data-field-span="4"] { width: 100%; }
  .grid-form [data-row-span="5"] > [data-field-span="1"] { width: 20%; }
  .grid-form [data-row-span="5"] > [data-field-span="2"] { width: 40%; }
  .grid-form [data-row-span="5"] > [data-field-span="3"] { width: 60%; }
  .grid-form [data-row-span="5"] > [data-field-span="4"] { width: 80%; }
  .grid-form [data-row-span="5"] > [data-field-span="5"] { width: 100%; }
  .grid-form [data-row-span="6"] > [data-field-span="1"] { width: 16.66667%; }
  .grid-form [data-row-span="6"] > [data-field-span="2"] { width: 33.33333%; }
  .grid-form [data-row-span="6"] > [data-field-span="3"] { width: 50%; }
  .grid-form [data-row-span="6"] > [data-field-span="4"] { width: 66.66667%; }
  .grid-form [data-row-span="6"] > [data-field-span="5"] { width: 83.33333%; }
  .grid-form [data-row-span="6"] > [data-field-span="6"] { width: 100%; }
  .grid-form [data-row-span="7"] > [data-field-span="1"] { width: 14.28571%; }
  .grid-form [data-row-span="7"] > [data-field-span="2"] { width: 28.57143%; }
  .grid-form [data-row-span="7"] > [data-field-span="3"] { width: 42.85714%; }
  .grid-form [data-row-span="7"] > [data-field-span="4"] { width: 57.14286%; }
  .grid-form [data-row-span="7"] > [data-field-span="5"] { width: 71.42857%; }
  .grid-form [data-row-span="7"] > [data-field-span="6"] { width: 85.71429%; }
  .grid-form [data-row-span="7"] > [data-field-span="7"] { width: 100%; }
  .grid-form [data-row-span="8"] > [data-field-span="1"] { width: 12.5%; }
  .grid-form [data-row-span="8"] > [data-field-span="2"] { width: 25%; }
  .grid-form [data-row-span="8"] > [data-field-span="3"] { width: 37.5%; }
  .grid-form [data-row-span="8"] > [data-field-span="4"] { width: 50%; }
  .grid-form [data-row-span="8"] > [data-field-span="5"] { width: 62.5%; }
  .grid-form [data-row-span="8"] > [data-field-span="6"] { width: 75%; }
  .grid-form [data-row-span="8"] > [data-field-span="7"] { width: 87.5%; }
  .grid-form [data-row-span="8"] > [data-field-span="8"] { width: 100%; }
  .grid-form [data-row-span="9"] > [data-field-span="1"] { width: 11.11111%; }
  .grid-form [data-row-span="9"] > [data-field-span="2"] { width: 22.22222%; }
  .grid-form [data-row-span="9"] > [data-field-span="3"] { width: 33.33333%; }
  .grid-form [data-row-span="9"] > [data-field-span="4"] { width: 44.44444%; }
  .grid-form [data-row-span="9"] > [data-field-span="5"] { width: 55.55556%; }
  .grid-form [data-row-span="9"] > [data-field-span="6"] { width: 66.66667%; }
  .grid-form [data-row-span="9"] > [data-field-span="7"] { width: 77.77778%; }
  .grid-form [data-row-span="9"] > [data-field-span="8"] { width: 88.88889%; }
  .grid-form [data-row-span="9"] > [data-field-span="9"] { width: 100%; }
  .grid-form [data-row-span="10"] > [data-field-span="1"] { width: 10%; }
  .grid-form [data-row-span="10"] > [data-field-span="2"] { width: 20%; }
  .grid-form [data-row-span="10"] > [data-field-span="3"] { width: 30%; }
  .grid-form [data-row-span="10"] > [data-field-span="4"] { width: 40%; }
  .grid-form [data-row-span="10"] > [data-field-span="5"] { width: 50%; }
  .grid-form [data-row-span="10"] > [data-field-span="6"] { width: 60%; }
  .grid-form [data-row-span="10"] > [data-field-span="7"] { width: 70%; }
  .grid-form [data-row-span="10"] > [data-field-span="8"] { width: 80%; }
  .grid-form [data-row-span="10"] > [data-field-span="9"] { width: 90%; }
  .grid-form [data-row-span="10"] > [data-field-span="10"] { width: 100%; }
  .grid-form [data-row-span="11"] > [data-field-span="1"] { width: 9.09091%; }
  .grid-form [data-row-span="11"] > [data-field-span="2"] { width: 18.18182%; }
  .grid-form [data-row-span="11"] > [data-field-span="3"] { width: 27.27273%; }
  .grid-form [data-row-span="11"] > [data-field-span="4"] { width: 36.36364%; }
  .grid-form [data-row-span="11"] > [data-field-span="5"] { width: 45.45455%; }
  .grid-form [data-row-span="11"] > [data-field-span="6"] { width: 54.54545%; }
  .grid-form [data-row-span="11"] > [data-field-span="7"] { width: 63.63636%; }
  .grid-form [data-row-span="11"] > [data-field-span="8"] { width: 72.72727%; }
  .grid-form [data-row-span="11"] > [data-field-span="9"] { width: 81.81818%; }
  .grid-form [data-row-span="11"] > [data-field-span="10"] { width: 90.90909%; }
  .grid-form [data-row-span="11"] > [data-field-span="11"] { width: 100%; }
  .grid-form [data-row-span="12"] > [data-field-span="1"] { width: 8.33333%; }
  .grid-form [data-row-span="12"] > [data-field-span="2"] { width: 16.66667%; }
  .grid-form [data-row-span="12"] > [data-field-span="3"] { width: 25%; }
  .grid-form [data-row-span="12"] > [data-field-span="4"] { width: 33.33333%; }
  .grid-form [data-row-span="12"] > [data-field-span="5"] { width: 41.66667%; }
  .grid-form [data-row-span="12"] > [data-field-span="6"] { width: 50%; }
  .grid-form [data-row-span="12"] > [data-field-span="7"] { width: 58.33333%; }
  .grid-form [data-row-span="12"] > [data-field-span="8"] { width: 66.66667%; }
  .grid-form [data-row-span="12"] > [data-field-span="9"] { width: 75%; }
  .grid-form [data-row-span="12"] > [data-field-span="10"] { width: 83.33333%; }
  .grid-form [data-row-span="12"] > [data-field-span="11"] { width: 91.66667%; }
  .grid-form [data-row-span="12"] > [data-field-span="12"] { width: 100%; }

  .tabs-title > a {
    color: black;
    font-weight: bold;
  }

  .draggable {
    border-color: black;
    border-style: solid;
    border-width: thin;
    background-color: white;
    margin: 10px 10px 40px 10px;
    padding: 10px;
  }

  .droppable {
    //min-height: 50px;
    height: auto;
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-width: thin;
  }

  .disableselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge*/
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
  }

  .legend-box {
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border-style: solid;
    border-width: thin;
    float: left;
  }

  .green-box {
    background-color: lightgreen;
  }

  .alice-box {
    background-color: aliceblue;
  }

  .mapping-controls {
    margin: 0 10px;
  }

  .bg-light-grey {
    background-color: #dcdcf1;

    &:hover {
      background-color: #D9D9EC !important;
    }
  }

  li.tabs-title > a:visited {
    color: inherit;
  }

  .tabs-panel {
    legend {
      width: auto !important;
    }
  }

  .check-container, .warning-container {
    display: inline;
  }

  .select2-selection__placeholder {
    color: black !important;
  }

  // For Safari
  .select2-search__field {
    padding: 0 !important;
  }

  .sd-kq-mapping-container {
    //border: 1px solid #333;
    border: none !important;
  }

  .sd-kq-mapping-legend-container {
    border: none !important;
  }

  .no-border {
    border: none !important;
  }

  .report-kq {
    border: 1px solid #d6e5f3;
    margin-bottom: 1rem !important;
  }

  .srdr-kq {
    &:before {
      border-radius: 2rem;
    }
    position: relative;
    margin: 1rem 1rem 2rem 1rem;
    padding-left: 1.3rem;
    border: none;
    border-radius: 2rem;
    background-color: #493163;
    color: white;
  }

  .clamp-span {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
  }

  .srdr-kq-target {
    .srdr-kq {
      width: 100%;
      margin: 0.3rem;
    }
    margin: 1rem 8px 8px 8px;
    padding: 11px;
    border-radius: 2rem;
    border: 2px dashed #78658c;
    color: #78658c;
  }


  .sd-inner {
    .sd-inner {
      background: #997bb133;
      border: solid 1px #d0c9d0;

      &:hover {
        //border: 2px solid red;
        background: #997bb155;
      }
    }
    margin: 0.8rem 1.2rem 1.8rem 1.2rem;
    background-color: #f3eff3;
    border-radius: 0.1rem;
    padding: 0.3rem;
    border: solid 1px #e4dee4;
  }

  .sd-show-inner {
    margin: 1.2rem 1.2rem 1.2rem 1.2rem;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    box-shadow: 0.1rem 0.1rem 0.5rem #adadad;
  }

  .sd-show-image {
    margin: .5rem;
  }

  .sd-item, .sd-inner {
    input:not([type="file"]), textarea {
      background-color: #ffffffb5;
      //border: 1px solid #cacacaf5;
    }
  }

  .journal-article-url-list,
  .other-item-list,
  .analytic-framework-list,
  .key-question-list,
  .picod-list,
  .search-strategy-list,
  .grey-literature-list,
  .prisma-list,
  .result-list,
  .comparison-outcome-by-population-subgroup-list,
  .comparison-outcome-by-intervention-subgroup-list,
  .evidence-table-list,
  .pairwise-meta-analytic-result-list,
  .network-meta-analysis-result-list,
  .meta-regression-analysis-result-list {
    .nested-fields {
      margin-bottom: 0;
    }
  }

  .text-right .remove_fields {
    color: #c10e0e;
    font-weight: bolder;
    font-size: 105%;
  }

  .collapse-button {
    div {
      margin: 0.5rem 0 0 0;
    }
    color: #4b83b5;
    font-weight: bolder;
    font-size: 105%;
  }
  .add-item-link {
    margin: 0 1.2rem 0 1.2rem;
    color: #8f20a2;
    font-weight: bolder;
    font-size: 105%;
  }

  input, textarea {
    padding: 0 0.2rem 0 0.2rem !important;
  }

  .mapping-kq-title {
    color: grey;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    border-left: none !important;
    border-right: none !important;
    a {
      padding-top: 0.6rem;
      padding-bottom: 0.6rem;
    }
    background: repeating-linear-gradient(
      -45deg,
      #F2F2F2,
      #f2f2f2 10px,
      #F8F8F8 10px,
      #F8F8F8 20px
    );
  }

  .tabs-title {
    a:hover {
      text-decoration: none;
      background: #c4c4c430;
    }
    a {
      padding-left: 0.7rem;
      padding-right: 0.7rem;
    }
  }

  .sd-image {
    height:auto;
    max-width:100%;
  }

  .invalid-url::after {
    color: red;
    content: "Please enter a valid URL" !important;
  }

  .infoDiv {
    width: 50%;
  }

  .srdr-kq .hover-message {
    font-size: 130%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 140ms;
    border-radius: 2rem;
    opacity: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .srdr-kq:hover .hover-message {
    background-color: #2e7c80;
    opacity: 1;
  }

  #status-check-modal {
    text-align: center;
    font-size: larger;

    #status-check-modal-buttons {
      .confirm {
        background-color: #30c769;
      }
      .button {
        margin: 0 1rem 0 1rem;
      }
      margin: 1rem;
    }
  }

  .kq-mapped {
    background-color: #38969a;
  }

  .empty-input, .empty-associations {
    border: solid 2px #ff5e00 !important;
    background-color: #faeee6 !important;
  }
  .empty-kq.srdr-kq, .empty-kq.report-kq {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      opacity: 0.25;
      top: 0;
      left: 0;
      background-color: #fa6400 !important;
    }
    border: solid 2px #ff5e00 !important;
  }

  .nested-fields {
    margin-bottom: 0.1rem;
  }

  .hoverable-figure {
    width: fit-content;
    position: relative;
  }

  .hoverable-figure .hover-message {
    color: white;
    position: absolute;
    top: 1rem;
    right: 1rem;
    a {
      color: white;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: darkslateblue;
    }
  }
  .hover-message:hover {
    a {
      color: lavender;
      -webkit-text-stroke-color: maroon;
    }
  }
  .sd-kq-prompt {
    font-size: 120%;
  }

  .sd-kq-destroy-picods-button {
    background-color: #cc4b37;
    margin: 1rem 0.5rem 0 0;
    a {
      color: white !important;
      text-decoration: none !important
    }
  }

  .sd-kq-only-kq-button {
    background-color: #ffae00;
    margin: 1rem 0.5rem 0 0.5rem;
    a {
      color: white !important;
      text-decoration: none !important
    }
  }

  .sd-kq-go-back-button {
    margin: 1rem 0 1rem 0.5rem;
  }

  input[type="radio"] {
    display: table-cell;
  }

  #report-upload {
    margin-bottom: 0;
  }

  .sd-meta-data-index-delete {
    font-weight: bold;
    color: #cc4b37 !important;
  }

  .sd-meta-data-index-query {
    margin-left: 1rem;
    background-color: #e49013;
    a {
      color: white !important;
    }
  }

  .sd-meta-data-index-edit {
    font-weight: bold;
  }
}

.sd-meta-data-index-request-publish {
  line-height: inherit;
  color: #4C0D7D;
  text-decoration: none;
  cursor: pointer;
}
.sd-meta-data-index-request-publish:hover {
  color: #410b6c;
  text-decoration: underline;
}
