// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

.elicit-registration {
  @include breakpoint(small only) {
    a.button {
      position: relative;
      top: -8px;
    }
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -20px #c4a300; }
  40% { box-shadow: 0 0 40px #c4a300; }
  60% { box-shadow: 0 0 40px #c4a300; }
  100% { box-shadow: 0 0 -20px #c4a300; }
}

.glow {
  animation: glowing 5000ms infinite;
  background-color: #fdd835;
  color: $primary-color;
  border-radius: 3px;
  padding: 5px;
}

.The-Easy-Systematic, .The-Easy-Systematic-2 {
  font-family: Halant;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.The-Easy-Systematic-2 {
  color: black;
}

.Systematic-Reviews-Made {
  font-family: Halant;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
}

.Its-100-free-powe, .Its-100-free-powe-2 {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #dee1e8;
}

.Its-100-free-powe-2 {
  color: #414247;
}

.Free-Powerful {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #4a4a4a;
}

.Rectangle {
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

// Hero section.
.hero, .hero-2 {
  height: 525px;
  background-image: asset-data-url("background-hero-bottom.png");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 30px;

  .Hero-Message {
    padding-left: 5px;
  }
}

.hero-2 {
  color: black;
  background-image: unset;
}
// END Hero section.

.Search-review-datas {
  font-family: Halant;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #1c1819;
  padding-top: 32px;
  margin-bottom: 32px;
}

.Search-review-datas .text-style-1 {
  color: #33124b;
}

#new_user {
  text-align: center;

  .small-centered {
    padding-top: 50px;
  }

  label {
    text-align: left;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c1819;
  }

  #user_email {
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
  }

  #user_password {
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
  }

  .Rectangle-141 {
    border-radius: 3px;
    background-color: #fdd835;
  }

  input.button[type='submit'] {
    border-radius: 3px;
    background-color: #fdd835;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #33124b;
  }

  @media screen and #{breakpoint(large)} {
    input.button[type='submit'] {
      border-radius: 3px;
      background-color: #fdd835;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.44;
      letter-spacing: normal;
      text-align: center;
      color: #33124b;
    }
  }
}

.Rectangle-2 {
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
  @media screen and #{breakpoint(large)} {
    top: -100px;
  }
  top: -50px;
  // margin: -100px auto;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  .read-more {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #5e258a;
  }

  .See-how-you-can-work {
    font-family: Halant;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
    margin-bottom: 30px;
  }

  h3.text-center {
    font-family: Halant;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }
}

.Rectangle-3 {
  margin-top: 50px;
  margin-bottom: 85px;
  padding-top: 72px;
  padding-bottom: 72px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  .read-more {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #5e258a;
  }

  .See-how-you-can-work {
    font-family: Halant;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
    margin-bottom: 30px;
  }

  h3.text-center {
    font-family: Halant;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }
}

.Create-your-systemat {
  font-family: Halant;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #1c1819;
}

.SRDR-has-a-variety {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #414247;
  margin-bottom: 20px;
}

.Build-electronic-ext {
  font-family: Halant;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1c1819;
}

.Feature-Lorem-ips {
  font-family: NotoSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: grey;
}

.placeholder-snapshot {
  width: 585px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.Recently-published {
  padding-top: 100px;

  .cell {
    padding: 20px;
  }
  h1 {
    font-family: Halant;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }
  h4 {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
  }
  h5 {
    font-family: Halant;
  }
  h6 {
    color: #888b94;
    font-size: 0.9em;
  }
  .bold {
    font-weight: bold;
  }
  .summary {
    color: black;
    line-height: 1.5;
  }
}

.recent-project {
  margin-bottom: 30px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
}

.join-the-professionals, .join-2 {
  height: 256px;
  background-image: asset-data-url("background-cta.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  text-align: center;

  h1 {
    font-family: Halant;
    font-weight: bold;
    color: white;
  }

  h6 {
    a {
      color: black;
    }
  }

  .button {
    background-color: #fdd835;
    font-weight: bold;
  }
}

.join-2 {
  .button {
    background-color: #f0f0f0;
  }
}

.get-started {
  font-size: 18px;
  border-radius: 3px;
  background-color: #4c0d7d;
  font-weight: bold;

  a:visited {
    color: white;
  }
}

.button.learn-more {
  font-size: 18px;
  font-weight: bold;
  border-radius: 3px;
  border-color: black;
  background-color: white;
  margin-left: 10px;

  a:visited {
    color: #414247;
  }
}

.stock-image-placeholder-1 {
  width: 280px;
  height: 186px;
  position: relative;
  top: -10px;
  left: 225px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.stock-image-placeholder-2 {
  top: -50px;
  left: 125px;
  width: 308px;
  height: 166px;
  position: relative;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  border-radius: 3px;
}

.how-you-title {
  font-weight: bold;
  font-family: 'Halant';
}

.user-description {
  padding-bottom: 20px;
}

.testimonial-box {
  text-align: center;
  width: 468px;
  padding-bottom: 30px;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  h4 {
    font-weight: bold;
  }

  h6 {
    font-size: 0.9em;
  }

  h7 {
    font-family: 'Noto Sans';
    font-style: italic;
  }
}

.testimonial-rows {
  margin-bottom: 120px;
}

.testimonial-row {
  padding-top: 120px;
}

.testimonial-left {
  margin-right: 30px;
}

.testimonial-picture {
  position: relative;
  top: -62px;
  margin-bottom: -62px;
}

.features-box {
  padding-top: 100px;
  background-color: #dee1e8;
}

.feature-box {
  padding-bottom: 100px;

  h1 {
    font-family: Halant;
    font-size: 2.5em;
    font-weight: bold;
    line-height: normal;
  }

  h5 {
    font-family: Halant;
    font-size: 1.1em;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: relative;
    left: 12px;
  }

  h6 {
    color: #414247;
  }
}

.sub-feature-box {
  margin-left: 35px;
  height: 78px;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  margin-bottom: 6px;

  img {
    margin-left: 12px;
    margin-right: 12px;
  }
}
