// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'settings';

.elicit-registration {
  @include breakpoint(small only) {
    a.button {
      position: relative;
      top: -8px;
    }
  }
}

@keyframes glowing {
  0% { box-shadow: 0 0 -20px #c4a300; }
  40% { box-shadow: 0 0 40px #c4a300; }
  60% { box-shadow: 0 0 40px #c4a300; }
  100% { box-shadow: 0 0 -20px #c4a300; }
}

.glow {
  animation: glowing 5000ms infinite;
  background-color: #fdd835;
  color: $primary-color;
  border-radius: 3px;
  padding: 5px;
}

.The-Easy-Systematic {
  font-family: Halant;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #ffffff;
}

.Its-100-free-powe {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #dee1e8;
}

.Rectangle {
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-bottom: 25px;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
}

.hero {
  padding-top: 100px;
}

.Hero-Message {

}

.Search-review-datas {
  font-family: Halant;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: center;
  color: #1c1819;
  padding-top: 32px;
  margin-bottom: 32px;
}

.Search-review-datas .text-style-1 {
  color: #33124b;
}

#new_user {
  text-align: center;

  .small-centered {
    padding-top: 50px;
  }

  label {
    text-align: left;
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #1c1819;
  }

  #user_email {
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
  }

  #user_password {
    border-radius: 3px;
    box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.13);
    background-color: #ffffff;
  }

  .Rectangle-141 {
    border-radius: 3px;
    background-color: #fdd835;
  }

  input.button[type='submit'] {
    border-radius: 3px;
    background-color: #fdd835;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #33124b;
  }
}

.Rectangle-2 {
  padding-top: 72px;
  padding-bottom: 72px;
  margin: -100px auto;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;

  .read-more {
    font-family: AvenirNext;
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: normal;
    text-align: center;
    color: #5e258a;
  }

  .See-how-you-can-work {
    font-family: Halant;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }

  h3.text-center {
    font-family: Halant;
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }
}

.Create-your-systemat {
  margin-top: 170px;
  font-family: Halant;
  font-size: 48px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #1c1819;
}

.SRDR-has-a-variety {
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #414247;
}

.Build-electronic-ext {
  font-family: Halant;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1c1819;
}

.Feature-Lorem-ips {
  font-family: NotoSans;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: grey;
}

.placeholder-snapshot {
  width: 585px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
}

.Leading-professionals {
  padding-top: 72px;
  padding-bottom: 142px;
  background-color: #dee1e8;

  h1 {
    font-family: Halant;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }
}

.Testimonials {
  position: relative;
  top: -100px;
  margin-bottom: -100px;
}

ul.orbit-container {
  background: white;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);

  .orbit-previous, .orbit-next {
    color: grey;
  }

  li {
    padding: 60px;
  }

  h4 {
    font-size: 14px;
  }

  h5 {
    font-size: 12px;
    font-weight: bold;
  }

  h6 {
    font-size: 10px;
    color: grey;
  }
}

.orbit-bullets button {
  width: 0.5rem;
  height: 0.5rem;
}

.orbit-bullets button.is-active {
  background-color: #4c0d7d;
}

.Recently-published {
  .cell {
    padding: 20px;
    margin-bottom: 30px;
  }
  h1 {
    font-family: Halant;
    font-size: 48px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #1c1819;
  }
  .bold {
    font-weight: bold;
  }
}

.recent-project {
  background: white;
  border-radius: 3px;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.15);
}

.more-projects {
  text-align: center;
  font-weight: 500;
}

.join-the-professionals {
  height: 256px;
  background-color: #4c0d7d;
  text-align: center;

  h1 {
    font-family: Halant;
    font-weight: bold;
    color: white;
  }

  h6 {
    a {
      color: black;
    }
  }

  .button {
    background-color: #fdd835;
    font-weight: bold;
  }
}
