.nested-fields style="margin-bottom: 5px;"
  = f.fields_for :author do |authors_citation|
    = authors_citation.text_field :name, input_html: { class: "form-input form-control" }

  = link_to_remove_association "Remove", f, class: "form-button btn btn-default"