<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Abstrackr</title>
    <script
      defer
      src="https://unpkg.com/@alpinejs/focus@3.10.3/dist/cdn.min.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/alpinejs@3.10.3/dist/cdn.min.js"
    ></script>
    <!-- prettier-ignore -->
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="h-full">
    <%= yield %>
  </body>
</html>
