- provide(:title, 'Sign Up')

.row.column
  h2
    | Register a new SRDR+ Account

.row
  .column.small-9
  .column.small-3 style="border: solid 1px black; padding: 5px; width: 200px;"
    p Form Approved
    p OMB No. 0935-0244
    p Exp. Date 10/31/2022

.row
  .column.medium-6.small-centered
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { data: { 'abide': '' } }) do |f|
      .alert.callout data-abide-error='' style='display: none;'
        p
          i.fi-alert>
          ' Please correct the errors below.
      /= f.error_notification

      .form-inputs
        = f.input :email, required: true, hint: 'Email must have the following format: example@domain.edu', autofocus: true
        = f.input :password, label: "Password (Must contain a minium of #{@minimum_password_length} characters.)", required: true,
                             input_html: { minlength: @minimum_password_length }
        /= f.input :password_confirmation, required: true

      .small
        br
        | Already have an account?
        =< link_to('Sign in.', new_user_session_path)

      br

      .form-actions
        = f.button :submit, "Sign up"

    = render "users/shared/links"

br/
br/
hr/
br/
br/

.row.column
  p Public reporting burden for this collection of information is estimated to average 2 minutes per response, the estimated time required to complete the survey. An agency may not conduct or sponsor, and a person is not required to respond to, a collection of information unless it displays a currently valid OMB control number. Send comments regarding this burden estimate or any other aspect of this collection of information, including suggestions for reducing this burden, to: AHRQ Reports Clearance Officer Attention: PRA, Paperwork Reduction Project (0935-0244) AHRQ, 5600 Fishers Lane, # 07W41A, Rockville, MD 20857.
  br/
  p Your responses will be kept confidential to the extent permitted by law, including AHRQ’s confidentiality statute, 42 USC 299c-3(c).